
{% extends "layouts/layout-chs-signed-out.html" %}

{% block pageTitle %}
  Your companies
{% endblock %}


{% block content %}

<div class="govuk-width-container">

    <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
     {% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

    {% set html %}
      <p class="govuk-notification-banner__heading">
        Hannah Salt is no longer digitally authorised to file online for FLOWERS LIMITED.
<p class="govuk-body">You may wish to <a class="govuk-notification-banner__link" href="https://www.gov.uk/guidance/company-authentication-codes-for-online-filing#change-or-cancel-your-code">change the authentication code</a> for this company if Hannah Salt still has access to it.</p>


    {% endset %}

    {{ govukNotificationBanner({
      html: html,
      type: 'success'
    }) }}

</div>
  </div>

<div class="govuk-width-container">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

          <h1 class="govuk-heading-l">Your companies <span class="govuk-caption-m" style = "padding-top:0.5em;"></span></h1>

          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


           <div style=" border-color: #b1b4b6; border-style: solid; border-width: 1px; padding: 2em;">
              <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                 <h2 class="govuk-heading-m">FLOWERS LIMITED</h2>
                </div>
              </div>

              <div class="govuk-grid-row">
                <div class="govuk-grid-column-three-quarters">
                  <p class="govuk-body govuk-!-font-weight-bold">
                      <span class="govuk-body ">Company number</span><br>
                 </span>18882777</p>

                    <p class="govuk-body govuk-!-font-weight-bold">
                        <span class="govuk-body">Correspondence address</span><br>
                   </span> 2nd Floor Red House, 17 London Road, London <br>SA73 8PH </p>

                   <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                    <table class="govuk-table">
                      <thead class="govuk-table__head">

                        <tr class="govuk-table__row">
                          <th class="govuk-table__header" scope="col"> People digitally authorised <br>to file online for this company</th>
                          <th class="govuk-table__header" scope="col"> Authorisation <br> status </th>
                          <th class="govuk-table__header" scope="col"> View </th>
                        </tr>


                      </thead>
                      <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                          <p>Jill Edwards (you)</a>
                        </td>
                        <td class="govuk-table__cell">
                          {{govukTag({
                              text: "CONFIRMED",
                              classes: "govuk-tag--green"
                            })}}
                        </td>
                        <td class="govuk-table__cell">
                        <a href="" class="govuk-link">View details</a>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                    <p> <a href="#" class="govuk-link govuk-link--no-visited-state">File for this company</a></p>
                    <p> <a href="../../delegate-to-presenter/enter-presenter-details" class="govuk-link govuk-link--no-visited-state">Digitally authorise a person to file online for this company</a></p>
                    </div>
                  </div>

                </div>

              </div>
            </div>


          </div>


    </div>

        </div>
    </div>

   <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

</div>
</div>


{% endblock %}
