{% extends "layouts/layout-chs-signed-out.html" %}

{% block pageTitle %}
  Manage account - Companies House - GOV.UK
{% endblock %}

{% set serviceName %}
 
{% endset %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <!-- Note: GOV.UK One Login uses Security as the title for this page -->
    <h1 class="govuk-heading-xl govuk-!-static-margin-bottom-0">
      Manage account 
    </h1>
    <br>
    <div id="passport-issued-hint" class="govuk-hint">
      Make changes to your details and account settings.
    </div>
    <br>

    

 <!--    <p class="govuk-body">You can change your sign in details for this service in your GOV.UK One Login.</p>
    
    <p class="govuk-body"> You'll be able to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>change your email address</li>
      <li>change your password</li>
      <li>change how you get security codes to sign in</li>
      <li>delete your GOV.UK One Login</li>
    </ul>

    <p class="govuk-body">
      <a href="#" class="govuk-link" rel="noreferrer noopener" target="_blank">Go to your GOV.UK One Login to change your sign in details (opens in a new tab) </a>
    </p> -->

    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Account details </h2>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Display name
            </dt>
            <dd class="govuk-summary-list__value">
              {% if (data['display-name'] === "") %}

              example@gmail.com
  
              {% else %}
              
              {{data['display-name']}} 
  
              {% endif %}

            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="name-account">
                Update<span class="govuk-visually-hidden"></span>
              </a>
            </dd>
          </div>
          
        </dl>

      </div>
    </div>

    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Identity verification</h2>
        <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">
              View code history<span class="govuk-visually-hidden"> of personal code</span>
            </a>
          </li>
          <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">
              Create new code<span class="govuk-visually-hidden"> Create new code</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Companies House personal code
            </dt>
            <dd class="govuk-summary-list__value">
              **************
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Show<span class="govuk-visually-hidden"> Show personal code</span>
              </a>
            </dd>
          </div>
        </dl>
      </div>
    </div>


    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Sign in details </h2>
      </div>
      <div class="govuk-summary-card__content">
        <p class="govuk-body">You use your GOV.UK One Login to sign in to your Companies House account.</p>
      
    
        <p class="govuk-body"> You can change these details in your GOV.UK One Login:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>email address</li>
          <li>password</li>
          <li>how you get security codes to sign in</li>
        </ul>

        <p class="govuk-body">
          <a href="https://home.account.gov.uk/settings" class="govuk-link" rel="noreferrer noopener" target="_blank">Change your sign in details in your GOV.UK One Login (opens in a new tab) </a>
        </p>
    
      </div>
    </div>

    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Email preferences</h2>
      </div>
      <div class="govuk-summary-card__content">
        <p class="govuk-body govuk-hint">We may need to send you essential emails from time to time to help you manage your account.</p>

      <p class="govuk-body">We’d like to send you emails to: </p>
          
      <ul class="govuk-list govuk-list--bullet">
        <li>tell you about changes to services or legislation</li>
        <li>give you information from other government departments which may be crucial to you</li>
        <li>invite you to take part in research to help us improve our services</li>
      </ul>
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <div class="">
              <dt class="govuk-summary-list__key">
                Can we send you these emails? 
              </dt>
            </div>
            <dd class="govuk-summary-list__value">
              Yes
            </dd>
             <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> emails to manage account</span>
              </a>
            </dd>
          </div>
         <!-- <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Can we send you emails to help you with running your company?
              <p class="govuk-body govuk-hint"> For example, changes to services or legislation, information from other government departments which may be crucial to the running of your company, or invitations to take part in research to help us improve our services.</p>
            </dt>
            <dd class="govuk-summary-list__value">
              Yes
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> change running your company</span>
              </a>
            </dd> 
          </div>-->
        </dl>
      </div>
    </div>



    <p class="govuk-body govuk-!-margin-top-8 govuk-!-margin-bottom-8"> <a href="#" class="govuk-link govuk-link--no-visited-state">Manage third party applications</a></p>

    {{ govukButton({
      text: "Search for a company",
      classes: "govuk-button--secondary"
    }) }}


  </div>
</div>

{% endblock %}
