{% extends "layouts/layout-chs-signed-out.html" %}

{% block pageTitle %}
  Activate your Companies House account
{% endblock %}

{% block header %}
    {{ govukHeader({ serviceName: "" }) }}
{% endblock %}



{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <form action="email-confirm-you-are-the-presenter" method="post" novalidate>

    <h1 class="govuk-heading-l">Companies House WebFiling account: <br>authorisation to file online for FLOWERS LIMITED</h1>

    <p class="govuk-body">You are receiving this email because Hannah Salt has digitally authorised you to file online for FLOWERS LIMITED.</p>
      <ol class="govuk-list govuk-list--number">
        <li>Select the link in this email.</li>
        <li>Sign in to or create your Companies House WebFiling account.</li>
        <li>Accept or decline if you want to be digitally authorised to file online for this company.</li>
      </ol>
    <p>Link to accept or decline digital authorisation:</p>

    <p class="govuk-body"> <a href="sign-in-auth-person-request" class="govuk-link">https://companieshouse/authorised-person-confirmation-5xbk3ft88</a></p>

    {{ govukInsetText({
    text: "This link expires in 7 days. If you run out of time, an authorised person needs to digitally authorise you to file online for this company again."
    }) }}

    <p class="govuk-body govuk-!-padding-top-6">If you were not expecting to receive this email, and you know the person and company shown, you may wish to get in touch with them. If you do not know them, and were not expecting to receive this email, you can ignore it.
    </p>

    </form>

  </div>
</div>
{% endblock %}
