{% extends "layouts/main.html" %}



{% block pageTitle %}
Email preferences  – {{ serviceName }} - GOV.UK
{% endblock %}


{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>

{% endblock %}



{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="email-preferences" method="post" novalidate>
      
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="email-preferences-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                What type of additional emails can we send you? 
              </h1>
            </legend>
            <div id="email-preferences-hint" class="govuk-hint">
              Select all options that are relevant to you. You can update your preferences at any time. 
            </div>
            <div class="govuk-checkboxes govuk-!-static-padding-top-3" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="waste" name="email-preferences" type="checkbox" value="carcasses">
                <label class="govuk-label govuk-checkboxes__label" for="email-preferences">
                  Emails related to Companies House
                </label>
                <div id="companies-house-email-preferences-hint" class="govuk-hint govuk-checkboxes__hint">
                  For example, changes to services or legislation, information from other government departments which may be important to you, or help to run your company responsibly if you’re a new or existing director. 
                </div>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="email-preferences-2" name="email-preferences" type="checkbox" value="mines">
                <label class="govuk-label govuk-checkboxes__label" for="email-preferences-2">
                  Emails to invite you to take part in user research 
                </label>
                <div id="companies-house-email-preferences-hint" class="govuk-hint govuk-checkboxes__hint">
                  This will help us to improve our services.  
                </div>
              </div>
            </div>
          </fieldset>
        </div>
  
      <div class="govuk-inset-text">
        We may need to send you essential emails from time to time to help you manage your account. 
      </div>

      <p class="govuk-body"> 
        You can find out more about how we handle your personal data in our  <a href="#" class="govuk-link" rel="noreferrer noopener" target="_blank">Personal information charter (opens in new tab)</a>.
      </p>


        {{ govukButton({
          text: "Continue"
        }) }}
      
  
    </form>
    </div>
  </div>
{% endblock %}
