{% extends "layouts/layout_unbranded-with-banner.html" %}

{% block pageTitle %}

{% endblock %}

{% block header %}
    {{ govukHeader({ serviceName: "" }) }}
{% endblock %}



{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/sign-in" method="post" novalidate>

    <h1 class="govuk-heading-l">Companies House: <br>
Jill Edwards is now authorised to file online for FLOWERS LIMITED
</h1>

  <p class="govuk-body">We're sending this email to let you know that Jill Edwards has accepted the invitation to be authorised to file online for FLOWERS LIMITED. They were digitally authorised by Hannah Salt.</p>

  <p class="govuk-body">If you were not expecting Jill Edwards to be digitally authorised, you must resolve this within the company. Companies House cannot give or remove digital authorisation.</p>

</form>

  </div>
  </div>
{% endblock %}
