{% extends "layouts/layout_unbranded-with-banner.html" %}

{% block pageTitle %}

{% endblock %}

{% block header %}
    {{ govukHeader({ serviceName: "" }) }}
{% endblock %}



{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/sign-in" method="post" novalidate>

    <h1 class="govuk-heading-l">Companies House: <br>
Jill Edwards invited to be authorised to file online for FLOWERS LIMITED
</h1>
<p class="govuk-body">We're sending this email to let you know that Hannah Salt has invited Jill Edwards to be digitally authorised to file online for FLOWERS LIMITED.</p>

<p class="govuk-body">We’ve sent Jill Edwards an email that contains a link. If they want to be digitally authorised for this company, they must select the link and accept.</p>

<p class="govuk-body">The link expires after 7 days. If they run out of time, an authorised person needs to digitally authorise Jill Edwards to file online for this company again.</p>

<p class="govuk-body">If you were not expecting Jill Edwards to be digitally authorised, you must resolve this within the company. Companies House cannot give or remove digital authorisation.</p>

</form>

  </div>
  </div>
{% endblock %}
