{% extends "layouts/main.html" %}



{% block pageTitle %}
Email preferences  – {{ serviceName }} - GOV.UK
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="name" method="post" novalidate>
      <h1 class="govuk-heading-l">Email preferences  </h1>

      <p class="govuk-hint govuk-!-padding-bottom-2">We may need to send you essential emails from time to time to help you manage your account. </p>


      <p class="govuk-body">We’d like to send you emails to: </p>
          
      <ul class="govuk-list govuk-list--bullet">
        <li>tell you about changes to services or legislation</li>
        <li>give you information from other government departments which may be crucial to you</li>
        <li>invite you to take part in research to help us improve our services</li>
      </ul>

      <p class="govuk-body"> 
        You can find out more about how we handle your personal data in our  <a href="#" class="govuk-link" rel="noreferrer noopener" target="_blank">Personal information charter (opens in new tab)</a>.
      </p>

      {{ govukRadios({
        name: "send-emails",
        fieldset: {
          legend: {
            text: "Can we send you these emails?",
            classes: "govuk-fieldset__legend--m govuk-!-padding-top-4"
          }
        },
        hint: {
          text: "You can update your preferences at any time."
        },
        items: [
          {
            value: "yes",
            text: "Yes"
          },
          {
            value: "no",
            text: "No"
          }
        ]
      }) }}

        {{ govukButton({
          text: "Continue",
          href: "create-or-sign-in"
        }) }}
      
  
    </form>
    </div>
  </div>
{% endblock %}
