{% extends "layouts/main.html" %}

{% block pageTitle %}
  Shortcuts – {{ serviceName }} - GOV.UK
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
      {{serviceName}}
      <span class="govuk-caption-xl">Version 4</span>
    </h1>

    {{ govukWarningText({
      text: "This prototype is being actively worked on - things might break or change very quickly", iconFallbackText: "Warning" })
    }}

   <!--  {{ govukRadios({
      classes: "govuk-radios--inline",
      name: "existing",
      fieldset: {
        legend: {
          text: "Using a GOV.UK One Login with the same email address?",
          classes: "govuk-fieldset__legend--s"
        }
      },
      items: [
        {
          value: "yes",
          text: "Yes"
        },
        {
          value: "no",
          text: "No"
        }
      ]
    }) }} -->

    {{ govukButton({
      text: "Start prototype",
      href:"chs-home"
    }) }}


    {# ENTRY POINTS AND LINKS TAB #}
    <div class="govuk-tabs" data-module="govuk-tabs">
      <h4 class="govuk-tabs__title">Contents</h4>
      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#code"> Entry points and links </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#form-versions">
            Previous versions
          </a>
        </li>
      </ul>

      <div class="govuk-tabs__panel" id="code">
        <h2 class="govuk-heading-m">Moving CHS accounts over to GOV.UK One login </h2>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="chs-home">Companies House Service Home</a>
          </li>
          <li>
            <a href="start-page">Start page - Changing the way you log in to Companies House</a>
          </li>
          <li>
            <a href="create-or-sign-in">Create a GOV.UK One Login or sign in
            </a>
          </li>
          <li>
            <a href="create-enter-email">Enter your email address
            </a>
          </li>
          <li>
            <a href="create-check-your-email">Check your email
            </a>
          </li>
          <li>
            <a href="create-enter-password">Create your password
            </a>
          </li>
          <li>
            <a href="create-choose-security-type">Choose how to get security
            </a>
          </li>
          <li>
            <a href="create-enter-mobile-number">Text message - Enter your mobile phone number
            </a>
          </li>
          <li>
            <a href="create-check-your-phone">Text message - Check your phone
            </a>
          </li>
          <li>
            <a href="create-enter-mobile-number">Set up an authenticator app
            </a>
          </li>
          <li>
            <a href="enter-email">Sign in - Enter email address
            </a>
          </li>
          <li>
            <a href="enter-password">Sign in - Enter password
            </a>
          </li>
          <li>
            <a href="create-complete">You've created your GOV.UK One login
            </a>
          </li>
          <li>
            <a href="one-login-sign-in">Enter your email address to sign in to your GOV.UK One Login
            </a>
          </li>
          <li>
            <a href="one-login-enter-password">  Enter your password
            </a>
          </li>
          <li>
            <a href="enter-code">Sign in - Check your phone
            </a>
          </li>
          </ul>


         
          </ul>

          <h2 class="govuk-heading-m">Manage account settings for CHS with GOV.UK One Login</h2>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              <a href="chs-one-login-settings">Manage account</a>
            </li>
            <li>
              <a href="">Update display name</a>
            </li>
          </ul>
          
          <h2 class="govuk-heading-m">Your companies - delegating the authority to file</h2>
          <h3 class="govuk-heading-s">Add a company (existing CHS user)</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              <a href="chs-your-companies">Your companies - no companies </a>
            </li>
            <li>
              <a href="chs-your-companies-add">add-a-company -- Enter the details of the company you want to add to your account</a>
            </li>
            <li>
              <a href="chs-your-companies-add">check-company-details -- Confirm this is the correct company</a>
            </li>
            <li>
              <a href="chs-your-companies-auth-code">Enter the company authentication-code</a>
            </li>
            <li>
              <a href="chs-your-companies-added">company-added -- Your companies - company has been added</a>
            </li>
          </ul>

          <h3 class="govuk-heading-s">Add a company (existing CHS user)</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              <a href="chs-your-companies">Your companies - no companies </a>
            </li>
            <li>
              <a href="chs-your-companies-add">add-a-company -- Enter the details of the company you want to add to your account</a>
            </li>
            <li>
              <a href="chs-your-companies-add">check-company-details -- Confirm this is the correct company</a>
            </li>
            <li>
              <a href="chs-your-companies-auth-code">Enter the company authentication-code</a>
            </li>
            <li>
              <a href="chs-your-companies-added">company-added -- Your companies - company has been added</a>
            </li>
          </ul>

          
          <h3 class="govuk-heading-s">Digitally authorise a person to file online for this company</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              <a href="chs-your-companies-add">What is the authorised person's email address?</a>
            </li>
            <li>
              <a href="chs-your-companies-add">Check the authorised person's email address before we send the email</a>
            </li>
            <li>
              <a href="chs-your-companies-add"> An email request has been sent </a>
            </li>
            </ul>

            <h3 class="govuk-heading-s">Request to be digitally authorised to file</h3>
            <ul class="govuk-list govuk-list--bullet">
            <li>
              <a href="chs-your-companies-add">Companies House account: authorisation to file online (email) </a>
            </li>
            <li>
              <a href="chs-your-companies-add">Sign in </a>
            </li>
            <li>
              <a href="chs-your-companies-add"> An email request has been sent </a>
            </li>
            <li>
              <a href="chs-your-companies-add"> Awaiting confirmation </a>
            </li>
            <li>
              <a href="chs-your-companies-add"> Confirmed - digitally authorised to file </a>
            </li>
            <li>
              <a href="chs-your-companies-add"> Declined - digitally authorised to file </a>
            </li>
          </ul>

         
          <h3 class="govuk-heading-s">View details</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              <a href="chs-your-companies-add">view details - authorised-person-hannah -- Authorised person's details</a>
            </li>
            <li>
              <a href="chs-your-companies-add">check-company-details -- Confirm this is the correct company</a>
            </li>
          </ul>


          <h3 class="govuk-heading-s">Remove an authorised person</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              <a href="chs-your-companies-add">view details - authorised-person-hannah -- Authorised person's details</a>
            </li>
            <li>
              <a href="chs-your-companies-add">check-company-details -- Confirm this is the correct company</a>
            </li>
          </ul>
          
          
          
          
          <h2 class="govuk-heading-m">Re-design of Companies House service</h2>
          <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="home-chs">Redesign of Companies House search the register</a>
          </li>
          <li>
            <a href="filing-history">Filing history</a>
          </li>
          <li>
            <a href="officers">Officers</a>
          </li>
          <li>
            <a href="results">Search results</a>
          </li>
        </ul>

        <h2 class="govuk-heading-m">Adding companies to your  of Companies House Service account</h2>
        <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="chs-home-signed-in-new">*In progress* New Companies House Service account </a>
        </li>
      </ul>
     
      <!-- <h2 class="govuk-heading-m">Existing Companies House service</h2>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="search">Search the register</a>
          </li>
          <li>
            <a href="search-results">Search results</a>
          </li>
        </ul>-->
      </div> 


      {# PREVIOUS VERSIONS TAB #}
      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="form-versions">
        <table class="govuk-table version-history">
          <caption class="govuk-table__caption govuk-heading-l">
            Previous versions
          </caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">
                Version
              </th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">
                Tested on
              </th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-half">
                Changes
              </th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">
                Status
              </th>
            </tr>
          </thead>

          <tbody class="govuk-table__body">
           <!-- <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">
                <a href="javascript: void(0)">Version X</a>
              </th>
              <td class="govuk-table__cell">TBA</td>
              <td class="govuk-table__cell">
                <p><a href="#">Feature</a></p>
                <p></p>
                <ul class="govuk-list govuk-list--bullet">
                  <li>Feature description</li>
                </ul>
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--red">
                  Not ready for user testing
                </strong>
              </td>
            </tr>

            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">
                <a href="">Version X</a>
              </th>
              <td class="govuk-table__cell">June 2022</td>
              <td class="govuk-table__cell">
                <p><a href="#">Feature</a></p>
                <p></p>
                <ul class="govuk-list govuk-list--bullet">
                  <li>Feature description</li>
                </ul>
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--green">
                  Ready for user testing
                </strong>
              </td>
            </tr> -->

            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">
                <a href="">Version 1</a>
              </th>
              <td class="govuk-table__cell">June 2023</td>
              <td class="govuk-table__cell">
                <p><a href="#">Feature</a></p>
                <p></p>
                <ul class="govuk-list govuk-list--bullet">
                  <li>Add feature description</li>
                </ul>
              </td>

              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--green">
                  In progress 
                </strong>
              </td>
            </tr>

          </tbody>

        </table>
      </div>
    </div>
  </div>
</div>

{% endblock %}
