{% extends "layouts/main.html" %}



{% block pageTitle %}
  {{ serviceName }} - GOV.UK
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="prototype-set-up" method="post" novalidate>

    {{ govukCheckboxes({
      name: "set-journey",
      fieldset: {
        legend: {
          html: "<strong class='govuk-tag'>
            Page for User Research purposes
          </strong> <br> <br> Select from the following journey options: ",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      hint: {
        text: "Select all that apply."
      },
      items: [
        {
          value: "filer",
          text: "File for a company"
        },
        {
          value: "searcher",
          text: "Search for company information"
        },
        {
          value: "admin",
          text: "Admin user"
        },
        {
          value: "account-linked",
          text: "Account linked to GOV.UK One login"
        }
      ]
    }) }}

    <!-- {{ govukRadios({
      name: "set-journey",
      fieldset: {
        legend: {
          text: "Select account journey:",
          classes: "govuk-fieldset__legend--s"
        }
      },
      items: [
        {
          value: "account-not-linked",
          text: "CHS account not linked to a One Login account"
        },
        {
          value: "account-linked",
          text: "CHS account linked to a One Login account"
        },
        {
          value: "no-one-login-filer",
          text: "Filer --- User does not have a GOV.UK One login, but they want to file for a company"
        },
        {
          value: "admin-user",
          text: "Admin user"
        },
        {
          value: "new-user",
          text: "New user"
        }
      ]
    }) }} -->


    {{ govukButton({
      text: "Start prototype"
    }) }}






  </div>
</div>
</form>
{% endblock %}
