{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page – {{ serviceName }} - GOV.UK
{% endblock %}




{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="start-page" method="post" novalidate>
      <h1 class="govuk-heading-xl">We have changed the way you sign in to Companies House</h1>
     
     <p class="govuk-body">We’ll ask you to create a GOV.UK One Login, which is the new way to sign in to government services. In the future, it will allow you to access any government service using the same email address and password. </p>
      
      <p class="govuk-body">If you already have a GOV.UK One Login, you’ll be able to sign in. </p>

      <h2 class="govuk-heading-m">You can save your existing information</h2>
      <p class="govuk-body">If you have an existing WebFiling or Companies House account, you may have information stored, such as:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>email reminders</li>
        <li>details of companies you file for</li>
        <li>your filing history</li>
        <li>companies you follow</li>
      </ul>
      <p class="govuk-body">If you want to save this information, we'll ask you to enter the email address and password you use to sign in to these accounts.</p>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
           What is WebFiling?
          </span>
        </summary>
        <div class="govuk-details__text">
          <p class="govuk-body">This is an online service you can use to submit certain filings digitally, such as dormant accounts. </p>
            <p class="govuk-body">In WebFiling, you can also:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>sign up for email reminders</li>
            <li>request or change your authentication code</li>
          </ul>
        </div>
      </details>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
           What is a Companies House account?
          </span>
        </summary>
        <div class="govuk-details__text">
          <p class="govuk-body">This is the account you can use to sign in to:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>the Companies House register - sometimes known as 'Companies House service' or 'Find and update company information'</li>
            <li>some of our online services - for example, 'Register your company' or 'Upload a document to Companies House'</li>
          </ul>
        </div>
      </details>
   
      {{ govukButton({
        text: "Continue ",
        href: "create-or-sign-in",
        classes: "govuk-!-margin-top-4 govuk-!-margin-bottom-8",
        isStartButton: true
      }) }}

    </form>
    </div>
  </div>
{% endblock %}
