{% extends "layouts/layout-signed-out-agent.html" %}


{% block pageTitle %}
 Manage members 
{% endblock %}

{% set serviceName %}
 
{% endset %}

{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">

     <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">MORRIS ACCOUNTING LTD<h1 class="govuk-heading-l">Authorised agent services</h1></span>
      <!-- Filing summary  -->


      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">File as an authorised agent <strong class="govuk-tag govuk-tag--blue">
            Coming soon
          </strong> </h2></h2>
          <!-- <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">Delete choice<span class="govuk-visually-hidden"> of University of Gloucestershire (University of Gloucestershire)</span></a>
            </li>
            <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">Withdraw<span class="govuk-visually-hidden"> from University of Gloucestershire (University of Gloucestershire)</span></a>
            </li>
          </ul> -->
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">

              <p class="govuk-body">From XX DATE, you can file as MORRIS ACCOUNTING LTD. </p>

                   <div class="govuk-inset-text">
  <p>Authorised agent number: <strong>06254821</strong></p>
  <p>You will need to use this to file on paper or using software.</p>
</div>





     <!-- <p class="govuk-body">
        Continue to <a href="#" class="govuk-link">WebFiling</a> to file for a company.
      </p>

      <p class="govuk-body">
        Continue to <a href="#" class="govuk-link">Companies House service</a> to file or search the register.
      </p> --> 
              
            </div>
          </dl>
        </div>
      </div>

      <!-- Managing members  -->

      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">Manage users </h2>
           <ul class="govuk-summary-card__actions">
           <!-- <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">Manage members<span class="govuk-visually-hidden"> of MORRIS ACCOUNTING LTD (0122239)</span></a>
            </li>
            <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">Withdraw<span class="govuk-visually-hidden"> from University of Gloucestershire (University of Gloucestershire)</span></a>
            </li>-->
          </ul>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">

              <p class="govuk-body">View and manage users who have been added to MORRIS ACCOUNTING LTD.</p>

              <p class="govuk-body">Add people who work for the business so they can:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>file with Companies House</li>
                <li>form companies and registrable partnerships</li>
                <li>verify peoples identity for Companies House</li>
                </ul>
                <p class="govuk-body">You can remove users from the account at any time.</p>

              <p class="govuk-body">
                 <a href="member-home" class="govuk-link">Manage users</a>
              </p>
              
            </div>
          </dl>
        </div>
      </div>

      <!-- Verify someone identity -->

      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">Verify someone's identity <strong class="govuk-tag govuk-tag--blue">
            Coming soon
          </strong> </h2>
          <!-- <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">Delete choice<span class="govuk-visually-hidden"> of University of Gloucestershire (University of Gloucestershire)</span></a>
            </li>
            <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">Withdraw<span class="govuk-visually-hidden"> from University of Gloucestershire (University of Gloucestershire)</span></a>
            </li>
          </ul> -->
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">

              <p class="govuk-body">From XX DATE, you can use this service to tell us about a person whose identity you have verified.

              </p>

              <p class="govuk-body">
                 <a href="#" class="govuk-link">Tell Companies House you have verified someone's identity</a>
              </p>
              
            </div>
          </dl>
        </div>
      </div>

      

{% endblock %}
