{% extends "layouts/layout-signed-out-agent.html" %}

{% block pageTitle %}
  Your companies
{% endblock %}

{% set serviceName %}
 
{% endset %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Return to manage users"
  }) }}
{% endblock %}


{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">

     <div class="govuk-grid-column-two-thirds">
       <span class="govuk-caption-l">MORRIS ACCOUNTING LTD (0122239)</span>
          <h1 class="govuk-heading-l">Add a user</h1> 



<div class="govuk-inset-text">
  <p class="govuk-body">They will need to use their GOV.UK One Login details to sign in. If they have not set up a GOV.UK One Login, they must do this before you add them. <a href="">Create a GOV.UK One Login</a>. </p>
</div>

<p class="govuk-body">In the future, users who have been added to this account will be able to: </p>
          <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
            <li>file with Companies House</li>
            <li>form companies and registrable partnerships </li>
            <li>verify people's identity for Companies House</li>
            </ul>


          {{ govukInput({
            label: {
              text: "Email address"
            },
            hint: {
              text: "This must be the email address they use for GOV.UK One Login."
            },
            id: "email",
            name: "email",
            type: "email",
            autocomplete: "email",
            spellcheck: false
          }) }}


         {{ govukRadios({
            name: "role",
            fieldset: {
              legend: {
                text: "What is their role?",
                classes: "govuk-fieldset__legend--m govuk-!-static-padding-top-3"
              }
            },
            items: [
              {
                value: "super-admin",
                html: "<span class='govuk-body govuk-!-font-weight-bold'> Account owner</span>  <p class='govuk-body govuk-!-static-padding-top-2'> They will be able to make changes to the authorised agent's details. They can add and remove: </p>
                <ul>
                  <li>account owners</li>
                  <li>admin users</li> 
                  <li>standard users</li>
                  </ul>"
              },
              {
                value: "admin",
                html: "<span class='govuk-!-font-weight-bold govuk-!-padding-bottom-0'>Administrator</span> <p class='govuk-body govuk-!-static-padding-top-2'> They will be able to add and remove: </p>
                <ul>
                  <li>admin users</li> 
                  <li>standard users</li>
                  </ul>"
              },
              {
                value: "standard-user",
                html: "<span class='govuk-!-font-weight-bold govuk-!-padding-bottom-0'> Standard user </span> <p class='govuk-body govuk-!-static-padding-top-2'> They will not be able to add or remove other users.</p>"
              }
            ]
          }) }}





         <!--- <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                What services can members access?
              </span>
            </summary>
            <div class="govuk-details__text">
              <p>Members of an authorised agent can:</p>
          
          <ul class="govuk-list govuk-list--bullet">
            <li>form companies and registrable partnerships for clients </li>
            <li>file on behalf of clients </li>
            <li>verify someone’s identity </li>
          </ul>
            <p>They will only be able to add or remove other members if you add them as an admin. </p>
            </div>
          </details> -->


          <!-- form companies and registrable partnerships for clients -->
       <!--   {{ govukCheckboxes({
            name: "service-access",
            fieldset: {
              legend: {
                text: "What services do they need to use?",
                classes: "govuk-fieldset__legend--m govuk-!-static-padding-top-3"
              }
            },
            hint: {
              text: "Select all that apply."
            },
            items: [
              {
                value: "filings",
                text: "File on behalf of clients"
              },
              {
                value: "farm",
                text: "Verify someone’s identity"
              }
            ]
          }) }} -->






           {{ govukButton({
              text: "Continue",
              href:"check-member-details-2"
            }) }}





</div>
</div>


{% endblock %}
