{% extends "layouts/layout-signed-out-agent.html" %}

{% block pageTitle %}
  Your companies
{% endblock %}

{% set serviceName %}
 
{% endset %}


{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% set html %}
      <p class="govuk-notification-banner__heading">
        You have removed d.jones@example.com from MORRIS ACCOUNTING LTD. </p>
  
        {% endset %}
  
      {{ govukNotificationBanner({
        html: html,
        type: 'success'
      }) }}
  

       <span class="govuk-caption-l">MORRIS ACCOUNTING LTD</span>
          <h1 class="govuk-heading-l">What happens now they have been removed</h1> 



  <p class="govuk-body">d.jones@example.com will no longer be able to access authorised agent services for MORRIS ACCOUNTING LTD. </p>




           {{ govukButton({
              text: "Go to manage users",
              href:"member-home-member-added",
              classes:"govuk-!-margin-top-3"
            }) }}





</div>
</div>


{% endblock %}
