{% extends "layouts/main.html" %}


{% block pageTitle %}
Register an ACSP: application approved
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
   
 <h1 class="govuk-heading-l">Register as an authorised agent: application approved</h1> 


      <p class="govuk-body">We have approved your application and registered MORRIS ACCOUNTING LTD (02050399) as a Companies House authorised agent. This is also known as an Authorised Corporate Service Provider (ACSP).</p>




      <h2 class="govuk-heading-m">How to use the authorised agent account</h2>
      
      
      <p class="govuk-body">You can access the authorised agent account for MORRIS ACCOUNTING LTD  when you sign in to your Companies House account.  </p>


      <h3 class="govuk-heading-s">1. Add users to the account</h3>




      <p>If other people who work for the business need to file with Companies House, you should add them to the account so they can access services for authorised agents. They do not need to verify their identity.</p>


      <div class="govuk-inset-text">
 <p> Sign in to your Companies House account to add users to MORRIS ACCOUNTING LTD: </p>
 <p><a href="create-or-sign-in.html">https://find-and-update.company-information.service.gov.uk</a></p>
</div>


      <h3 class="govuk-heading-s">2. Comply with your legal responsibilities</h3>

      <p class="govuk-body">You must tell us within 14 days if there is a change to the Anti-Money Laundering (AML):</p>
                                    <ul class="govuk-list govuk-list--bullet">
                                      <li>registration status</li>
                                      <li>supervisory body</li>
                                      <li>membership number or ID</li>
                                    </ul>
      <p class="govuk-body">You can do this in the 'Update details' section of the agent account. </p>
      <p class="govuk-body">Read the full list of legal responsibilities for authorised agents: <a href="guidance-ACSPs-under-review#step6">htts://gov.uk/guidance-apply-to-register-as-an-authorised-agent#legal-responsibilities</a></p>




      <h3 class="govuk-heading-s">3. Use services for authorised agents</h3>

      <p class="govuk-body">In the future, all users who have been added to the agent account will be able to: </p>
                                          <ul class="govuk-list govuk-list--bullet">
                                            <li>file on behalf of clients</li>
                                            <li>verify people's identity for Companies House</li>
                                            </ul>









      <h2 class="govuk-heading-m govuk-!-margin-top-9">Contact us</h2>
            <h3 class="govuk-heading-s">Telephone</h3>
      <ul class="govuk-list">
        <li>0303 1234 500</li>
        <li>Monday to Friday, 8:30am to 6pm</li>
      </ul>


      <h3 class="govuk-heading-s">Email</h3>

      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="https://www.gov.uk/call-charges">enquiries@companieshouse.gov.uk</a>
        </li>
      </ul>




  </div>
</div>
{% endblock %}
