{% extends "layouts/main.html" %}

{% block pageTitle %}
Store company details for future online filings?
{% endblock %}

{% set serviceName %}
  
{% endset%}


{% block beforeContent %}

{% endblock %}



{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="add-company-to-account" method="post" novalidate>

        {{ govukBackLink({
          text: "Back"
        }) }}

        <span class="govuk-caption-xl">FLOWERS LIMITED</span>
        <h1 class="govuk-heading-l">Store company details for future online filings?</h1>


        <p class="govuk-body">We can securely store the company details you entered to make online filing quicker and easier in the future.</p>

        <p class="govuk-body">This means you:</p>
        <ul class="govuk-list govuk-list--bullet govuk-!-padding-bottom-3">
          <li>will not need to re-enter the company's authentication code for most online filings</li>
          <li>can authorise other people to file online for the company</li>
          
        </ul>



        {{ govukRadios({
          name: "add-to-account",
          fieldset: {
            legend: {
              html: "<span class='govuk-body govuk-!-font-weight-bold'> Do you want us to store the company details for FLOWERS LIMITED?<span>"
            }
          },

          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue",
          href:""
        }) }}

      </form>
    </div>
  </div>
{% endblock %}
