{% extends "layouts/layout-signed-out-agent.html" %}
{% block pageTitle %}
You cannot use this service
  -
  {{serviceName}}
  - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href:""
  }) }}
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">HAROLDS(12345678)</span>
        <h1 class="govuk-heading-l">This company has already been added to your account</h1>
       <p>You are already digitally authorised to file online for this company. If you wish to try another company number <a href="add-a-company.html">return to the previous screen.</a> Alternatively, return to the list of your companies.</p>
      
      

<div class="govuk-button-group">
  {{ govukButton({
    text: "Go to your companies",
    href:"your-companies-card"
  }) }}

</div>

   
      
    </div>
  </div>
{% endblock %}
