{% extends "layouts/layout_unbranded-with-banner.html" %}

{% block pageTitle %}

{% endblock %}

{% block header %}
    {{ govukHeader({ serviceName: "" }) }}
{% endblock %}



{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/sign-in" method="post" novalidate>

    <h1 class="govuk-heading-l">Companies House: <br>
There’s been a change in who is digitally authorised to file for COMPANY LTD
</h1>
<p class="govuk-body">To find out what's changed, you must be digitally authorised for the company. If you aren't, you'll either need to enter the company authentication code, or someone who is digitally authorised needs to authorise you.</p>

<p class="govuk-body">Go to the ‘your companies’ section of your Companies House account and sign in to view the changes:</p>

<p class="govuk-body">
  <a href="#" class="govuk-link">https://find-and-update.company-information.service.gov.uk/your-companies</a>
</p>


<p class="govuk-body">If you were not expecting this change, you should try to resolve this within the company.</p>

</form>

  </div>
  </div>
{% endblock %}
