{% extends "layouts/layout_unbranded-with-banner.html" %}

{% block pageTitle %}

{% endblock %}

{% block header %}
    {{ govukHeader({ serviceName: "" }) }}
{% endblock %}



{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/sign-in" method="post" novalidate>

    <h1 class="govuk-heading-l">Companies House: <br>
There’s been a change in who is digitally authorised to file for COMPANY LTD
</h1>

<p class="govuk-body">This is an official email to the registered email address of EXAMPLE LIMITED (01234567) from Companies House.</p>

<p class="govuk-body">To find out what's changed, you must be digitally authorised for the company. If you aren't, you'll either need to enter the company authentication code, or someone who is digitally authorised needs to authorise you.</p>

<p class="govuk-body">Go to the 'your companies' section of your Companies House account and sign in to view the changes:</p>

<p class="govuk-body">
  <a href="#" class="govuk-link">https://find-and-update.company-information.service.gov.uk/your-companies</a>
</p>

<p class="govuk-body">If you were not expecting this change, you should try to resolve this within the company.</p>

<p class="govuk-body">You've received this email because you provided this registered email address to Companies House. You cannot unsubscribe from emails to the registered email address as this is a legal requirement under the Companies Act 2006. We will only use this email address to communicate about your company. The registered email address will not appear on the public register.</p>

<p class="govuk-body">To change the company's registered email address, go to: <a href="https://find-and-update.company-information.service.gov.uk/registered-email-address" class="govuk-link">https://find-and-update.company-information.service.gov.uk/registered-email-address</a></p>

<p class="govuk-body">Please email <a href="#" class="govuk-link">enquiries@companieshouse.gov.uk</a> if you did not provide this email address as a registered email address.</p>

</form>

  </div>
  </div>
{% endblock %}
