{% extends "layouts/layout_unbranded-with-banner.html" %}

{% block pageTitle %}

{% endblock %}

{% block header %}
    {{ govukHeader({ serviceName: "" }) }}
{% endblock %}



{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/sign-in" method="post" novalidate>

    <h1 class="govuk-heading-l">Companies House: <br>invitation expired for James Morris to be authorised to file online for FLOWERS LIMITED </h1>

<p class="govuk-body">If you still want James Morris to be digitally authorised, anyone who is already authorised can invite them again.</p>

<ol class="govuk-list govuk-list--number">
  <li>Sign in to your account: <br><p class="govuk-body">
   <a href="https://find-update-company-info.herokuapp.com/v5/choose-sign-in " class="govuk-link">https://find-update-company-info.herokuapp.com/v5/choose-sign-in</a>
  </p></li>
  <li>Go to ‘Your companies’.</li>
  <li>Select ‘View and manage’ digitally authorised people for FLOWERS LIMITED.</li>
  <li>Select ‘Add new authorised person’ and follow the instructions.</li>
</ol>


</form>

  </div>
  </div>
{% endblock %}
