{% extends "layouts/main.html" %}



{% block pageTitle %}
  {{ serviceName }} - GOV.UK
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="prototype-set-up" method="post" novalidate>



      <h1 class="govuk-heading-l">Choose a journey <strong class='govuk-tag'>
        Page for User Research purposes
      </strong></h1>


      {{ govukRadios({
        name: "set-journey",
        fieldset: {
          legend: {
            html: "User research",
            isPageHeading: false ,
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          text: "Select one option."
        },
        items: [
          {
            value: "filer",
            text: "Upload a document"
          }
        ]
      }) }}

    {{ govukRadios({
      name: "set-journey",
      fieldset: {
        legend: {
          html: "Private beta",
          isPageHeading: false,
          classes: "govuk-fieldset__legend--m"
        }
      },
      hint: {
        text: "Select one option."
      },
      items: [
        {
          value: "private-beta-not-linked",
          text: "Companies House account has not been linked"
        },
        {
          value: "linked-account",
          text: "Companies House account is linked to a GOV.UK One Login",
          hint: {
            html: '<a href="private-beta-account-linked-banner" class="govuk-link" target="blank">View manage account (opens in a new tab)</a>'
          }
        },
        {
          value: "different-email",
          html: "A different email address has been used for CHS and GOV.UK One login"
        },
        {
          value: "wrong-url",
          html: "The user hasn't used the private beta URL to sign in"
        }
      ]
    }) }}

    {{ govukRadios({
      name: "set-journey",
      fieldset: {
        legend: {
          html: "Public beta",
          isPageHeading: false,
          classes: "govuk-fieldset__legend--m"
        }
      },
      hint: {
        text: "Select one option."
      },
      items: [
        {
          value: "public-beta-not-linked",
          text: "Account has not been linked"
        },
        {
          value: "public-beta-linked",
          text: "Account is already linked"
        }
      ]
    }) }}

    <!-- {{ govukRadios({
      name: "set-journey",
      fieldset: {
        legend: {
          text: "Select account journey:",
          classes: "govuk-fieldset__legend--s"
        }
      },
      items: [
        {
          value: "account-not-linked",
          text: "CHS account not linked to a One Login account"
        },
        {
          value: "account-linked",
          text: "CHS account linked to a One Login account"
        },
        {
          value: "no-one-login-filer",
          text: "Filer --- User does not have a GOV.UK One login, but they want to file for a company"
        },
        {
          value: "admin-user",
          text: "Admin user"
        },
        {
          value: "new-user",
          text: "New user"
        }
      ]
    }) }} -->


    {{ govukButton({
      text: "Start prototype"
    }) }}



  </div>
</div>
</form>
{% endblock %}
