{% extends "layouts/main.html" %}
<!-- Overwrite suerfice name -->


{% block pageTitle %}
  {{ serviceName }} – Prototype
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds ">
  <h1 class="govuk-heading-l">Your WebFiling sign in details</h1>


  <form action="webfiling-sign-in" method="post" novalidate="">

              
  {% set emailHtml %}
  {{ govukInput({
    id: "webfiling-email",
    name: "webfiling-email",
    type: "email",
    autocomplete: "email",
    spellcheck: false,
    classes: "govuk-!-width-three-quarters",
    label: {
      text: "Email address"
    }
  }) }}
  {% endset -%}


  <!-- if the email address is blank --> 

  {% if (data['email'] === "")%}

  {{ govukRadios({
    name: "webfiling-sign-in-details",
    fieldset: {
      legend: {
        text: "Which email address do you use to sign in to WebFiling?",
        isPageHeading: false,
        classes: "govuk-!-padding-top-3"
      }
    },
    items: [
      {
        value: "email-address",
        text: "example@gmail.com"
      },
      {
        value: "email",
        text: "A different email address",
        conditional: {
          html: emailHtml
        }
      }
    ]
  }) }}

  {% else %}



   <!-- if the email address is entered --> 
  
  {{ govukRadios({
    name: "webfiling-sign-in-details",
    fieldset: {
      legend: {
        text: "Which email address do you use to sign in to WebFiling?",
        isPageHeading: false,
        classes: "govuk-!-padding-top-3"
      }
    },
    items: [
      {
        value: "email-entered",
        text: data['email']
      },
      {
        value: "email",
        text: "A different email address",
        conditional: {
          html: emailHtml
        }
      }
    ]
  }) }}

  {% endif %}



  {{ govukInput({
    label: {
      text: "Which password do you use to sign in to WebFiling?",
      isPageHeading: false
    },
    classes: "govuk-!-width-three-quarters",
    id: "password",
    name: "password"
  }) }}

  {{ govukButton({
    text: "Continue"
  }) }}        
  
  </form>

</div>
</div>

{% endblock %}
