{% extends "layouts/layout-signed-out-agent.html" %}
{% block pageTitle %}
You cannot use this service
  -
  {{serviceName}}
  - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href:""
  }) }}
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <h1 class="govuk-heading-l">You have been added to an authorised agent account  </h1>
     <!-- {{ govukButton({
        text: "Appoint new director",
        href: "add/name?type=add"
      }) }} -->
       <p class="govuk-body">This means you’ll be able to use services on behalf of the authorised agent, MORRIS ACCOUNTING LIMITED. This includes to: </p>

       <ul class="govuk-list govuk-list--bullet">
        <li>tell Companies House you’ve verified someone’s identity</li>
        <li>file on behalf of clients</li>
        </ul>

        <h2 class="govuk-heading-m">You have been added as an account owner</h2>
        <p>This means you'll be able to view, add and remove other users from the account.</p>
        <p>
          You’ll be able to update the authorised agent’s details on the account. You, or another account owner, must do this within 14 days if there are any changes to the details we hold about the agent.</p>
          <p>
          You can also close the account if the agent no longer needs to be registered as an authorised agent with Companies House.
          </p>


        {{ govukButton({
          text: "Go to the account",
          href:"account-details-confirm"
        }) }}


        <h2 class="govuk-heading-m">If you think there has been a mistake</h2>
        <p>If you do not work for MORRIS ACCOUNTING LIMITED or think you have been added by mistake, go to <a href="">Manage users</a>. You can find and remove yourself from the account.</p>
        <p><a href="">Contact Companies House</a> if you need help. 
          </p>

      
    </div>
  </div>
{% endblock %}
