{% extends "layouts/layout-signed-out-agent.html" %}



{% block pageTitle %}
 Manage members 
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Return to authorised agent services",
    href:"check-company-details"
  }) }}
{% endblock %}


{% set serviceName %}
 
{% endset %}

{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">

     <div class="govuk-grid-column-full">
      <span class="govuk-caption-l">MORRIS ACCOUNTING LTD (0122239)<h1 class="govuk-heading-l">Manage people</h1></span>



           {{ govukButton({
              text: "Add a person",
              href:"add-a-member"
            }) }}

          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
<!--           <div class="govuk-inset-text">
            To change the permissions of a member you'll need to remove the member. Then 'Add a new member' with their new permissions. 
          </div>-->


        <div class="govuk-form-group govuk-!-margin-top-2 govuk-!-margin-bottom-0">
            
          <label class="govuk-label--m" for="search">
              Search for a person
          </label>
          <div id="search-hint" class="govuk-hint govuk-!-padding-top-1">
              Enter their name or email address
          </div>

          <input class="govuk-input govuk-input--width-10" id="search" name="search" type="text">
          {{ govukButton({
              text: "Search",
              href:"#",
              classes: "searchbutton govuk-button--secondary",
              href:"home-multiple-companies-page-2"
          }) }}
          </div>
          
        </div>
        </div>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">

            <p> </p>
        
            <p class="govuk-!-font-weight-bold">3 matches found for 'Hannah'</p>
        
         
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-top-0">
        
        </div>
        </div>



          <div class="govuk-tabs govuk-!-padding-top-6" data-module="govuk-tabs">
            <h2 class="govuk-tabs__title">
              Authorised member roles
            </h2>
            <ul class="govuk-tabs__list">
              <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                <a class="govuk-tabs__tab" href="#super-admin">
                  Account owners (1)
                </a>
              </li>
              <li class="govuk-tabs__list-item">
                <a class="govuk-tabs__tab" href="#admin">
                  Admin user (0)
                </a>
              </li>
              <li class="govuk-tabs__list-item">
                <a class="govuk-tabs__tab" href="#standard">
                  Standard user (2)
                </a>
              </li>
            </ul>
            <div class="govuk-tabs__panel" id="super-admin">
              <h2 class="govuk-heading-l">Account owners</h2>

             

                  <!-- Super admin users -->

                  <table class="govuk-table">
                   <thead class="govuk-table__head">
                     <tr class="govuk-table__row">
                       <th scope="col" class="govuk-table__header">Account owner details <span> <p class="govuk-body-s">Account name shown if provided</p></span> </th> 

                 <!-- UNDER REVIEW       <th scope="col" class="govuk-table__header">File for authorised agent</th> -->
                       <th scope="col" class="govuk-table__header">Verify someone’s identity</th>
                       <th scope="col" class="govuk-table__header">Status</th>
                       <th scope="col" class="govuk-table__header"> <span class="govuk-visually-hidden"> Cancel or remove </span></th>
                       <th scope="col" class="govuk-table__header"> <span class="govuk-visually-hidden"> Resend email invitation</span></th>
                     </tr>
                   </thead>
                   <tbody class="govuk-table__body">

                    <!-- Member 1 -->
                     <tr class="govuk-table__row">
                       <td class="govuk-table__header"> Hannah Salt <br> hannah.salt@gmail.com</th>
                     
         
                       
                  <!-- UNDER REVIEW       <td class="govuk-table__cell">
                        Yes
                       </td> -->
                       <td class="govuk-table__cell">
                        No
                       </td>
                       <td class="govuk-table__cell">
                        {{govukTag({
                          html: "invite sent",
                          classes: "govuk-tag--yellow"
                          })}}
                      </td>
                       <td class="govuk-table__cell">
                         <a href="authentication-code-cancel" class="govuk-link">Cancel<span class="govuk-visually-hidden"> hannah.salt@gmail.com </span> </a>
                       </td>
                       <td class="govuk-table__cell">
                         <a href="manage-authorised-people-email-resent" class="govuk-link">Resend email<span class="govuk-visually-hidden">to hannah.salt@gmail.com </span> </a>
                       </td>
                     </tr>

                    
                     
                   </tbody>
                 </table>
        



            </div>


            <!-- Admin users -->
            <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="admin">
              <h2 class="govuk-heading-l">Admin</h2>
              <table class="govuk-table">
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Case manager</th>
                    <th scope="col" class="govuk-table__header">Cases opened</th>
                    <th scope="col" class="govuk-table__header">Cases closed</th>
                  </tr>
                </thead>
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">David Francis</td>
                    <td class="govuk-table__cell">24</td>
                    <td class="govuk-table__cell">18</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Paul Farmer</td>
                    <td class="govuk-table__cell">16</td>
                    <td class="govuk-table__cell">20</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Rita Patel</td>
                    <td class="govuk-table__cell">24</td>
                    <td class="govuk-table__cell">27</td>
                  </tr>
                </tbody>
              </table>
            </div>

            <!-- Standard users -->
            <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-month">
              <h2 class="govuk-heading-l">Standard</h2>
              <table class="govuk-table">
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Case manager</th>
                    <th scope="col" class="govuk-table__header">Cases opened</th>
                    <th scope="col" class="govuk-table__header">Cases closed</th>
                  </tr>
                </thead>
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">David Francis</td>
                    <td class="govuk-table__cell">98</td>
                    <td class="govuk-table__cell">95</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Paul Farmer</td>
                    <td class="govuk-table__cell">122</td>
                    <td class="govuk-table__cell">131</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Rita Patel</td>
                    <td class="govuk-table__cell">126</td>
                    <td class="govuk-table__cell">142</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-year">
              <h2 class="govuk-heading-l">Past year</h2>
              <table class="govuk-table">
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Case manager</th>
                    <th scope="col" class="govuk-table__header">Cases opened</th>
                    <th scope="col" class="govuk-table__header">Cases closed</th>
                  </tr>
                </thead>
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">David Francis</td>
                    <td class="govuk-table__cell">1380</td>
                    <td class="govuk-table__cell">1472</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Paul Farmer</td>
                    <td class="govuk-table__cell">1129</td>
                    <td class="govuk-table__cell">1083</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Rita Patel</td>
                    <td class="govuk-table__cell">1539</td>
                    <td class="govuk-table__cell">1265</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

</div>
</div>


{% endblock %}
