{% extends "layouts/layout-chs-signed-out.html" %}

{% block pageTitle %}
  Your companies - Enter the company authentication code - Companies House WebFiling account - GOV.UK
{% endblock %}

{% block beforeContent %}

{% endblock %}



{% block content %}

<form action="confirmation-company-added" method="post">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {% set html %}
        <p class="govuk-notification-banner__heading">
          You have declined to be digitally authorised to file online for FLOWERS LIMITED.
          <a href="company-added" class="govuk-link">View your companies</a>.
          {% endset %}

        {{ govukNotificationBanner({
          html: html,
          type: 'success'
        }) }}


        <p class="govuk-body">You can now: </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Content to be reviewed.
            </li>
        </ul>
    

        {{ govukInsetText({
          text: "We’ve sent an email to the company’s registered email 
          address and to any other people who are authorised. 
          We’ve let them know you are now digitally authorised to file 
          for this company."
        }) }}

     

    
    </div>
  </div>
{% endblock %}




