{% extends "layouts/layout-chs-signed-out.html" %}

{% block pageTitle %}
  Your companies - Enter the company authentication code - Companies House WebFiling account - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href:"check-company-details"
  }) }}
{% endblock %}



{% block content %}

<form action="confirmation-person-removed" method="post">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">


        {% set html %}
        <p class="govuk-notification-banner__heading">
          We've sent an email request to jill.edwards@example.com to be digitally authorised to file online for FLOWERS LIMITED.
          {% endset %}

        {{ govukNotificationBanner({
          html: html,
          type: 'success'
        }) }}



      <h2 class="govuk-heading-m">Add heading here </h2>

      <p class="govuk-body">

        Add content here.
      </p>



      {{ govukButton({
        text: "View your companies",
        href:"company-added"
      }) }}


    
    </div>
  </div>
{% endblock %}




