{% extends "layouts/layout-chs-signed-out.html" %}

{% block pageTitle %}
  Your companies - Enter the company authentication code - Companies House WebFiling account - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href:"check-company-details"
  }) }}
{% endblock %}



{% block content %}

<form action="confirmation-cancel-person" method="post">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {% set html %}
        <h3 class="govuk-notification-banner__heading">
          Digital authorisation cancelled
        </h3>
        <p class="govuk-body">You have successfully cancelled digital authorisation for <span class='govuk-body govuk-!-font-weight-bold'> jill.edwards@example.com</span> to file online for FLOWERS LIMITED.</p>
      {% endset %}

      {{ govukNotificationBanner({
        html: html,
        type: 'success'
      }) }}

      <h2 class="govuk-heading-m">You can now </h2>

      <p class="govuk-body">
        Add content 
      </p>

      {{ govukButton({
        text: "View your companies",
        href:"company-added"
      }) }}


    
    </div>
  </div>
{% endblock %}




