{% extends "layouts/layout-chs-signed-out.html" %}

{% block pageTitle %}
  Your companies
{% endblock %}


{% block content %}

<div class="govuk-width-container">


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-l">Your companies</h1>

      {{ govukButton({
          text: "Add a company",
          href:"add-a-company"
      }) }}

  </div>
</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-padding-right-0">

      {{ govukInput({
          label: {
              text: "Search for a company",
              classes: "govuk-label--m"
          },
          hint: {
              text: "Enter the company name or number"
          },
          id: "company-search",
          name: "company-search"
      }) }}
  </div>

  <div class ="govuk-grid-column-one-third govuk-!-padding-left-1">

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Search",
          href:"home-multiple-companies-page-2",
          classes: "searchbutton govuk-button--secondary"
        }) }}
      </div>


  </div>
</div>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m visuallyhidden">Your companies</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Company name</th>
          <th scope="col" class="govuk-table__header">Company number</th>
          <th scope="col" class="govuk-table__header">People digitally  authorised to file online</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">ANDROID TECHNOLOGY LTD</th>
          <td class="govuk-table__cell">10866549</td>
          <td class="govuk-table__cell"><a href="manage-authorised-people" class="govuk-link govuk-link--no-visited-state">View and manage </a></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">ARCHITECTS WALES LIMITED</th>
          <td class="govuk-table__cell">07512223</td>
          <td class="govuk-table__cell"><a href="manage-authorised-people" class="govuk-link govuk-link--no-visited-state"> View and manage</a></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">BROWN AND SALTER LIMITED</th>
          <td class="govuk-table__cell">08449801</td>
          <td class="govuk-table__cell"><a href="manage-authorised-people" class="govuk-link govuk-link--no-visited-state"> View and manage</a></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">CARNATION (UK) LIMITED</th>
          <td class="govuk-table__cell">09433214</td>
          <td class="govuk-table__cell"><a href="manage-authorised-people" class="govuk-link govuk-link--no-visited-state">View and manage</a></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">DRIVING SCHOOL 101 LIMITED</th>
          <td class="govuk-table__cell">10334492</td>
          <td class="govuk-table__cell"><a href="manage-authorised-people" class="govuk-link govuk-link--no-visited-state">View and manage</a></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">EXCAVATION HOLDINGS LTD</th>
          <td class="govuk-table__cell">07491101</td>
          <td class="govuk-table__cell"><a href="manage-authorised-people" class="govuk-link govuk-link--no-visited-state">View and manage</a></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">FIRST AND LAST LIMITED</th>
          <td class="govuk-table__cell">08333854</td>
          <td class="govuk-table__cell"><a href="manage-authorised-people" class="govuk-link govuk-link--no-visited-state">View and manage</a></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">GROW YOUR OWN LIMITED</th>
          <td class="govuk-table__cell">12977842</td>
          <td class="govuk-table__cell"><a href="manage-authorised-people" class="govuk-link govuk-link--no-visited-state">View and manage</a></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">HARE AND RABBIT LIMITED</th>
          <td class="govuk-table__cell">06544223</td>
          <td class="govuk-table__cell"><a href="manage-authorised-people" class="govuk-link govuk-link--no-visited-state">View and manage</a></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">JUST IN TIME (LONDON) LTD</th>
          <td class="govuk-table__cell">03455102</td>
          <td class="govuk-table__cell"><a href="manage-authorised-people" class="govuk-link govuk-link--no-visited-state">View and manage</a></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">LEMINGTON INSURANCE LIMITED</th>
          <td class="govuk-table__cell">09322456</td>
          <td class="govuk-table__cell"><a href="manage-authorised-people" class="govuk-link govuk-link--no-visited-state">View and manage</a></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">MILESTONE RESEARCH LTD</th>
          <td class="govuk-table__cell">08099546</td>
          <td class="govuk-table__cell"><a href="manage-authorised-people" class="govuk-link govuk-link--no-visited-state">View and manage</a></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">NORRIS AND BUTLER PUBS LIMITED</th>
          <td class="govuk-table__cell">05044331</td>
          <td class="govuk-table__cell"><a href="manage-authorised-people" class="govuk-link govuk-link--no-visited-state">View and manage</a></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">PLANTS AND POTS LTD</th>
          <td class="govuk-table__cell">09766593</td>
          <td class="govuk-table__cell"><a href="manage-authorised-people" class="govuk-link govuk-link--no-visited-state">View and manage</a></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">SILICO LIMITED</th>
          <td class="govuk-table__cell">06002341</td>
          <td class="govuk-table__cell"><a href="manage-authorised-people" class="govuk-link govuk-link--no-visited-state">View and manage</a></td>
        </tr>
       
      </tbody>
    </table>
  </div>
</div>




<div class="govuk-grid-row govuk-!-padding-top-3">
  <div class="govuk-grid-column-full">


    {% from "govuk/components/pagination/macro.njk" import govukPagination %}

    {{ govukPagination({
     
      next: {
        href: "#"
      },
      items: [
        {
          number: 1,
          current: true,
          href: "#"
        },
        {
          number: 2,

          href: "#"
        },
        {
          number: 3,
          href: "#"
        }
      ]
    }) }}
    


      
  </div>
</div>


</div>
</div>


{% endblock %}
