{% extends "layouts/layout-chs-signed-out.html" %}

{% block pageTitle %}
  Your companies
{% endblock %}


{% block content %}

<div class="govuk-width-container">


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-l">Your companies</h1>

      {{ govukButton({
          text: "Add a company",
          href:"../../add-a-company"
      }) }}

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-padding-right-0">

      {{ govukInput({
          label: {
              text: "Search for a company you've added",
              classes: "govuk-label--m"
          },
          hint: {
              text: "Enter the company name or number"
          },
          id: "company-search",
          name: "company-search"
      }) }}
  </div>

  <div class ="govuk-grid-column-one-third govuk-!-padding-left-1">

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Search",
          href:"home-multiple-companies-page-2",
          classes: "searchbutton govuk-button--secondary"
        }) }}
      </div>


  </div>
</div>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m visuallyhidden">Dates and amounts</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Company name</th>
          <th scope="col" class="govuk-table__header">Company number</th>
          <th scope="col" class="govuk-table__header">People digitally  authorised to file online</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">FLOWERS LIMITED</th>
          <td class="govuk-table__cell">18882777</td>
          <td class="govuk-table__cell"><a href="manage-authorised-people" class="govuk-link govuk-link--no-visited-state"> Manage people</a></td>
        </tr>
       <!--  <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Next 33 weeks</th>
          <td class="govuk-table__cell">£109.80 per week</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Total estimated pay</th>
          <td class="govuk-table__cell">£4,282.20</td>
        </tr> -->
      </tbody>
    </table>


      
  </div>
</div>



    <div class="ch-pagination-container">


    <nav class="ch-pagination" role="navigation" aria-label="Pagination Navigation">
      <p class="govuk-visually-hidden" aria-labelledby="pagination-label">Pagination navigation</p>

      <ul class="ch-pagination__list govuk-body" role="navigation">


          <li class="ch-pagination__item ch-pagination__item--active">
            <span aria-current="true">1</span>
          </li>

          <li class="ch-pagination__item">
            <a href="home-multiple-companies-page-2" class="ch-pagination__link govuk-link--no-visited-state" aria-label="Go to page 2">
              2</a>
          </li>

          <li class="ch-pagination__item">
            <a href="" class="ch-pagination__link govuk-link--no-visited-state" aria-label="Go to page 3">
              3</a>
          </li>

          <li class="ch-pagination__item">
            <a href="" class="ch-pagination__link govuk-link--no-visited-state" aria-label="Go to page 4">
              4</a>
          </li>

          <li class="ch-pagination__item">
            <a href="" class="ch-pagination__link govuk-link--no-visited-state" aria-label="Go to page 5">
              5</a>
          </li>

        <li class="ch-pagination__item">
          <a href="" class="ch-pagination__link govuk-link--no-visited-state ch-pagination-next" aria-label="Next page">Next
            <span class="govuk-visually-hidden">
              next page</span></a>
        </li>
    </ul>
   </nav>

   <div class="ch-pagination__summary govuk-body">Showing <b>10</b> to <b>20</b> of <b>50</b> results</div>

</div>







</div>
</div>


{% endblock %}
