{% extends "layouts/layout-chs-signed-out.html" %}

{% block pageTitle %}
  Your companies
{% endblock %}


{% block content %}

<div class="govuk-width-container">


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-l">Your companies</h1>

      {{ govukButton({
          text: "Add a company",
          href:"../../add-a-company"
      }) }}

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-padding-right-0">

      {{ govukInput({
          label: {
              text: "Search for a company you've added",
              classes: "govuk-label--m"
          },
          hint: {
              text: "Enter the company name or number"
          },
          id: "company-search",
          name: "company-search"
      }) }}
  </div>

  <div class ="govuk-grid-column-one-third govuk-!-padding-left-1">

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Search",
          href:"home-multiple-companies-page-2",
          classes: "searchbutton govuk-button--secondary"
        }) }}
      </div>


  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

            <div style=" border-color: #b1b4b6; border-style: solid; border-width: 1px; padding: 2em;">
              <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                 <h2 class="govuk-heading-m">FLOWERS LIMITED</h2>
                </div>
              </div>

              <div class="govuk-grid-row">
                <div class="govuk-grid-column-three-quarters">
                  <p class="govuk-body govuk-!-font-weight-bold">
                      <span class="govuk-body ">Company number</span><br>
                 </span>18882777</p>

                    <p class="govuk-body govuk-!-font-weight-bold">
                        <span class="govuk-body">Correspondence address</span><br>
                   </span> 2nd Floor Red House, 17 London Road, London <br>SA73 8PH </p>

                   <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                    <table class="govuk-table">
                      <thead class="govuk-table__head">

                        <tr class="govuk-table__row">
                          <th class="govuk-table__header" scope="col"> People digitally authorised <br>to file for this company</th>
                          <th class="govuk-table__header" scope="col">Authorisation <br> status </th>
                          <th class="govuk-table__header" scope="col"> View </th>
                        </tr>


                      </thead>
                      <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell">
                            <p class="govuk-body"> Hannah Salt (you)</p>
                          </td>
                          <td class="govuk-table__cell">
                            {{govukTag({
                              text: "CONFIRMED",
                              classes: "govuk-tag--green"
                            })}}
                          </td>
                          <td class="govuk-table__cell">
                          <a href="" class="govuk-link">View details</a>
                          </td>
                        </tr>

                      </tbody>
                    </table>
                    <p> <a href="#" class="govuk-link govuk-link--no-visited-state">File for this company</a></p>
                    <p> <a href="../../delegate-to-presenter/enter-presenter-details" class="govuk-link govuk-link--no-visited-state">Digitally authorise a person to file for this company</a></p>
                    </div>
                  </div>

                </div>

              </div>
            </div>


          </div>



    </div>

    <div class="govuk-grid-row govuk-!-margin-top-3">
  <div class="govuk-grid-column-full">
            <div style=" border-color: #b1b4b6; border-style: solid; border-width: 1px; padding: 2em;">
              <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                 <h2 class="govuk-heading-m">HOLIDAY CAMPSITES WALES LIMITED</h2>
                </div>
              </div>

              <div class="govuk-grid-row">
                <div class="govuk-grid-column-three-quarters">
                  <p class="govuk-body govuk-!-font-weight-bold">
                      <span class="govuk-body ">Company number</span><br>
                 </span>10088889</p>

                    <p class="govuk-body govuk-!-font-weight-bold">
                        <span class="govuk-body">Correspondence address</span><br>
                   </span> Gower Road, Pennard, <br>SA18 8PI </p>

                   <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                    <table class="govuk-table">
                      <thead class="govuk-table__head">

                        <tr class="govuk-table__row">
                          <th class="govuk-table__header" scope="col"> People digitally authorised <br>to file for this company</th>
                          <th class="govuk-table__header" scope="col"> Authorisation <br>status </th>
                          <th class="govuk-table__header" scope="col"> View </th>
                        </tr>


                      </thead>
                      <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell">
                            <p class="govuk-body"> Hannah Salt (you)</p>
                          </td>
                          <td class="govuk-table__cell">
                            {{govukTag({
                              text: "CONFIRMED",
                              classes: "govuk-tag--green"
                            })}}
                          </td>
                          <td class="govuk-table__cell">
                          <a href="" class="govuk-link">View details</a>
                          </td>
                        </tr>

                      </tbody>
                    </table>
                    <p> <a href="#" class="govuk-link govuk-link--no-visited-state">File for this company</a></p>
                    <p> <a href="../../delegate-to-presenter/enter-presenter-details" class="govuk-link govuk-link--no-visited-state">Digitally authorise a person to file for this company</a></p>
                    </div>
                  </div>

                </div>

              </div>
            </div>


          </div>



    </div>

    <div class="govuk-grid-row govuk-!-margin-top-3">
  <div class="govuk-grid-column-full">
            <div style=" border-color: #b1b4b6; border-style: solid; border-width: 1px; padding: 2em;">
              <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                 <h2 class="govuk-heading-m">COASTAL LETTINGS AGENCY LIMITED</h2>
                </div>
              </div>

              <div class="govuk-grid-row">
                <div class="govuk-grid-column-three-quarters">
                  <p class="govuk-body govuk-!-font-weight-bold">
                      <span class="govuk-body ">Company number</span><br>
                 </span>18882777</p>

                    <p class="govuk-body govuk-!-font-weight-bold">
                        <span class="govuk-body">Correspondence address</span><br>
                   </span> 77 Brighton Road, London <br>CR8 8TU </p>

                   <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                    <table class="govuk-table">
                      <thead class="govuk-table__head">

                        <tr class="govuk-table__row">
                          <th class="govuk-table__header" scope="col"> People authorised to file for this company</th>
                          <th class="govuk-table__header" scope="col"> Status </th>
                          <th class="govuk-table__header" scope="col"> View </th>
                        </tr>


                      </thead>
                      <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell">
                            <p class="govuk-body"> Hannah Salt (you)</p>
                          </td>
                          <td class="govuk-table__cell">
                            {{govukTag({
                              text: "CONFIRMED",
                              classes: "govuk-tag--green"
                            })}}
                          </td>
                          <td class="govuk-table__cell">
                          <a href="" class="govuk-link">View details</a>
                          </td>
                        </tr>

                      </tbody>
                    </table>
                    <p> <a href="#" class="govuk-link govuk-link--no-visited-state">File for this company</a></p>
                    <p> <a href="../../delegate-to-presenter/enter-presenter-details" class="govuk-link govuk-link--no-visited-state">Digitally authorise a person to file for this company</a></p>
                    </div>
                  </div>

                </div>

              </div>
            </div>


          </div>



    </div>


    <div class="ch-pagination-container">


    <nav class="ch-pagination" role="navigation" aria-label="Pagination Navigation">
      <p class="govuk-visually-hidden" aria-labelledby="pagination-label">Pagination navigation</p>

      <ul class="ch-pagination__list govuk-body" role="navigation">


          <li class="ch-pagination__item ch-pagination__item--active">
            <span aria-current="true">1</span>
          </li>

          <li class="ch-pagination__item">
            <a href="home-multiple-companies-page-2" class="ch-pagination__link govuk-link--no-visited-state" aria-label="Go to page 2">
              2</a>
          </li>

          <li class="ch-pagination__item">
            <a href="" class="ch-pagination__link govuk-link--no-visited-state" aria-label="Go to page 3">
              3</a>
          </li>

          <li class="ch-pagination__item">
            <a href="" class="ch-pagination__link govuk-link--no-visited-state" aria-label="Go to page 4">
              4</a>
          </li>

          <li class="ch-pagination__item">
            <a href="" class="ch-pagination__link govuk-link--no-visited-state" aria-label="Go to page 5">
              5</a>
          </li>

        <li class="ch-pagination__item">
          <a href="" class="ch-pagination__link govuk-link--no-visited-state ch-pagination-next" aria-label="Next page">Next
            <span class="govuk-visually-hidden">
              next page</span></a>
        </li>
    </ul>
   </nav>

   <div class="ch-pagination__summary govuk-body">Showing <b>10</b> to <b>20</b> of <b>50</b> results</div>

</div>







</div>
</div>


{% endblock %}
