{% extends "layouts/layout_unbranded-with-banner.html" %}
<!-- Overwrite suerfice name -->


{% block pageTitle %}
  {{ serviceName }} – Prototype
{% endblock %}


{% set serviceName %}
 
{% endset %}

{% block beforeContent %}


{% endblock %}


{% block content %}

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds ">

  <form action="email-address-do-not-match" method="post" novalidate="">

  
    <h1 class="govuk-heading-l">Email addresses must match</h1> 

    <p class="govuk-body">To connect your Companies House account to your GOV.UK One Login, you must use the same email address for both. You have 2 options.</p> 
   

    <h2 class="govuk-heading-m">Option 1</h2>
    <h3 class="govuk-heading-s">Change your Companies House account email address</h3>

    <ol class="govuk-list govuk-list--number">
      <li>Go to 
      <a href="../public-beta-dev-ready/change-email-address" class="govuk-link" rel="noreferrer noopener" target="_blank">‘Change email address’ (opens in a new tab)</a>.</li>
      <li>Change your Companies House account email address to <strong> {{data['one-login-email']}}</strong>.</li>
      <li>Select ‘Manage account’.</li>
      <li>Select continue to connect your account to your GOV.UK One Login.</li>
    </ol>

    <h2 class="govuk-heading-m">Option 2</h2>
    <h3 class="govuk-heading-s">Change your GOV.UK One Login email address</h3>

    <ol class="govuk-list govuk-list--number">
      <li>
        <a href="../public-beta-dev-ready/create-or-sign-in-9" class="govuk-link" rel="noreferrer noopener" target="_blank">Sign in to your GOV.UK One Login (opens in a new tab)</a>.
     </li>
      <li>Select ‘Security’.</li>
      <li>Change your GOV.UK One Login email address to <strong>{{ data['chs-email'] }}</strong>.</li>
      <li>Go back to your Companies House account and select ‘Manage account’.</li>
      <li>Select continue to connect your account to your GOV.UK One Login.</li>
    </ol>

    <!-- 
    <div class="govuk-inset-text">


      <p class="govuk-body">The GOV.UK One Login <strong>email222@example.com</strong>, does not match your Companies House account email address, which is <strong>email111@example.com</strong>.</p>



      <p class="govuk-body">The email address you entered for GOV.UK One Login is {% if (data['one-login-email'] !== "") %}
        
        <strong> {{data['one-login-email']}}</strong>.
  
        {% else %}
  
        <strong> email222@example.com</strong>.
  
        {% endif %}</p> 
      
      <p class="govuk-body">This does not match your Companies House account email address, which is {% if (data['chs-email'] !== "") %}
        
        <strong> {{data['chs-email']}}</strong>.
  
        {% else %}
  
        <strong> email111@example.com</strong>.
  
        {% endif %}</p>


    </div>
 -->
  
    <!-- <p class="govuk-body">If you want to connect this Companies House account to a GOV.UK One Login that uses a different email address, you have 2 options:</p> -->

<!--
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="email-do-not-match-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h2 class="govuk-fieldset__heading">
            What do you want to do?
          </h2>
        </legend>
  
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="email-do-not-match" name="email-do-not-match" type="radio" value="yes" aria-describedby="email-do-not-match-item-hint">
            <label class="govuk-label govuk-radios__label" for="email-do-not-match">
              Change your Companies House account email address to

              {% if (data['one-login-email'] !== "") %}
        
              <strong> {{data['one-login-email']}} </strong>
        
              {% else %}
        
              <strong> email222@example.com </strong>
        
              {% endif %}
         
            </label>
            
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="email-do-not-match" name="email-do-not-match" type="radio" value="no" aria-describedby="email-do-not-match-2-item-hint">
            <label class="govuk-label govuk-radios__label" for="email-do-not-match-2">
              Change your GOV.UK One Login email address to 
              {% if (data['chs-email'] !== "") %}
        
              <strong> {{data['chs-email']}} </strong>
        
              {% else %}
        
              <strong> email111@example.com </strong>
        
              {% endif %}
            </label>
            <div id="email-do-not-match-2-item-hint" class="govuk-hint govuk-radios__hint">
              You'll need to sign in to your GOV.UK One Login and select 'Security'
            </div>
          </div>
        </div>
      </fieldset>
    </div>




<p>Once you've changed one of these email addresses, go back to 'Manage account' and select continue to connect your account to your GOV.UK One Login.</p>-->

<!--

    <h2 class="govuk-heading-s"> Create or sign in to a GOV.UK One Login with {{ data['chs-email'] }} </h2> 

    <div class="govuk-inset-text">
    <p class="govuk-body">Companies House email address is: <br> 
      <span class="govuk-body govuk-!-font-weight-bold"> {{ data['chs-email'] }} </span></p>
      </div>
    <h2 class="govuk-heading-s"> I already have a GOV.UK One Login but the email address is different to {{ data['chs-email'] }} </h2> 


    <p class="govuk-body">You need to change the email address in your Companies House account, to match the email address you use with GOV.UK One Login. <a href="your-details-public-beta" class="govuk-link">You need to go to the 'your details' page and change the email address to match the one you use for GOV.UK One Login.</a> </p> -->


 
<!--
     {{ govukButton({
      text: "Continue"
    }) }} --> 
    
   <!--  <p class="govuk-body">
      <a href="" class="govuk-link">Try another email address</a>
    </p> ---->


  
  <!-- <p class="govuk-body"><a href="#" class="govuk-link">Register</a></p>
  
  <p class="govuk-body"><a href="#" class="govuk-link">I've forgotten my password</a></p> -->
  
  </form>

            </div>
          </div>

{% endblock %}
