{% extends "layouts/layout_unbranded-with-banner.html" %}

{% set serviceName %}

Companies House

{% endset %}



{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="email-change-of-email-chs" method="post" novalidate>

    <h1 class="govuk-heading-l">Email address update </h1>

<p class="govuk-body">Your email address has changed from <a href="" class="govuk-link"> [chs]</a> to <a href="" class="govuk-link">[one login] </a></p>

<p class="govuk-body">Notification of this change has been sent to both the old and new email addresses.</p>

<p class="govuk-body">No further emails will be sent to your old email address.</p>



<p class="govuk-hint govuk-!-static-padding-top-5" > Contact Centre tel +44 (0)303 1234 500
or email <a href="" class="govuk-link"> enquiries@companieshouse.gov.uk</a>.

This email was sent from a notification-only email address which cannot accept incoming mail. Please do not reply directly to this message.


</form>

  </div>
  </div>
{% endblock %}


{% block footer %}
{% endblock %}