{% extends "layouts/layout-chs-signed-out.html" %}

{% block pageTitle %}
  Your companies
{% endblock %}


{% block content %}

<div class="govuk-width-container">


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-xl govuk-!-static-margin-bottom-1">Your companies </h1>

    <p class="govuk-body govuk-!-static-padding-bottom-5 govuk-!-static-margin-top-2">
     <a href="company-invitations" class="govuk-link">View invitations to be digitally authorised (0)</a>
    </p>


      {{ govukButton({
          text: "Add a company",
          href:"../../add-a-company"
      }) }}




  </div>


</div>



<div class="govuk-form-group govuk-!-margin-bottom-0">
        
  <label class="govuk-label--m" for="search">
      Search for a company
  </label>
  <div id="search-hint" class="govuk-hint govuk-!-padding-top-1">
      Enter the company number
  </div>

  <input class="govuk-input govuk-input--width-10" id="search" name="search" type="text" value="866">
  {{ govukButton({
      text: "Search",
      href:"#",
      classes: "searchbutton govuk-button--secondary",
      href:"home-multiple-companies-page-2"
  }) }}
</div>



<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h2 class="govuk-heading-s">2 matches found for '866'</h2>

 
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-top-0">

</div>
</div>



<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
  
      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m visuallyhidden">Your companies</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Company name</th>
            <th scope="col" class="govuk-table__header">Company number</th>
            <th scope="col" class="govuk-table__header">People digitally  authorised to file online</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">ANDROID TECHNOLOGY LTD</th>
            <td class="govuk-table__cell">10866549</td>
            <td class="govuk-table__cell"><a href="manage-authorised-people" class="govuk-link govuk-link--no-visited-state">View and manage </a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">ARCHITECTS WALES LIMITED</th>
            <td class="govuk-table__cell">07518663</td>
            <td class="govuk-table__cell"><a href="manage-authorised-people" class="govuk-link govuk-link--no-visited-state"> View and manage</a></td>
          </tr>
         
        </tbody>
      </table>
    </div>
  </div>
  



{% endblock %}
