{% extends "layouts/layout_unbranded-with-banner.html" %}
<!-- Overwrite suerfice name -->


{% block pageTitle %}
  {{ serviceName }} – Prototype
{% endblock %}


{% set serviceName %}
 
{% endset %}

{% block beforeContent %}


{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <strong class="govuk-tag">
        Content TBC
      </strong>
      
      <h1 class="govuk-heading-l">Incorrect password entered too many times</h1>
      
          <p class="govuk-body">Your Companies House account is now locked. You can try to sign in again in 5 minutes.  </p>


          <p class="govuk-body">You can 
            <a href="#" class="govuk-link">reset your password</a> if you've forgotten it.
         </p>
 

         <p class="govuk-body">
          <a href="#" class="govuk-link">Go back to sign in</a>, and try again in 5 minutes.
       </p>
 
     
 <!--               {{ govukButton({
                classes:"govuk-!-margin-top-5",
                href:"sign-in",
                text: "Go back to sign in"
              }) }}
 
              -->


    </div>
  </div>

{% endblock %}
