{% extends "layouts/layout_unbranded-with-banner.html" %}
<!-- Overwrite suerfice name -->


{% block pageTitle %}
  {{ serviceName }} – Prototype
{% endblock %}


{% set serviceName %}
 
{% endset %}

{% block beforeContent %}


{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <strong class="govuk-tag">
        Content TBC
      </strong>
      
      <h1 class="govuk-heading-l">You've entered the wrong password too many times</h1>

         <p class="govuk-body">You'll need to wait for 5 minutes, then <a href="../public-beta-dev-ready/choose-sign-in" class="govuk-link">go back to sign in</a>. This is to keep your Companies House account secure.
       </p>
 
       <p class="govuk-body">You can 
        <a href="#" class="govuk-link">reset your password</a> if you've forgotten it.
     </p>

     
 <!--               {{ govukButton({
                classes:"govuk-!-margin-top-5",
                href:"sign-in",
                text: "Go back to sign in"
              }) }}
 
              -->


    </div>
  </div>

{% endblock %}
