{% extends "layouts/layout_unbranded-with-banner.html" %}
<!-- Overwrite suerfice name -->


{% block pageTitle %}
  {{ serviceName }} – Prototype
{% endblock %}


{% set serviceName %}
 
{% endset %}

{% block beforeContent %}


{% endblock %}


{% block content %}

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds ">

  <form action="sign-in-details-do-not-match" method="post" novalidate="">

  
    <h1 class="govuk-heading-l">You need to use your Companies House account email address </h1> 

    <!--   <p class="govuk-body"> There is no Companies House account for <span class="govuk-body govuk-!-font-weight-bold"> {{ data['chs-email'] }}</span> </p>

   <div class="govuk-inset-text">
      
    </div> -->

    <p class="govuk-body">You need to sign in to or create a GOV.UK One Login using the same email address you use to sign in to your Companies House account.</p>

    {{ govukButton({
      text: "Continue",
      href:"chs-sign-in"
    }) }} 
    
   <!--  <p class="govuk-body">
      <a href="" class="govuk-link">Try another email address</a>
    </p> ---->


  
  <!-- <p class="govuk-body"><a href="#" class="govuk-link">Register</a></p>
  
  <p class="govuk-body"><a href="#" class="govuk-link">I've forgotten my password</a></p> -->
  
  </form>

            </div>
          </div>

{% endblock %}
