{% extends "layouts/layout_unbranded-with-banner.html" %}
<!-- Overwrite suerfice name -->
{% set serviceName %}
  
{% endset%}

{% block pageTitle %}
  GOV.UK One Login  – Prototype
{% endblock %}

{% block beforeContent %}

{% endblock %}



{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds ">
      <form action="end-linking-public-11" method="post" novalidate>

        <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
          <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
              Success
            </h2>
          </div>
          <div class="govuk-notification-banner__content">
            <h3 class="govuk-notification-banner__heading">
              Your GOV.UK One Login is now connected to this account
            </h3>
          <p>You have connected your GOV.UK One Login to this Companies House account, using <strong>email111@example.com</strong>. We have saved your existing account information.</p>
          </div>
        </div>

     

    <h1 class="govuk-heading-l">Sign in with GOV.UK One Login next time</h1>
    
    <p class="govuk-body">In the future, select ‘Sign in with GOV.UK One Login’.</p>


    <!--
    <p class="govuk-body">If your email address is for a shared inbox, you may want to update your sign in details with an email address only you can access. You can do this in the ‘Your details’ section when you sign in to Companies House.
       </p>-->
    
       <p class="govuk-body">You can now continue to the digital service or platform you were using.
      </p>

    <button type="Submit" class="govuk-button" data-module="govuk-button">
        Continue
    </button>

    </form>
    </div>
</div>

{% endblock %}
