{% extends "layouts/layout_unbranded-with-banner.html" %}
<!-- Overwrite suerfice name -->
{% set serviceName %}
  
{% endset%}

{% block pageTitle %}
  GOV.UK One Login  – Prototype
{% endblock %}

{% block beforeContent %}

{% endblock %}



{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds ">
      <form action="end-linking" method="post" novalidate>

        {% set html %}
          

        {% endset %}

     

    <h1 class="govuk-heading-l">Sign in with GOV.UK One Login next time</h1>
    
    <p class="govuk-body">In the future, select ‘Sign in with GOV.UK One Login’.</p>


    <!--
    <p class="govuk-body">If your email address is for a shared inbox, you may want to update your sign in details with an email address only you can access. You can do this in the ‘Your details’ section when you sign in to Companies House.
       </p>-->
    
       <p class="govuk-body">You can now continue with the digital service or platform you were using.
      </p>

    <button type="Submit" class="govuk-button" data-module="govuk-button">
        Continue
    </button>

    </form>
    </div>
</div>

{% endblock %}
