// global styles for <a> and <p> tags
$govuk-global-styles: true;
$govuk-new-link-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import ".tmp/sass/extensions";

// Patterns that aren't in Frontend
@import "patterns/contents-list";
@import "patterns/mainstream-guide";
@import "patterns/pagination";
@import "patterns/related-items";
@import "patterns/step-by-step-header";
@import "patterns/step-by-step-nav";
@import "patterns/step-by-step-related";
@import "patterns/task-list";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

@import "custom";

// SEARCH RESULTS
.type-officer a {
}

.type-company a {
}

.crumbtrail {
    color: #6f777b;
    font-size: 16px;
    margin-bottom: 0;
}

.address {
    color: #000;
    font-size: 16px;
}

.inset {
    padding: 10px 0px 10px 15px;
    border-left: 3px solid #bfc1c3;
}

// SEARCH BAR AND BUTTON
.searchfield .main.search .search-header input {
    font-size: 19px;
    line-height: 1.31579;
}

.searchfield .main.search .search-header .search-submit {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 50px;
    width: 50px;
    overflow: visible;
    cursor: pointer;
}

.searchfield .main.search .search-header button {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    position: absolute;
    z-index: 4;
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;
    border: none;
    overflow: hidden;
    text-indent: -5000px;
    color: #fff;
    background-color: #005ea5;
    background-image: url('../../images/search/search-button.png');
    background-repeat: no-repeat;
    background-position: -12.5% 50%;
}