}

@media screen and (max-width: 800px) {
  .govuk-signed-block{
      flex-direction: column;
  }
  .govuk-signin-block{
      width: auto;
  }
}

.govuk-panel--interruption {
  background-color: $govuk-brand-colour;
  padding-top: govuk-spacing(6);
  padding-left: govuk-spacing(6);
  padding-right: govuk-spacing(6);


  * {
    color: govuk-colour("white");
  }

}