//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here



@import "custom";



.highlight-box {
    background-color: #f9f9f8;
    border-style: solid;
    border-width: thin;
    border-color: #bfc1c3;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 15px;
  }

  
// SEARCH RESULTS
.type-officer a {
}

.type-company a {
}

.crumbtrail {
    color: #6f777b;
    font-size: 16px;
    margin-bottom: 0;
}

.address {
    color: #000;
    font-size: 16px;
}

.inset {
    padding: 10px 0px 10px 15px;
    border-left: 3px solid #bfc1c3;
}

// SEARCH BAR AND BUTTON
.searchfield .main.search .search-header input {
    font-size: 19px;
    line-height: 1.31579;
}

.searchfield .main.search .search-header .search-submit {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 50px;
    width: 50px;
    overflow: visible;
    cursor: pointer;
}

.searchfield .main.search .search-header button {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    position: absolute;
    z-index: 4;
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;
    border: none;
    overflow: hidden;
    text-indent: -5000px;
    color: #fff;
    background-color: #005ea5;
    background-image: url('../../images/search/search-button.png');
    background-repeat: no-repeat;
    background-position: -12.5% 50%;
}


//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here

@media (min-width: 641px) {
	.searchbutton{

	}
}

.app-c-option-select {
    position: relative;
    padding: 0 0 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #b1b4b6
}

.feedback{
    background: #1d70b8;
}

 .govuk-header__container{
    border-bottom: 0;
}

.govuk-header{
    border-bottom: 0;
} 

@media (min-width: 48.0625em) {
    .app-c-option-select ::-webkit-scrollbar {
        -webkit-appearance:none;
        width: 7px
    }

    .app-c-option-select ::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: rgba(0,0,0,0.5);
        box-shadow: 0 0 1px rgba(255,255,255,0.87)
    }
}

.app-c-option-select .gem-c-checkboxes {
    margin: 0
}

.app-c-option-select__title {
    font-family: "GDS Transport",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    margin: 0
}

@media print {
    .app-c-option-select__title {
        font-family: sans-serif
    }
}

@media (min-width: 40.0625em) {
    .app-c-option-select__title {
        font-size:19px;
        font-size: 1.1875rem;
        line-height: 1.3157894737
    }
}

@media print {
    .app-c-option-select__title {
        font-size: 14pt;
        line-height: 1.15
    }
}

.app-c-option-select__button {
    z-index: 1;
    background: none;
    border: 0;
    text-align: left;
    padding: 0;
    cursor: pointer;
    color: #1d70b8
}

.app-c-option-select__button:hover {
    text-decoration: underline;
    text-underline-offset: .1em;

    -webkit-text-decoration-skip-ink: none;
    text-decoration-skip-ink: none;
    -webkit-text-decoration-skip: none;
    text-decoration-skip: none
}

.app-c-option-select__button::-moz-focus-inner {
    border: 0
}

.app-c-option-select__button:focus {
    outline: none;
    text-decoration: none;
    outline: 3px solid transparent;
    color: #0b0c0c;
    background-color: #fd0;
    box-shadow: 0 -2px #fd0,0 4px #0b0c0c;
    text-decoration: none
}

.app-c-option-select__button[disabled] {
    background-image: none;
    color: inherit
}

.app-c-option-select__button:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2
}

.app-c-option-select__icon {
    display: none;
    position: absolute;
    top: 0;
    left: 9px;
    width: 30px;
    height: 40px;
    fill: #0b0c0c
}

.app-c-option-select__container {
    position: relative;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #fff
}

.app-c-option-select__container:focus {
    outline: 0
}

.app-c-option-select__container-inner {
    padding: 5px 13px
}

.app-c-option-select__filter {
    position: relative;
    background: #fff;
    padding: 13px 13px 10px 13px
}

.app-c-option-select__filter-input {
    font-family: "GDS Transport",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    padding-left: 33px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 36' width='40' height='40'%3E%3Cpath d='M25.7 24.8L21.9 21c.7-1 1.1-2.2 1.1-3.5 0-3.6-2.9-6.5-6.5-6.5S10 13.9 10 17.5s2.9 6.5 6.5 6.5c1.6 0 3-.6 4.1-1.5l3.7 3.7 1.4-1.4zM12 17.5c0-2.5 2-4.5 4.5-4.5s4.5 2 4.5 4.5-2 4.5-4.5 4.5-4.5-2-4.5-4.5z' fill='currentColor'%3E%3C/path%3E%3C/svg%3E") #fff no-repeat -5px -3px
}

@media print {
    .app-c-option-select__filter-input {
        font-family: sans-serif
    }
}

@media (min-width: 40.0625em) {
    .app-c-option-select__filter-input {
        font-size:19px;
        font-size: 1.1875rem;
        line-height: 1.3157894737
    }
}

@media print {
    .app-c-option-select__filter-input {
        font-size: 14pt;
        line-height: 1.15
    }
}

@media (min-width: 40.0625em) {
    .app-c-option-select__filter-input {
        font-family:"GDS Transport", arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-weight: 400;
        font-size: 14px;
        font-size: .875rem;
        line-height: 1.1428571429
    }
}

@media print and (min-width: 40.0625em) {
    .app-c-option-select__filter-input {
        font-family:sans-serif
    }
}

@media (min-width: 40.0625em) and (min-width: 40.0625em) {
    .app-c-option-select__filter-input {
        font-size:16px;
        font-size: 1rem;
        line-height: 1.25
    }
}

@media print and (min-width: 40.0625em) {
    .app-c-option-select__filter-input {
        font-size:14pt;
        line-height: 1.2
    }
}

.js-enabled .app-c-option-select__heading {
    position: relative;
    padding: 10px 8px 5px 43px
}

.js-enabled [aria-expanded="true"]~.app-c-option-select__icon--up {
    display: block
}

.js-enabled [aria-expanded="false"]~.app-c-option-select__icon--down {
    display: block
}

.js-enabled [data-closed-on-load="true"] .app-c-option-select__container {
    display: none
}

.app-c-option-select__selected-counter {
    font-family: "GDS Transport",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 12px;
    font-size: .75rem;
    line-height: 1.25;
    color: #0b0c0c;
    margin-top: 3px
}

@media print {
    .app-c-option-select__selected-counter {
        font-family: sans-serif
    }
}

@media (min-width: 40.0625em) {
    .app-c-option-select__selected-counter {
        font-size:14px;
        font-size: .875rem;
        line-height: 1.4285714286
    }
}

@media print {
    .app-c-option-select__selected-counter {
        font-size: 12pt;
        line-height: 1.2
    }
}

.app-c-option-select.js-closed .app-c-option-select__filter,.app-c-option-select.js-closed .app-c-option-select__container {
    display: none
}

.app-c-option-select.js-opened .app-c-option-select__filter,.app-c-option-select.js-opened .app-c-option-select__container {
    display: block
}

.gem-c-search {
    position:relative;
    margin-bottom:30px
   }
   .gem-c-search__label {
    font-family:"GDS Transport",arial,sans-serif;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    font-weight:400;
    font-size:16px;
    font-size:1rem;
    line-height:2.5;
    display:block;
    color:#0b0c0c
   }
   @media print {
    .gem-c-search__label {
     font-family:sans-serif
    }
   }
   @media (min-width: 40.0625em) {
    .gem-c-search__label {
     font-size:19px;
     font-size:1.1875rem;
     line-height:2.1052631579
    }
   }
   @media print {
    .gem-c-search__label {
     font-size:14pt;
     line-height:40px
    }
   }
   .gem-c-search__label h1 {
    font-family:"GDS Transport",arial,sans-serif;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    font-weight:400;
    font-size:16px;
    font-size:1rem;
    line-height:2.5;
    margin:0
   }
   @media print {
    .gem-c-search__label h1 {
     font-family:sans-serif
    }
   }
   @media (min-width: 40.0625em) {
    .gem-c-search__label h1 {
     font-size:19px;
     font-size:1.1875rem;
     line-height:2.1052631579
    }
   }
   @media print {
    .gem-c-search__label h1 {
     font-size:14pt;
     line-height:40px
    }
   }
   .js-enabled .gem-c-search__label {
    position:absolute;
    left:2px;
    top:2px;
    bottom:2px;
    padding-left:15px;
    z-index:1;
    color:#505a5f;
    background:#fff
   }
   .js-enabled .gem-c-search--separate-label .gem-c-search__label {
    color:#0b0c0c
   }
   .gem-c-search__input[type="search"]:focus {
    outline:3px solid #fd0;
    outline-offset:0;
    box-shadow:inset 0 0 0 2px
   }
   .gem-c-search__input[type="search"] {
    font-family:"GDS Transport",arial,sans-serif;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    font-weight:400;
    font-size:16px;
    font-size:1rem;
    line-height:1.4736842105;
    margin:0;
    width:100%;
    height:2.5em;
    padding:.375em;
    border:2px solid #0b0c0c;
    background:#fff;
    border-radius:0;
    box-sizing:border-box;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none
   }
   @media print {
    .gem-c-search__input[type="search"] {
     font-family:sans-serif
    }
   }
   @media (min-width: 40.0625em) {
    .gem-c-search__input[type="search"] {
     font-size:19px;
     font-size:1.1875rem;
     line-height:1.4736842105
    }
   }
   @media print {
    .gem-c-search__input[type="search"] {
     font-size:14pt;
     line-height:1.4736842105
    }
   }
   @media (min-width: 40.0625em) {
    .gem-c-search__input[type="search"] {
     height:2.1052631579em;
     padding:.3157894737em
    }
   }
   .gem-c-search__input[type="search"]:focus,
   .gem-c-search__input.focus[type="search"] {
    z-index:2
   }
   .gem-c-search__submit {
    border:0;
    cursor:pointer;
    border-radius:0;
    position:relative;
    padding:0;
    width:40px;
    height:40px;
    text-indent:-5000px;
    overflow:hidden
   }
   .gem-c-search__submit .gem-c-search__icon {
    display:block;
    pointer-events:none;
    position:absolute;
    height:20px;
    width:20px;
    top:10px;
    left:10px
   }
   .gem-c-search__submit:focus {
    z-index:2;
    outline:3px solid #fd0;
    outline-offset:0;
    box-shadow:inset 0 0 0 4px #0b0c0c
   }
   .gem-c-search__submit::-moz-focus-inner {
    border:0
   }
   .gem-c-search__item-wrapper {
    display:table;
    width:100%;
    background:#fff
   }
   .gem-c-search__item {
    position:relative;
    display:table-cell;
    vertical-align:top
   }
   .gem-c-search__submit-wrapper {
    width:1%
   }
   .gem-c-search--on-govuk-blue .gem-c-search__label {
    color:#fff
   }
   .gem-c-search--on-govuk-blue .gem-c-search__input {
    border-width:0
   }
   .gem-c-search--on-govuk-blue .gem-c-search__input:focus {
    box-shadow:none
   }
   .gem-c-search--on-govuk-blue .gem-c-search__submit {
    background-color:#0b0c0c;
    color:#fff
   }
   .gem-c-search--on-govuk-blue .gem-c-search__submit:hover {
    background-color:#171919
   }
   .js-enabled .gem-c-search--on-govuk-blue .gem-c-search__label {
    color:#505a5f
   }
   .gem-c-search--on-white .gem-c-search__submit {
    background-color:#1d70b8;
    color:#fff
   }
   .gem-c-search--on-white .gem-c-search__submit:hover {
    background-color:#207dce
   }
   .gem-c-search--on-white .gem-c-search__input[type="search"] {
    border-right-width:0
   }
   .gem-c-search--on-white .gem-c-search__input[type="search"]:focus {
    border-right-width:2px
   }
   .gem-c-search--no-border .gem-c-search__label {
    color:#fff
   }
   .gem-c-search--no-border .gem-c-search__input[type="search"] {
    border:0
   }
   .js-enabled .gem-c-search--no-border .gem-c-search__label {
    color:#505a5f
   }
   .gem-c-search--large .gem-c-search__label {
    font-family:"GDS Transport",arial,sans-serif;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    font-weight:400;
    font-size:16px;
    font-size:1rem;
    line-height:3.125
   }
   @media print {
    .gem-c-search--large .gem-c-search__label {
     font-family:sans-serif
    }
   }
   @media (min-width: 40.0625em) {
    .gem-c-search--large .gem-c-search__label {
     font-size:19px;
     font-size:1.1875rem;
     line-height:2.6315789474
    }
   }
   @media print {
    .gem-c-search--large .gem-c-search__label {
     font-size:14pt;
     line-height:50px
    }
   }
   .gem-c-search--large .gem-c-search__input[type="search"] {
    height:50px
   }
   .gem-c-search--large .gem-c-search__submit {
    width:50px;
    height:50px
   }
   .gem-c-search--large .gem-c-search__submit .gem-c-search__icon {
    display:block;
    pointer-events:none;
    position:absolute;
    height:20px;
    width:20px;
    top:15px;
    left:15px
   }
   .gem-c-search--separate-label .gem-c-search__label {
    position:relative;
    top:auto;
    left:auto;
    padding-left:0
   }
   .search-toggle {
    display:none;
    background-color:#1d70b8;
    background-image:url(/assets/finder-frontend/govuk_publishing_components/search-button-ca89b2a79f944909ceb7370d3f0b78811d32b96e883348fcd8886f63dd619585.png);
    background-position:0 50%;
    background-repeat:no-repeat;
    float:right;
    height:30px;
    margin:-46px 0;
    overflow:hidden;
    padding:0;
    text-indent:-5000px;
    width:36px;
    border:0
   }
   .search-toggle:focus {
    border-width:0;
    box-shadow:inset 0 0 0 4px #0b0c0c;
    outline:3px solid #fd0;
    outline-offset:0
   }
   .search-toggle:focus,
   .search-toggle:hover {
    background-color:#207dce
   }
   .search-toggle.js-hidden {
    display:none
   }
   @media only screen and (-webkit-min-device-pixel-ratio: 2),only screen and (min-resolution: 192dpi),only screen and (min-resolution: 2dppx) {
    .search-toggle {
     background-size:52.5px 35px;
     background-position:100% 50%
    }
   }
   @media (min-width: 40.0625em) {
    .search-toggle {
     display:none
    }
   }
   @media (max-width: 40.0525em) {
    .js-enabled .search-toggle {
     display:block
    }
   }

   .search-results li{
    border-top: 1px solid #b1b4b6;
   }

   .company-name{
       color: $govuk-link-colour
   }

   .gem-c-pagination {
    display:block;
    margin:50px 0
   }
   .gem-c-pagination__list {
    margin:0;
    padding:0
   }
   .gem-c-pagination__item {
    font-family:"GDS Transport",arial,sans-serif;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    font-weight:400;
    font-size:14px;
    font-size:.875rem;
    line-height:1.25;
    list-style:none
   }
   @media print {
    .gem-c-pagination__item {
     font-family:sans-serif
    }
   }
   @media (min-width: 40.0625em) {
    .gem-c-pagination__item {
     font-size:16px;
     font-size:1rem;
     line-height:1.25
    }
   }
   @media print {
    .gem-c-pagination__item {
     font-size:14pt;
     line-height:1.25
    }
   }
   .gem-c-pagination__item:first-child {
    margin-bottom:20px
   }
   .gem-c-pagination__link {
    display:block;
    text-decoration:none;
    padding-bottom:20px
   }
   .gem-c-pagination__link:hover,
   .gem-c-pagination__link:active,
   .gem-c-pagination__link:visited {
    color:#1d70b8
   }
   .gem-c-pagination__link:hover,
   .gem-c-pagination__link:active {
    background-color:#f3f2f1
   }
   .gem-c-pagination__link:hover .gem-c-pagination__link-text--decorated,
   .gem-c-pagination__link:active .gem-c-pagination__link-text--decorated {
    text-decoration:underline;
    text-underline-offset:.1em
   }
   .gem-c-pagination__link:hover .gem-c-pagination__link-label,
   .gem-c-pagination__link:hover .gem-c-pagination__link-text--decorated,
   .gem-c-pagination__link:active .gem-c-pagination__link-label,
   .gem-c-pagination__link:active .gem-c-pagination__link-text--decorated {

    -webkit-text-decoration-skip-ink:none;
    text-decoration-skip-ink:none;
    -webkit-text-decoration-skip:none;
    text-decoration-skip:none
   }
   .gem-c-pagination__link:focus {
    outline:3px solid transparent;
    color:#0b0c0c;
    background-color:#fd0;
    box-shadow:0 -2px #fd0,0 4px #0b0c0c;
    text-decoration:none
   }
   .gem-c-pagination__link:focus .gem-c-pagination__link-title {
    border-top-color:transparent
   }
   .gem-c-pagination__link:focus .gem-c-pagination__link-icon {
    fill:#0b0c0c
   }
   .gem-c-pagination__link-title {
    display:block;
    border-top:1px solid #b1b4b6;
    padding-top:15px
   }
   .gem-c-pagination__link-divider {
    position:absolute !important;
    width:1px !important;
    height:1px !important;
    margin:0 !important;
    padding:0 !important;
    overflow:hidden !important;
    clip:rect(0 0 0 0) !important;
    -webkit-clip-path:inset(50%) !important;
    clip-path:inset(50%) !important;
    border:0 !important;
    white-space:nowrap !important
   }
   .gem-c-pagination__link-text {
    font-family:"GDS Transport",arial,sans-serif;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    font-weight:700;
    font-size:16px;
    font-size:1rem;
    line-height:1.25;
    margin-left:10px
   }
   @media print {
    .gem-c-pagination__link-text {
     font-family:sans-serif
    }
   }
   @media (min-width: 40.0625em) {
    .gem-c-pagination__link-text {
     font-size:19px;
     font-size:1.1875rem;
     line-height:1.3157894737
    }
   }
   @media print {
    .gem-c-pagination__link-text {
     font-size:14pt;
     line-height:1.15
    }
   }
   .gem-c-pagination__link-icon {
    font-family:"GDS Transport",arial,sans-serif;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    font-weight:400;
    font-size:18px;
    font-size:1.125rem;
    line-height:1.25;
    display:inline-block;
    margin-bottom:1px;
    height:.482em;
    width:.63em;
    fill:#505a5f
   }
   @media print {
    .gem-c-pagination__link-icon {
     font-family:sans-serif
    }
   }
   @media (min-width: 40.0625em) {
    .gem-c-pagination__link-icon {
     font-size:24px;
     font-size:1.5rem;
     line-height:1.25
    }
   }
   @media print {
    .gem-c-pagination__link-icon {
     font-size:18pt;
     line-height:1.25
    }
   }
   .gem-c-pagination__link-label {
    display:inline-block;
    margin-top:.1em;
    margin-left:25px;
    text-decoration:underline;
    text-underline-offset:.1em
   }
   @media (min-width: 40.0625em) {
    .gem-c-pagination__link-label {
     margin-left:30px
    }
   }

   .right{
       float: right;
   }

   .account-menu{
    margin: 0 0 30px 0;
    padding: 0;
  }
  
  ul {
      display: block;
      list-style-type: disc;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      padding-inline-start: 40px;
  }
  
  //item in menu
  .account-menu-item{
      list-style-type: none;
      padding: 12px 0;
  }
  
  //current item in menu 
  .account-menu__item--current {
  
      padding-bottom: 18px;
      border-bottom: 4px solid #1d70b8;
  }
  
  li {
      display: list-item;
      text-align: -webkit-match-parent;
  }
  
  
  //menu link style
  .account-menu-link {
      font-family: "GDS Transport",arial,sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-size: 15px;
      line-height: 1.25;
      text-decoration: none;
      margin-right: 3ex;
  }
  
  .accounts-menu__item {
      list-style-type: none;
      padding: 12px 0;
  }
  
  
  .account-menu-link-description {
      font-family: "GDS Transport",arial,sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-weight: 400;
      font-size: 14px;
      font-size: .875rem;
      line-height: 1.1428571429;
      display: block;
      margin-top: 5px;
  }
  
  
  .gem-c-feedback {
    background:#fff;
    margin-top:30px
   }
   @media (min-width: 40.0625em) {
    .gem-c-feedback {
     margin-top:60px;
     border-bottom:1px solid #fff
    }
   }
   .gem-c-feedback__prompt-questions {
    text-align:center;
    border-bottom:1px solid #fff;
    padding:25px 25px 25px 25px;
    box-sizing:border-box
   }
   @media (min-width: 40.0625em) {
    .gem-c-feedback__prompt-questions {
     width:50%;
     display:table-cell;
     text-align:left;
     border-bottom:0
    }
   }
   .gem-c-feedback__prompt-questions--something-is-wrong {
    text-align:center
   }
   @media (min-width: 40.0625em) {
    .gem-c-feedback__prompt-questions--something-is-wrong {
     text-align:right;
     vertical-align:bottom;
     float:none
    }
   }
   .gem-c-feedback__prompt {
    background-color:#1d70b8;
    color:#fff;
    outline:0
   }
   .gem-c-feedback__prompt:after {
    content:"";
    display:block;
    clear:both
   }
   @media (min-width: 40.0625em) {
    .gem-c-feedback__prompt {
     font-family:"GDS Transport", arial, sans-serif;
     -webkit-font-smoothing:antialiased;
     -moz-osx-font-smoothing:grayscale;
     font-weight:700;
     font-size:14px;
     font-size:.875rem;
     line-height:1.1428571429;
     display:table;
     width:100%
    }
   }
   @media print and (min-width: 40.0625em) {
    .gem-c-feedback__prompt {
     font-family:sans-serif
    }
   }
   @media (min-width: 40.0625em) and (min-width: 40.0625em) {
    .gem-c-feedback__prompt {
     font-size:16px;
     font-size:1rem;
     line-height:1.25
    }
   }
   @media print and (min-width: 40.0625em) {
    .gem-c-feedback__prompt {
     font-size:14pt;
     line-height:1.2
    }
   }
   .gem-c-feedback__prompt-question,
   .gem-c-feedback__prompt-success {
    font-family:"GDS Transport",arial,sans-serif;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    font-weight:700;
    font-size:16px;
    font-size:1rem;
    line-height:1.25
   }
   @media print {
    .gem-c-feedback__prompt-question,
    .gem-c-feedback__prompt-success {
     font-family:sans-serif
    }
   }
   @media (min-width: 40.0625em) {
    .gem-c-feedback__prompt-question,
    .gem-c-feedback__prompt-success {
     font-size:19px;
     font-size:1.1875rem;
     line-height:1.3157894737
    }
   }
   @media print {
    .gem-c-feedback__prompt-question,
    .gem-c-feedback__prompt-success {
     font-size:14pt;
     line-height:1.15
    }
   }
   @media (min-width: 40.0625em) {
    .gem-c-feedback__prompt-question,
    .gem-c-feedback__prompt-success {
     font-family:"GDS Transport", arial, sans-serif;
     -webkit-font-smoothing:antialiased;
     -moz-osx-font-smoothing:grayscale;
     font-weight:700;
     font-size:14px;
     font-size:.875rem;
     line-height:1.1428571429
    }
   }
   @media print and (min-width: 40.0625em) {
    .gem-c-feedback__prompt-question,
    .gem-c-feedback__prompt-success {
     font-family:sans-serif
    }
   }
   @media (min-width: 40.0625em) and (min-width: 40.0625em) {
    .gem-c-feedback__prompt-question,
    .gem-c-feedback__prompt-success {
     font-size:16px;
     font-size:1rem;
     line-height:1.25
    }
   }
   @media print and (min-width: 40.0625em) {
    .gem-c-feedback__prompt-question,
    .gem-c-feedback__prompt-success {
     font-size:14pt;
     line-height:1.2
    }
   }
   .gem-c-feedback__prompt-question {
    vertical-align:top;
    display:inline-block;
    margin:10px 20px
   }
   .gem-c-feedback__prompt-question:focus {
    outline:0
   }
   @media (min-width: 40.0625em) {
    .gem-c-feedback__prompt-question {
     margin-left:0;
     margin-top:0;
     display:block
    }
   }
   @media (min-width: 59.375em) {
    .gem-c-feedback__prompt-question {
     display:inline-block;
     margin-top:10px
    }
   }
   .gem-c-feedback__prompt-link {
    font-family:"GDS Transport",arial,sans-serif;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    font-weight:400;
    font-size:16px;
    font-size:1rem;
    line-height:1.25;
    background:transparent;
    box-shadow:0 2px 0 #fff;
    border:1px #fff solid;
    min-width:100%
   }
   @media print {
    .gem-c-feedback__prompt-link {
     font-family:sans-serif
    }
   }
   @media (min-width: 40.0625em) {
    .gem-c-feedback__prompt-link {
     font-size:19px;
     font-size:1.1875rem;
     line-height:1.3157894737
    }
   }
   @media print {
    .gem-c-feedback__prompt-link {
     font-size:14pt;
     line-height:1.15
    }
   }
   .gem-c-feedback__prompt-link:hover {
    background:#0b0c0c;
    background:rgba(11,12,12,0.2)
   }
   @media (min-width: 20em) {
    .gem-c-feedback__prompt-link {
     min-width:100px;
     margin-bottom:0
    }
   }
   @media (min-width: 40.0625em) {
    .gem-c-feedback__prompt-link {
     font-family:"GDS Transport", arial, sans-serif;
     -webkit-font-smoothing:antialiased;
     -moz-osx-font-smoothing:grayscale;
     font-weight:400;
     font-size:14px;
     font-size:.875rem;
     line-height:1.1428571429
    }
   }
   @media print and (min-width: 40.0625em) {
    .gem-c-feedback__prompt-link {
     font-family:sans-serif
    }
   }
   @media (min-width: 40.0625em) and (min-width: 40.0625em) {
    .gem-c-feedback__prompt-link {
     font-size:16px;
     font-size:1rem;
     line-height:1.25
    }
   }
   @media print and (min-width: 40.0625em) {
    .gem-c-feedback__prompt-link {
     font-size:14pt;
     line-height:1.2
    }
   }
   .gem-c-feedback__email-link,
   .gem-c-feedback__prompt-link {
    position:relative
   }
   .gem-c-feedback__prompt-link:link,
   .gem-c-feedback__prompt-link:visited {
    color:#fff
   }
   .gem-c-feedback__prompt-link:link:focus,
   .gem-c-feedback__prompt-link:visited:focus {
    color:#0b0c0c
   }
   .gem-c-feedback__option-list {
    list-style-type:none;
    margin:0;
    padding:0;
    margin-top:10px
   }
   @media (min-width: 20em) {
    .gem-c-feedback__option-list {
     display:inline-block;
     margin-right:10px
    }
   }
   @media (min-width: 40.0625em) {
    .gem-c-feedback__option-list {
     margin-top:0
    }
   }
   @media (min-width: 20em) {
    .gem-c-feedback__option-list-item {
     display:inline-block
    }
   }
   @media (min-width: 20em) {
    .gem-c-feedback__option-list-item:first-child {
     margin-right:20px
    }
   }
   .gem-c-feedback__error-summary {
    margin-bottom:15px;
    padding:15px;
    border:solid 4px #d4351c;
    clear:both
   }
   .gem-c-feedback__error-summary:focus {
    outline:solid 3px #fd0
   }
   @media (min-width: 40.0625em) {
    .gem-c-feedback__error-summary {
     border-width:5px
    }
   }
   .gem-c-feedback__error-summary h2 {
    color:#0b0c0c;
    font-family:"GDS Transport",arial,sans-serif;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    font-weight:700;
    font-size:18px;
    font-size:1.125rem;
    line-height:1.1111111111;
    margin:0 0 15px 0
   }
   @media print {
    .gem-c-feedback__error-summary h2 {
     color:#000
    }
   }
   @media print {
    .gem-c-feedback__error-summary h2 {
     font-family:sans-serif
    }
   }
   @media (min-width: 40.0625em) {
    .gem-c-feedback__error-summary h2 {
     font-size:24px;
     font-size:1.5rem;
     line-height:1.25
    }
   }
   @media print {
    .gem-c-feedback__error-summary h2 {
     font-size:18pt;
     line-height:1.15
    }
   }
   .gem-c-feedback__error-summary p {
    color:#0b0c0c;
    font-family:"GDS Transport",arial,sans-serif;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    font-weight:400;
    font-size:16px;
    font-size:1rem;
    line-height:1.25;
    margin:0 0 15px 0
   }
   @media print {
    .gem-c-feedback__error-summary p {
     color:#000
    }
   }
   @media print {
    .gem-c-feedback__error-summary p {
     font-family:sans-serif
    }
   }
   @media (min-width: 40.0625em) {
    .gem-c-feedback__error-summary p {
     font-size:19px;
     font-size:1.1875rem;
     line-height:1.3157894737
    }
   }
   @media print {
    .gem-c-feedback__error-summary p {
     font-size:14pt;
     line-height:1.15
    }
   }
   .gem-c-feedback__error-summary a {
    font-family:"GDS Transport",arial,sans-serif;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    text-decoration:underline;
    text-underline-offset:.1em
   }
   @media print {
    .gem-c-feedback__error-summary a {
     font-family:sans-serif
    }
   }
   .gem-c-feedback__error-summary a:hover {
    -webkit-text-decoration-skip-ink:none;
    text-decoration-skip-ink:none;
    -webkit-text-decoration-skip:none;
    text-decoration-skip:none
   }
   .gem-c-feedback__error-summary a:focus {
    outline:3px solid transparent;
    color:#0b0c0c;
    background-color:#fd0;
    box-shadow:0 -2px #fd0,0 4px #0b0c0c;
    text-decoration:none
   }
   .gem-c-feedback__error-summary a:link {
    color:#1d70b8
   }
   .gem-c-feedback__error-summary a:visited {
    color:#4c2c92
   }
   .gem-c-feedback__error-summary a:hover {
    color:#003078
   }
   .gem-c-feedback__error-summary a:active {
    color:#0b0c0c
   }
   .gem-c-feedback__error-summary a:focus {
    color:#0b0c0c
   }
   @media print {
    .gem-c-feedback__error-summary a[href^="/"]:after,
    .gem-c-feedback__error-summary a[href^="http://"]:after,
    .gem-c-feedback__error-summary a[href^="https://"]:after {
     content:" (" attr(href) ")";
     font-size:90%;
     word-wrap:break-word
    }
   }
   .gem-c-feedback__error-message {
    font-family:"GDS Transport",arial,sans-serif;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    font-weight:700;
    font-size:16px;
    font-size:1rem;
    line-height:1.25;
    display:block;
    padding:4px 0 0;
    color:#d4351c
   }
   @media print {
    .gem-c-feedback__error-message {
     font-family:sans-serif
    }
   }
   @media (min-width: 40.0625em) {
    .gem-c-feedback__error-message {
     font-size:19px;
     font-size:1.1875rem;
     line-height:1.3157894737
    }
   }
   @media print {
    .gem-c-feedback__error-message {
     font-size:14pt;
     line-height:1.15
    }
   }
   .gem-c-feedback__form {
    padding:15px 0;
    border-top:10px solid #1d70b8
   }
   @media (min-width: 40.0625em) {
    .gem-c-feedback__form {
     padding:30px 0
    }
   }
   .gem-c-feedback__form-heading {
    color:#0b0c0c;
    font-family:"GDS Transport",arial,sans-serif;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    font-weight:700;
    font-size:18px;
    font-size:1.125rem;
    line-height:1.1111111111;
    margin:0 0 15px 0
   }
   @media print {
    .gem-c-feedback__form-heading {
     color:#000
    }
   }
   @media print {
    .gem-c-feedback__form-heading {
     font-family:sans-serif
    }
   }
   @media (min-width: 40.0625em) {
    .gem-c-feedback__form-heading {
     font-size:24px;
     font-size:1.5rem;
     line-height:1.25
    }
   }
   @media print {
    .gem-c-feedback__form-heading {
     font-size:18pt;
     line-height:1.15
    }
   }
   .gem-c-feedback__form-paragraph {
    color:#0b0c0c;
    font-family:"GDS Transport",arial,sans-serif;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    font-weight:400;
    font-size:16px;
    font-size:1rem;
    line-height:1.25;
    margin:0 0 30px 0
   }
   @media print {
    .gem-c-feedback__form-paragraph {
     color:#000
    }
   }
   @media print {
    .gem-c-feedback__form-paragraph {
     font-family:sans-serif
    }
   }
   @media (min-width: 40.0625em) {
    .gem-c-feedback__form-paragraph {
     font-size:19px;
     font-size:1.1875rem;
     line-height:1.3157894737
    }
   }
   @media print {
    .gem-c-feedback__form-paragraph {
     font-size:14pt;
     line-height:1.15
    }
   }
   .gem-c-feedback__form-label {
    font-family:"GDS Transport",arial,sans-serif;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    font-weight:400;
    font-size:14px;
    font-size:.875rem;
    line-height:1.1428571429;
    display:block;
    padding-bottom:15px
   }
   @media print {
    .gem-c-feedback__form-label {
     font-family:sans-serif
    }
   }
   @media (min-width: 40.0625em) {
    .gem-c-feedback__form-label {
     font-size:16px;
     font-size:1rem;
     line-height:1.25
    }
   }
   @media print {
    .gem-c-feedback__form-label {
     font-size:14pt;
     line-height:1.2
    }
   }
   .gem-c-feedback__close {
    float:right;
    margin:0 5px 10px 0
   }
   .gem-c-feedback__email-link {
    display:block;
    margin-top:20px
   }
   @media (min-width: 48.0625em) {
    .gem-c-feedback__email-link {
     display:inline-block;
     margin-top:10px;
     margin-left:15px
    }
   }
   .gem-c-feedback .gem-c-input[type="text"] {
    font-family:"GDS Transport",arial,sans-serif;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    font-weight:400;
    font-size:16px;
    font-size:1rem;
    line-height:1.25;
    margin:0;
    padding:5px;
    border:2px solid #0b0c0c
   }
   @media print {
    .gem-c-feedback .gem-c-input[type="text"] {
     font-family:sans-serif
    }
   }
   @media (min-width: 40.0625em) {
    .gem-c-feedback .gem-c-input[type="text"] {
     font-size:19px;
     font-size:1.1875rem;
     line-height:1.3157894737
    }
   }
   @media print {
    .gem-c-feedback .gem-c-input[type="text"] {
     font-size:14pt;
     line-height:1.15
    }
   }
   .gem-c-feedback .gem-c-input[type="text"]:focus {
    outline:3px solid #fd0
   }
   .gem-c-feedback__js-show,
   .gem-c-feedback__prompt-success,
   .gem-c-feedback__prompt-questions,
   .gem-c-feedback__error-summary {
    display:none
   }
   .js-enabled .gem-c-feedback__js-show,
   .js-enabled .gem-c-feedback__prompt-success,
   .js-enabled .gem-c-feedback__prompt-questions,
   .js-enabled .gem-c-feedback__error-summary {
    display:block
   }
   .js-enabled .gem-c-feedback__js-show.js-hidden,
   .js-enabled .gem-c-feedback__prompt-success.js-hidden,
   .js-enabled .gem-c-feedback__prompt-questions.js-hidden,
   .js-enabled .gem-c-feedback__error-summary.js-hidden {
    display:none
   }
   @media (min-width: 40.0625em) {
    .js-enabled .gem-c-feedback__prompt {
     display:table
    }
   }
   @media (min-width: 40.0625em) {
    .js-enabled .gem-c-feedback__prompt-questions {
     display:table-cell
    }
   }
   .js-enabled .gem-c-feedback__form.js-hidden {
    display:none
   }  


.govuk-summary-card {
    border: 1px solid #b1b4b6;
  }
  
  .govuk-summary-card_heading {
    background: #f3f2f1;
  }

  .govuk-table-s{
      font-size: 16px;
  }

  .app-c-option-select__container{
      display: none;
  }

  .govuk-signin-block{
    background-color:#f3f2f1;  
    border-width: 1px; 
    padding: 2em; 
    margin-top: 10px;
    margin-right: 8px
  }

  .govuk-topic-block{
    border-top: 1px solid #b1b4b6; 
    padding: 18px 0 20px 0; 
    margin: 0 15px; 
    width: 30.3%
  }

  @media screen and (max-width: 1019px) {
    .govuk-topic-block{
          width: auto
      }
  }

  @media screen and (max-width: 800px) {
    .govuk-signed-block{
        flex-direction: column;
    }
    .govuk-signin-block{
        width: auto;
    }
  }

  .govuk-panel--interruption {
    background-color: $govuk-brand-colour;
    padding-top: govuk-spacing(6);
    padding-left: govuk-spacing(6);
    padding-right: govuk-spacing(6);

  
    * {
      color: govuk-colour("white");
    }

  }
