{% extends "layouts/layout-signed-out-agent.html" %}


{% block pageTitle %}
 Manage members 
{% endblock %}

{% set serviceName %}
 
{% endset %}

{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">

     <div class="govuk-grid-column-two-thirds">
     <span class="govuk-caption-l govuk-!-padding-bottom-0">MORRIS ACCOUNTING LTD 
      <h1 class="govuk-heading-l">Authorised agent account </h1> </span>

<!--<p class="govuk-body govuk-!-margin-bottom-1">This is also known as an Authorised Corporate Service Provider (ACSP).</p> -->
          <p class="govuk-body govuk-!-margin-bottom-1"><strong>Authorised agent status:</strong> <strong class="govuk-tag govuk-tag--green">
            Active
          </strong></p>
          <p class="govuk-body govuk-!-margin-bottom-1"> <strong>Authorised agent number:</strong> 06254821</p>

          <p class="govuk-body govuk-!-margin-bottom-1"> <strong>Your role: </strong>account owner</p>


         <p class="govuk-body govuk-!-padding-bottom-2">Authorised agents are also known as Authorised Corporate Service Providers (ACSPs).</p>


      <!-- Agent services  -->

   


      <h2 class="govuk-heading-m govuk-!-static-padding-top-3">Authorised agent services
      </h2>


      <h2 class="govuk-heading-s"><a class="govuk-link govuk-link--no-underline govuk-link--no-visited-state" href="member-home">Manage users</a></h3>
        <p class="govuk-body">You can:</p> 
        <ul class="govuk-list govuk-list--bullet">
          <li>view users who have been added </li>
          <li>add new users if they need to use services for the authorised agent</li>
          <li>remove users</li>
          </ul>

          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
         <h2 class="govuk-heading-s"><a class="govuk-link govuk-link--no-underline govuk-link--no-visited-state" href="https://register-an-acsp-prototype.herokuapp.com/v2-update/start-page">Update the authorised agent's details</a></h2>


          <p class="govuk-body">Tell us about changes to the:  </p>
                    <ul class="govuk-list govuk-list--bullet">
                      <li>business details</li>
                      <li>Anti-Money Laundering (AML) registration details for this business</li>
                      </ul>

         {{ govukWarningText({
            text: "You must tell us about any changes within 14 days.",
            iconFallbackText: "Warning"
          }) }} 
  


          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      
                  
          <h3 class="govuk-heading-s"><a class="govuk-link govuk-link--no-underline govuk-link--no-visited-state" href="https://register-an-acsp-prototype.herokuapp.com/v1-close/start-page">Close the authorised agent</a></h3>
          <p class="govuk-body">Tell us if MORRIS ACCOUNTING LTD is no longer an authorised agent and you need to close this account.
          </p>

          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
       <!-- Verify clients identities  -->
      <h3 class="govuk-heading-s">Tell Companies House you have verified someone's identity </a></h3>
      <p class="govuk-body">In future, you'll be able to tell us you've verified a person's identity. </p> 

      
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

     
        <!-- Filing  -->
                 
       <h3 class="govuk-heading-s">File as an authorised agent</h3>
       <p class="govuk-body">In future, you'll be able to tell us you've verified a person's identity. </p> 
 
       </div>
      </div>









</div>

</div>
</div>

      
      
   
          

{% endblock %}
