{% extends "layouts/layout-signed-out-agent.html" %}



{% block pageTitle %}
 Manage members 
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Return to authorised agent services",
    href:"check-company-details"
  }) }}
{% endblock %}


{% set serviceName %}
 
{% endset %}

{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">


     <div class="govuk-grid-column-full">
      <span class="govuk-caption-l">MORRIS ACCOUNTING LTD<h1 class="govuk-heading-l">Manage people</h1></span>



           {{ govukButton({
              text: "Add a person",
              href:"add-a-member-2"
            }) }}

          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">



          <div class="govuk-tabs govuk-!-padding-top-6" data-module="govuk-tabs">
            <h2 class="govuk-tabs__title">
              Authorised member roles
            </h2>
            <ul class="govuk-tabs__list">
              <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                <a class="govuk-tabs__tab" href="#super-admin">
                  Account owners
                </a>
              </li>
              <li class="govuk-tabs__list-item">
                <a class="govuk-tabs__tab" href="#admin">
                  Administrators
                </a>
              </li>
              <li class="govuk-tabs__list-item">
                <a class="govuk-tabs__tab" href="#standard">
                  Standard users
                </a>
              </li>
            </ul>
            <div class="govuk-tabs__panel" id="super-admin">
              <h2 class="govuk-heading-l">Account owners</h2>

             

                  <!-- Super admin users -->

                  <table class="govuk-table">
                   <thead class="govuk-table__head">
                     <tr class="govuk-table__row">
                       <th scope="col" class="govuk-table__header">Email address</th> 

                 <!-- UNDER REVIEW       <th scope="col" class="govuk-table__header">File for authorised agent</th> -->
                       
                 
                       <th scope="col" class="govuk-table__header">Name</th>
                       <th scope="col" class="govuk-table__header"><span class="govuk-visually-hidden"> Change role </span></th> 
                       <th scope="col" class="govuk-table__header"><span class="govuk-visually-hidden"> Remove </span></th>
                       
                     </tr>
                   </thead>
                   <tbody class="govuk-table__body">

                     <!-- Member 1 -->
                     <tr class="govuk-table__row">
                      <td class="govuk-table__header">  james.morris@gmail.com</th>
                    
     
                      <td class="govuk-table__cell">
                        James Morris 
                      </td>

                      <td class="govuk-table__cell">
                        <a href="edit-member-role" class="govuk-link">Change role <span class="govuk-visually-hidden">james.morris@gmail.com</span> </a>
                      </td>
  
                     
                       <td class="govuk-table__cell">
                         <a href="" class="govuk-link">Remove <span class="govuk-visually-hidden">james.morris@gmail.com</span> </a>
                       </td>
                       <td scope="row" class="govuk-table__cell"> </td>
                    </tr>
                  </tbody>
                 </table>
        
            </div>

  

            <!-- Admin users -->
            <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="admin">
              <h2 class="govuk-heading-l">Administrators</h2>
              <table class="govuk-table">
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Email address </th> 

              <!-- UNDER REVIEW       <th scope="col" class="govuk-table__header">File for authorised agent</th> -->
                    <th scope="col" class="govuk-table__header">Name</th>
                    <th scope="col" class="govuk-table__header"><span class="govuk-visually-hidden"> Change role </span></th> 
                    <th scope="col" class="govuk-table__header"><span class="govuk-visually-hidden"> Remove </span></th>
                    
                  </tr>
                </thead>
                <tbody class="govuk-table__body">
                  
                       <!-- Member 1 -->
                    <tr class="govuk-table__row">
                      <td class="govuk-table__header">  l.williams@example.com</th>
                    
     
                      <td class="govuk-table__cell">
                       Not provided
                      </td>

                      <td class="govuk-table__cell">
                        <a href="edit-member-role" class="govuk-link">Change role <span class="govuk-visually-hidden">k.williams@gmail.com</span> </a>
                      </td>
                      <td class="govuk-table__cell">
                        <a href="" class="govuk-link">Remove <span class="govuk-visually-hidden">k.williams@example.com</span> </a>
                      </td>
                      
                      
                    </tr>
                </tbody>
              </table>
            </div>

            <!-- Standard users -->
            <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="standard">
              <h2 class="govuk-heading-l">Standard users</h2>
              <table class="govuk-table">
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Email address</th> 

              
                    <th scope="col" class="govuk-table__header">Name</th>
                    <th scope="col" class="govuk-table__header"><span class="govuk-visually-hidden"> Change role </span></th> 
                    <th scope="col" class="govuk-table__header"><span class="govuk-visually-hidden"> Remove </span></th>
                   
                  </tr>
                </thead>
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <td class="govuk-table__header">  d.jones@example.com</th>
                  
   
                    <td class="govuk-table__cell">
                     Not provided
                    </td>

                    <td class="govuk-table__cell">
                      <a href="edit-member-role" class="govuk-link">Change role <span class="govuk-visually-hidden">d.jones@example.com</span> </a>
                    </td>
                    
                    
                    <td class="govuk-table__cell">
                      <a href="remove-member" class="govuk-link">Remove <span class="govuk-visually-hidden">d.jones@example.com</span> </a>
                    </td>

                  </tr>
                </tbody>
              </table>
            </div>
            
          </div>

  


           


</div>



{% endblock %}
