{% extends "layouts/layout-chs-signed-out.html" %}

{% block pageTitle %}
  Your companies - What is the authorised person's email address? - Companies House WebFiling account - GOV.UK
{% endblock %}


{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href:"user-account/company-added"
  }) }}
{% endblock %}


{% block content %}

<div class="govuk-width-container">

<div class="govuk-grid-row">


      <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">FLOWERS LIMITED (18882777)</span>
        <h1 class="govuk-heading-l">This person is already authorised </h1>
        <p class="govuk-body govuk-!-font-weight-regular">The person with the email address <strong>example@email.com</strong> has already been digitally authorised to file online for this company.  </p>

        <p class="govuk-body">
          <a href="../v7/company-added" class="govuk-link">Go back to your companies</a>
        </p>



        </div>

    </div>
</div>



{% endblock %}
