{% extends "layouts/main.html" %}

{% block pageTitle %}
Enter the company authentication code - GOV.UK
{% endblock %}

{% block beforeContent %}

{% endblock %}


{% set serviceName %}
 
{% endset %}

{% block content %}

<div class="govuk-width-container">

<div class="govuk-grid-row">

<div class="govuk-grid-column-two-thirds">
    <form action="authentication-code-2" method="post">



              {% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

              <span class='govuk-caption-l'>FLOWERS LIMITED (18882777)</span>
              <div class="govuk-form-group">
                <h1 class="govuk-label-wrapper">
                  <label class="govuk-label govuk-label--l" for="event-name">
                    Enter the company authentication code
                  </label>
                </h1>
                <div id="event-name-hint" class="govuk-hint">
                  This is a 6 character code issued by us to each company. The code is used to authorise online filings.
                </div>
                <input class="govuk-input govuk-input--width-10" id="event-name" name="eventName" type="text" aria-describedby="event-name-hint">
              </div>



              {{ govukButton({
                text: "Continue",
                href:"remove-authorised-person"
              }) }}

              {{ govukDetails({
                summaryText: "Help with authentication code",
                html: 'This is a 6 character code issued by us to each company. The code is used to authorise online filings.<br><br> <p class="govuk-body"><a href="request-an-authentication-code" class="govuk-link">I do not have an authentication code</a></p>'
              }) }}




            </form>
          </div>
        </div>

    </div>
</div>



{% endblock %}
