{% extends "layouts/layout-chs-signed-out.html" %}

{% block pageTitle %}
  Your companies - Companies House WebFiling account - GOV.UK
{% endblock %}


{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      
      <h1 class="govuk-heading-xl govuk-!-static-margin-bottom-1">Your companies </h1>

      <p class="govuk-body govuk-!-static-padding-bottom-5 govuk-!-static-margin-top-2">
       <a href="company-invitations" class="govuk-link">View invitations to be digitally authorised (0)</a>
      </p>
  
 


          {{ govukButton({
              text: "Add a company",
              href:"add-a-company"
          }) }}

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">



            <!-- <div style=" background-color: #f3f2f1;  border-width: 1px; padding: 2em;">
              <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                 <h2 class="govuk-heading-m  govuk-!-padding-top-2 govuk-!-margin-bottom-1">FLOWERS LIMITED </h2>
                  Company number <span class="govuk-body govuk-!-font-weight-bold"> 18882777</span></p>

                  <p> <a href="manage-authorised-people" class="govuk-link govuk-link--no-visited-state">View and manage people digitally authorised to file online for this company</a></p>
               

                </div>
              </div> -->


              <table class="govuk-table">
                <caption class="govuk-table__caption govuk-table__caption--m visuallyhidden">Table of companies you are digitally authorised to file for</caption>
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Company name</th>
                    <th scope="col" class="govuk-table__header">Company<br> number</th>
                    <th scope="col" class="govuk-table__header">Status</th>
                    <th scope="col" class="govuk-table__header">People digitally authorised <br>to file online</th>
                    <th scope="col" class="govuk-table__header">Remove<br> company</th>
                  </tr>
                </thead>
                <tbody class="govuk-table__body">

                  


                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">FLOWERS LIMITED</th>
                    <td class="govuk-table__cell">18882777</td>
                    <td class="govuk-table__cell"><strong class="govuk-tag">
                      Active
                    </strong></td>
                    <td class="govuk-table__cell"><a href="manage-authorised-people" class="govuk-link govuk-link--no-visited-state">View and manage<span class="govuk-visually-hidden"> people digitally authorised to file online for FLOWERS LIMITED</span></a></td>
                    <td class="govuk-table__cell"><a href="remove-company" class="govuk-link govuk-link--no-visited-state">Remove<span class="govuk-visually-hidden"> FLOWERS LIMITED</span> </a></td>
                  </tr>

                  

                 <!--  -->


                </tbody>
              </table>





            
                  <!--  <p class="govuk-body govuk-!-font-weight-bold">
                        <span class="govuk-body">Correspondence address</span><br>
              2nd Floor Red House, 17 London Road, London  SA73 8PH </p>--> 


                  <!--<div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                    <table class="govuk-table govuk-!-margin-top-2">
                        <caption class="govuk-table__caption govuk-table__caption--m govuk-!-margin-bottom-1">
                          People digitally authorised to file online for this company
                          <p class="govuk-hint govuk-!-margin-bottom-0 govuk-!-margin-top-1">Anyone with access to the current authentication code can also file online for this company</p>
                        </caption>

                      <thead class="govuk-table__head">

                        <tr class="govuk-table__row">
                          <th class="govuk-table__header" scope="col"> Name

                          <th class="govuk-table__header" scope="col"> Authorisation status </th>
                          <th class="govuk-table__header" scope="col">  </th>

                        </tr>


                      </thead>
                      <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell">
                            <p class="govuk-body govuk-!-margin-bottom-1 govuk-!-margin-top-1"> Hannah Salt (you)</p>
                          </td>
                          <td class="govuk-table__cell">
                            {{govukTag({
                              text: "CONFIRMED",
                              classes: "govuk-tag--green"
                            })}}
                          </td>
                          <td class="govuk-table__cell">
                          <a href="authorised-persons-details" class="govuk-link">View details</a>
                          </td>
                        </tr>

                      </tbody>
                    </table> -->
                    <!--<p> <a href="company-overview-flowers-ltd" class="govuk-link govuk-link--no-visited-state">File for this company</a></p>-->

                    
                    
                    <!-- <p> <a href="add-presenter" class="govuk-link govuk-link--no-visited-state">Digitally authorise a person to file online for this company</a></p> -->
       

                

            

</div>
</div>
</div>


{% endblock %}
