{% extends "layouts/layout-chs-signed-out.html" %}

{% block pageTitle %}
  Your companies - Enter the company authentication code - Companies House WebFiling account - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Go back to 'Your companies'",
    href:"company-added"
  }) }}
{% endblock %}



{% block content %}

<form action="confirmation-person-removed" method="post">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">


        {% set html %}
        <h3 class="govuk-notification-banner__heading">
          Email sent
        </h3>
        <p class="govuk-body">We've sent an email to jill.edwards@example.com inviting them to be digitally authorised to file online for FLOWERS LIMITED.</p>
      {% endset %}

        {{ govukNotificationBanner({
          html: html,
          type: 'success'
        }) }}

        <h1 class="govuk-heading-l">
          <span class="govuk-caption-l"> FLOWERS LIMITED (18882777)</span> People digitally authorised to file online for this company 
      </h1>

     <!--  <h2 class="govuk-heading-m govuk-!-margin-bottom-1">FLOWERS LIMITED </h2>
      <span class="govuk-body "> Company number <span class="govuk-body govuk-!-font-weight-bold"> 18882777</span></p>
          
      <p class="govuk-body govuk-!-font-weight-bold">
      <span class="govuk-body">Correspondence address</span><br>
  2nd Floor Red House, 17 London Road, London  SA73 8PH </p> -->
      
  <div class="govuk-inset-text">
    Anyone with access to the current authentication code can also file online for this company.
  </div>


      <!-- Digitally authorise a person to file online for this company -->

      {{ govukButton({
        text: "Add new authorised person",
        href:"add-presenter"
      }) }}
      </div>
    </div>
    



    <div class="govuk-grid-row govuk-!-padding-top-3">
      <div class="govuk-grid-column-full">
        <table class="govuk-table">
           <caption class="govuk-table__caption govuk-table__caption--m">Details of authorised people</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Email address</th>
              <th scope="col" class="govuk-table__header">Name</th>
              <th scope="col" class="govuk-table__header">Digital authorisation status</th>
              <th scope="col" class="govuk-table__header">Remove or cancel  </th>
          </tr>
          </thead>
          <tbody class="govuk-table__body">


            <!-- Company added to your account -->
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">	hannah.salt@gmail.com</th>
              <td scope="row" class="govuk-table__cell">Hannah Salt <span class="govuk-visually-hidden"> </span></td>
              <td class="govuk-table__cell">
                {{govukTag({
                  text: "Authorised",
                  classes: "govuk-tag--green"
                  })}}
              </td>
              
              <td class="govuk-table__cell">
                <a href="authentication-code-remove" class="govuk-link">Remove <span class="govuk-visually-hidden">indigo@outlook.com </span> </a> 
              </td>
              <td class="govuk-table__cell">
                
              </td>
            </tr>

    
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">jill.edwards@example.com</th>
              <td scope="row" class="govuk-table__cell">Not provided</td>
              <td class="govuk-table__cell">	

                <ul class="govuk-list govuk-list--spaced">
                  <li>
                  {{govukTag({
                    html: "Awaiting confirmation",
                    classes: "govuk-tag--yellow"
                    })}}
                  </li>
                  <li>
                     <a href="manage-authorised-people-email-resent" class="govuk-link">Resend email<span class="govuk-visually-hidden">to jill.edwards@example.com</span> </a>
                  </li>
              </td>
     
              <td class="govuk-table__cell">
                <ul class="govuk-list">
                  <li>
                    <a href="manage-authorised-people-email-resent" class="govuk-link">Cancel <span class="govuk-visually-hidden"> jill.edwards@example.com digital authorisation</span> </a>
            
               
                </li>
              </td>
            </tr>

        
             
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">ben.edwards@example.com</th>
              <td scope="row" class="govuk-table__cell">Not provided</td>
              <td class="govuk-table__cell">	

                <ul class="govuk-list govuk-list--spaced">
                  <li>
                  {{govukTag({
                    html: "Awaiting confirmation",
                    classes: "govuk-tag--yellow"
                    })}}
                  </li>
                  <li>
                     <a href="manage-authorised-people-email-resent" class="govuk-link">Resend email<span class="govuk-visually-hidden">to ben.edwards@example.com</span> </a>
                  </li>
              </td>
     
              <td class="govuk-table__cell">
                <ul class="govuk-list">
                  <li>
                    <a href="manage-authorised-people-email-resent" class="govuk-link">Cancel <span class="govuk-visually-hidden"> ben.edwards@example.com digital authorisation</span> </a>
            
               
                </li>
              </td>

            </tr>

 
            
          </tbody>
        </table>



      </div>
  </div>
  </form>
{% endblock %}




