{% extends "layouts/layout-chs-signed-out.html" %}

{% block pageTitle %}
  Your companies - Enter the company authentication code - Companies House WebFiling account - GOV.UK
{% endblock %}

{% block beforeContent %}

{% endblock %}



{% block content %}

<form action="confirmation-company-removed" method="post">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {% set html %}
         <h3 class="govuk-notification-banner__heading">
          Company removed
        </h3>
        <p class="govuk-body">You have confirmed you do not want to renew your digital authorisation to file online for ANDROID TECHNOLOGY LTD. </p>
          {% endset %}

        {{ govukNotificationBanner({
          html: html,
          type: 'success'
        }) }}

        <span class="govuk-caption-l">ANDROID TECHNOLOGY LTD (10866549)</span>
        <h1 class="govuk-heading-l">What happens now you've removed this company</h1>


        <p class="govuk-body"> You are no longer able to file online for this company without a current authentication code. The company has been removed from your account.</p>

      <p class="govuk-body">We've sent an email to any other people who are authorised to let them know.</p>


        <div class="govuk-button-group govuk-!-padding-top-3">


          {{ govukButton({
            text: "View your companies",
            href:"#"
          }) }}

            
          </button>
          <!-- <a class="govuk-link" href="manage-authorised-people">Go to your companies</a> -->
        </div>



     

    
    </div>
  </div>
{% endblock %}




