{% extends "layouts/layout-chs-signed-out.html" %}

{% block pageTitle %}
  Your companies - Confirm this is the correct company - Companies House WebFiling account - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href:"add-a-company"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-width-container">


<div class="govuk-grid-row">


      <div class="govuk-grid-column-two-thirds">
      <form action="confirm-company-details-re-auth" method="post" novalidate>

      <h1 class="govuk-heading-l">Confirm this is the correct company</h1>

      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: "Company name"
            },
            value: {
              text: "ANDROID TECHNOLOGY LTD"
            }
          },
          {
            key: {
              text: "Company number"
            },
            value: {
              text: "10866549"
            }
          },
          {
            key: {
              text: "Status"
            },
            value: {
              text: "Active"
            }
          },
          {
            key: {
              text: "Incorporation date"
            },
            value: {
              text: "11 December 2006"
            }
          },
          {
            key: {
              text: "Company type"
            },
            value: {
              text: "Private Limited Company"
            }
          },
          {
            key: {
              text: "Registered office address"
            },
            value: {
              html: "2nd Floor Red House<br>17 London Road<br>London<br>SA73 8PH"
            }
          }
        ]
      }) }}



      {{ govukButton({
          text: "Confirm and continue",
          href:"authentication-code-2"
      }) }}

      <p class="govuk-body"> <a href="add-a-company" class="govuk-link">Choose a different company</a></p>

    </form>
  </div>

  </div>
  </div>
</div>



{% endblock %}
