{% extends "layouts/layout_unbranded-with-banner.html" %}

{% block pageTitle %}

{% endblock %}

{% block header %}
    {{ govukHeader({ serviceName: "" }) }}
{% endblock %}



{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

     

    <h1 class="govuk-heading-l">Companies House: <br>
Header 1
</h1>


<p class="govuk-body">Content of the email. </p>


<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">




<p class="govuk-body" style="color: #505a5f;">
  Help us improve your online experience by completing our quick survey:
  <a href="#" class="govuk-link">https://www.survey.com/examplesurveylink</a>
</p>
<p class="govuk-body" style="color: #505a5f;">
  Contact Centre tel +44 (0)303 1234 500<br>
  or email
  <a href="mailto:enquiries@companieshouse.gov.uk" style="color: #005ea5;">enquiries@companieshouse.gov.uk</a>.
</p>
<p class="govuk-body" style="color: #505a5f;">
  This email was sent from a notification-only email address which cannot accept incoming mail. Please do not reply directly to this message.
</p>






  </div>
  </div>
{% endblock %}


{% block footer %}

{% endblock %}


