{% extends "layouts/layout-chs-signed-out.html" %}

{% block pageTitle %}
  Your companies - Enter the company authentication code - Companies House WebFiling account - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Go back to 'Your companies'",
    href:"company-added"
  }) }}
{% endblock %}



{% block content %}

<form action="confirmation-person-removed" method="post">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">



        <h1 class="govuk-heading-l">
          <span class="govuk-caption-l"> FLOWERS LIMITED (18882777)</span> People digitally authorised to file online for this company 
      </h1>

     <!--  <h2 class="govuk-heading-m govuk-!-margin-bottom-1">FLOWERS LIMITED </h2>
      <span class="govuk-body "> Company number <span class="govuk-body govuk-!-font-weight-bold"> 18882777</span></p>
          
      <p class="govuk-body govuk-!-font-weight-bold">
      <span class="govuk-body">Correspondence address</span><br>
  2nd Floor Red House, 17 London Road, London  SA73 8PH </p> -->
      
  <div class="govuk-inset-text">
    Anyone with access to the current authentication code can also file online for this company.
  </div>


      <!-- Digitally authorise a person to file online for this company -->

      {{ govukButton({
        text: "Add new authorised person",
        href:"add-presenter"
      }) }}
      </div>
    </div>


    <div class="govuk-form-group govuk-!-margin-top-2 govuk-!-margin-bottom-0">
        
      <label class="govuk-label--m" for="search">
          Search for a company
      </label>
      <div id="search-hint" class="govuk-hint govuk-!-padding-top-1">
        Enter the company number, or part of a company number.
      </div>

      <div class="govuk-button-group ">

      <input class="govuk-input  govuk-input--width-10" id="search" name="search" type="text">
      {{ govukButton({
          text: "Search",
          href:"#",
          classes: "govuk-!-margin-left-2 govuk-button--secondary ",
          href:"home-multiple-companies-page-2"
      }) }}

      
     

      <a class="govuk-link" href="#">Cancel search</a>

    </div>



  </div>

  
    <div class="govuk-grid-row govuk-!-padding-top-3">
      <div class="govuk-grid-column-full">
        <table class="govuk-table">
           <caption class="govuk-table__caption govuk-table__caption--m">Details of authorised people</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Email address</th>
              <th scope="col" class="govuk-table__header">Name</th>
              <th scope="col" class="govuk-table__header">Status</th>
              <th scope="col" class="govuk-table__header"></th>
              <th scope="col" class="govuk-table__header"></th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__header">	hannah.salt@gmail.com</th>
              <td scope="row" class="govuk-table__cell"></td>
              <td class="govuk-table__cell">
                {{govukTag({
                  html: "AWAITING <br> CONFIRMATION",
                  classes: "govuk-tag--yellow"
                  })}}
              </td>
              <td class="govuk-table__cell">
                <a href="cancel-person" class="govuk-link">Cancel </a>
              </td>
              <td class="govuk-table__cell">
                <a href="manage-authorised-people-email-resent" class="govuk-link">Resend email</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__header">indigo@outlook.com</th>
              <td scope="row" class="govuk-table__cell">Not provided</td>
              <td class="govuk-table__cell">	
                {{govukTag({
                  text: "CONFIRMED",
                  classes: "govuk-tag--green"
                  })}}
              </td>
              <td class="govuk-table__cell">
                <a href="authentication-code-remove" class="govuk-link">Remove</a>
              </td>
              <td class="govuk-table__cell">	
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__header">	james-morris@accounting.com</th>
              <td scope="row" class="govuk-table__cell"> </td>
              <td class="govuk-table__cell">	
                {{govukTag({
                  html: "AWAITING <br> CONFIRMATION",
                  classes: "govuk-tag--yellow"
                  })}}
                </td>

              <td class="govuk-table__cell">
                <a href="cancel-person" class="govuk-link">Cancel</a>
              </td>
              <td class="govuk-table__cell">
                <a href="manage-authorised-people-email-resent" class="govuk-link">Resend email</a>
              </td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__header">	laurathomas@huntergroup.com</th>
              <td scope="row" class="govuk-table__cell">Laura Thomas </td>
              <td class="govuk-table__cell">	
              {{govukTag({
                text: "CONFIRMED",
                classes: "govuk-tag--green"
                })}}
                </td>
              
              <td class="govuk-table__cell">
                <a href="authentication-code-remove" class="govuk-link">Remove</a>
              </td>
              <td class="govuk-table__cell">	
              </td>
            </tr>
            
          </tbody>
        </table>

          </tbody>
        </table>

       <!--  <table class="govuk-table govuk-!-margin-top-2">
            
          <thead class="govuk-table__head">

            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="col"> Name

              <th class="govuk-table__header" scope="col"> Authorisation status </th>
              <th class="govuk-table__header" scope="col">  </th></tr>
          </thead>
            <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
            <td class="govuk-table__cell">
            <p class="govuk-body govuk-!-margin-bottom-1 govuk-!-margin-top-1"> Hannah Salt (you)</p>
            </td>
            <td class="govuk-table__cell">
              {{govukTag({
                text: "CONFIRMED",
                classes: "govuk-tag--green"
                })}}
            </td>
            <td class="govuk-table__cell">
              <a href="authorised-persons-details" class="govuk-link">View details</a>
            </td>
            </tr>

            </tbody>
        </table>  -->


      <!-- {{ govukSummaryList({
        card: {
          title: {
            text: "Hannah Salt"
          },
          actions: {
            items: [
              {
                href: "remove-authorised-person",
                text: "Remove",
                visuallyHiddenText: "for FLOWERS LIMITED"
              }
            ]
          }
        },
        rows: [
          {
            key: {
              text: "Email address"
            },
            value: {
              html: "hannah.salt@gmail.com"
            }
          },
          {
            key: {
              text: "Authorisation status"
            },
            value: {
              html: "<strong class='govuk-tag govuk-tag--green'>
                Confirmed
              </strong>"
            }
          }
        ]
      }) }} -->


      <nav class="govuk-pagination" aria-label="Pagination">
        <ul class="govuk-pagination__list">
          <li class="govuk-pagination__item govuk-pagination__item--current">
            <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1" aria-current="page">
              1
            </a>
          </li>
          <li class="govuk-pagination__item">
            <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2">
              2
            </a>
          </li>
          <li class="govuk-pagination__item">
            <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 3">
              3
            </a>
          </li>
        </ul>
        <div class="govuk-pagination__next">
          <a class="govuk-link govuk-pagination__link" href="#" rel="next">
            <span class="govuk-pagination__link-title">
              Next<span class="govuk-visually-hidden"> page</span>
            </span>
            <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
              <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
            </svg>
          </a>
        </div>
      </nav>






    
    </div>
  </div>
  </form>
{% endblock %}




