{% extends "layouts/layout-signed-out-agent.html" %}

{% block pageTitle %}
  Your companies
{% endblock %}

{% set serviceName %}
 
{% endset %}


{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    {% set html %}
    <h3 class="govuk-notification-banner__heading">
      User added
    </h3>
    <p class="govuk-body">You have added <strong>l.williams@example.com</strong> as an administrator for MORRIS ACCOUNTING LTD.</p>

  {% endset %}

    {{ govukNotificationBanner({
      html: html,
      type: 'success'
    }) }}



       <span class="govuk-caption-l">MORRIS ACCOUNTING LTD</span>
          <h1 class="govuk-heading-l">What happens next</h1> 


    <p>We've sent an email to tell them you've added them as an administrator.</p>

    <p>Their status will show as 'pending' until they sign in to access the account.</p>



<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      What an administrator can do
    </span>
  </summary>
  <div class="govuk-details__text">

  <p class="govuk-body">An administrator can access services for the authorised agent.</p>


    <p>They can also view all users who have been added to this account. They can add and remove:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>administrators</li>
      <li>standard users</li>
    </ul>
      </div>
</details>







           {{ govukButton({
              text: "Go to manage users",
              href:"member-home-member-added",
              classes:"govuk-!-margin-top-3"
            }) }}





</div>
</div>


{% endblock %}
