{% extends "layouts/layout-signed-out-agent.html" %}

{% block pageTitle %}
  Your companies - Enter the company authentication code - Companies House WebFiling account - GOV.UK
{% endblock %}

{% block beforeContent %}

{% endblock %}



{% block content %}

<form action="acsp-home-standard-tiles" method="post">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {% set html %}
        <p class="govuk-notification-banner__heading">
          You have been added as a standard user for MORRIS ACCOUNTING LTD.
          {% endset %}

        {{ govukNotificationBanner({
          html: html,
          type: 'success'
        }) }}

       
        <h1 class="govuk-heading-l">What happens now</h1>

        <p class="govuk-body">You can now access the account and use services for the authorised agent. </p>


    
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Go to the authorised agent account
        </button>

     

    
    </div>
  </div>
{% endblock %}




