{% extends "layouts/layout-signed-out-agent.html" %}

{% block pageTitle %}
Home - Companies House account - GOV.UK
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
   
      <form action="member-invite-confirm" method="post" novalidate>

  


        <h1 class="govuk-heading-l">What happens if you're added to an authorised agent account
        </h1> 

        <p>You’ll be able to use services for the authorised agent. This includes to: </p>


        <ul class="govuk-list govuk-list--bullet">
          <li>tell Companies House you’ve verified someone’s identity</li>
          <li>file on behalf of clients</li>
          </ul>


          



          <p>James Morris has requested to add you as an administrator. This means you'll be able to view other users who have been added to the account.</p>
          <p>You'll be able to add and remove other administrators and standard users, but not account owners.</p>



          <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                What roles can a user have for an authorised agent?
              </span>
            </summary>
            <div class="govuk-details__text">
              <p>When someone adds a user to an authorised agent account, they can choose which role they want the user to have. If you're added as an:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>account owner – you can update the authorised agent’s details, and add and remove all users</li>
                <li>administrator – you can add and remove administrators and standard users</li>
                <li>standard users – you cannot add and remove other users</li>
                </ul>
              
            </div>
          </details>

      {{ govukRadios({
        name: "confirm-decline-invite",
        fieldset: {
          legend: {
            text: "Do you want to be added to MORRIS ACCOUNTING LTD?",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "yes",
            text: "Yes"
          },
          {
            value: "no",
            text: "No"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue",
        href:"member-invitations-accept"
      }) }}

</form>

  </div>
</div>
{% endblock %}
