{% extends "layouts/layout-signed-out-agent.html" %}

{% block pageTitle %}
  Your companies
{% endblock %}

{% set serviceName %}
 
{% endset %}


{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    {% set html %}
    <h3 class="govuk-notification-banner__heading">
      User added
    </h3>
    <p class="govuk-body">You have added <strong>k.williams@example.com</strong> as an administrator for MORRIS ACCOUNTING LTD.</p>
  {% endset %}

    {{ govukNotificationBanner({
      html: html,
      type: 'success'
    }) }}



       <span class="govuk-caption-l">MORRIS ACCOUNTING LTD</span>
          <h1 class="govuk-heading-l">What happens now they have been added</h1> 



  <p class="govuk-body">They'll be able to use services for the authorised agent when they sign in to their Companies House account. </p>




           {{ govukButton({
              text: "Go to manage users",
              href:"member-home-member-added",
              classes:"govuk-!-margin-top-3"
            }) }}





</div>
</div>


{% endblock %}
