{% extends "layouts/main.html" %}

{% block pageTitle %}
  Shortcuts – {{ serviceName }} - GOV.UK
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
      Authorised agent
      <span class="govuk-caption-xl">Version 4 - release 1</span>
    </h1>

    {{ govukWarningText({
      html: "This prototype is being actively worked on so things might break or change very quickly. Some of the pages are dynamic based on the journey you select. Walk through the journey from the start to view accurate page designs. ", iconFallbackText: "Warning" })
    }}

  </div>
</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    {# ENTRY POINTS AND LINKS TAB #}
    <div class="govuk-tabs" data-module="govuk-tabs">
      <h4 class="govuk-tabs__title">Contents</h4>
      <ul class="govuk-tabs__list">
      
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#authorised-agent"> Authorised agent</a>
        </li>
      </ul>

  

      <!-- Authorised agent -->
      <div class="govuk-tabs__panel" id="authorised-agent">

        <!-- Home -->
        <h2 class="govuk-heading-m">Authorised agent acceptance email and sign in </h2>

        {{ govukButton({
          text: "Registration acceptance email",
          href:"email-acsp-registration-accepted-release-1"
        }) }}

         <ul class="govuk-list govuk-list--bullet">
           <li>
             <a href="email-acsp-registration-accepted-release-1">Registration acceptance email </a>
           </li>
           <li>
            <a href="create-or-sign-in">GOV.UK One Login - create or sign in</a>
          </li>
          <li>
            <a href="create-enter-email">GOV.UK One Login - email address</a>
          </li>
          <li>
            <a href="create-enter-password">GOV.UK One Login - password</a>
          </li>
          <li>
            <a href="enter-code">GOV.UK One Login - security code</a>
          </li>
       
         </ul>

         <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

        <h2 class="govuk-heading-m">Home <strong class="govuk-tag govuk-tag--red">
          In progress
        </strong></h2>
        <h2 class="govuk-heading-s">Active</h2>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              <a href="acsp-home-super-admin">Authorised agent home <strong class="govuk-tag">
                Account owner
              </strong> </a>
            </li>
            <li>
              <a href="acsp-home-admin">Authorised agent home <strong class="govuk-tag govuk-tag--turquoise">
                Admin
              </strong> </a>
            </li>
            <li>
              <a href="acsp-home-standard">Authorised agent home <strong class="govuk-tag govuk-tag--yellow">
                Standard user
              </strong> </a>
            </li>
        
          </ul>

          <h2 class="govuk-heading-s">Suspended <strong class="govuk-tag govuk-tag--red">
            Need requirements
          </strong></h2>

          <ul class="govuk-list govuk-list--bullet">
            <li>
              <a href="">Authorised agent home <strong class="govuk-tag">
                Account owner
              </strong> </a>
            </li>
            <li>
              <a href="">Authorised agent home <strong class="govuk-tag govuk-tag--turquoise">
                Admin
              </strong> </a>
            </li>
            <li>
              <a href="">Authorised agent home <strong class="govuk-tag govuk-tag--yellow">
                Standard user
              </strong> </a>
            </li>
        
          </ul>



          <h2 class="govuk-heading-s">Deauthorised <strong class="govuk-tag govuk-tag--red">
            Need requirements
          </strong></h2>

          <ul class="govuk-list govuk-list--bullet">
            <li>
              <a href="">Authorised agent home <strong class="govuk-tag">
                Account owner
              </strong> </a>
            </li>
            <li>
              <a href="">Authorised agent home <strong class="govuk-tag govuk-tag--turquoise">
                Admin
              </strong> </a>
            </li>
            <li>
              <a href="">Authorised agent home <strong class="govuk-tag govuk-tag--yellow">
                Standard user
              </strong> </a>
            </li>
        
          </ul>

          <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

          <h2 class="govuk-heading-m">Managing users
          </h2>
           <ul class="govuk-list govuk-list--bullet">
             <li>
               <a href="member-home">Manage users (view, add and remove any user) <strong class="govuk-tag">
                Account owner
              </strong> </a>
             </li>

             <li>
              <a href="member-home-admin">Manage users (view all users, add users, remove only admins and standard users)</a> <strong class="govuk-tag govuk-tag--turquoise">
              Admin
             </strong>   <strong class="govuk-tag govuk-tag--red">
              New view
             </strong> <strong class="govuk-tag govuk-tag--red">
              Content TBC
             </strong>
            </li>

         

            <li> 
              <a href="member-home-dylan-accept"> Manage users (view users)</a> <strong class="govuk-tag govuk-tag--yellow">
                Standard user
              </strong>
            </li>

            <li>
              <a href="member-home-search">Manage members with search and pagination  </a> <strong class="govuk-tag govuk-tag--red">
                In progress
              </strong> 
            </li>
      
  
           </ul>
 
           




          <!-- Adding a member-->
          <h3 class="govuk-heading-s">Add a member <strong class="govuk-tag">
            Account owner
          </strong>
          <strong class="govuk-tag govuk-tag--turquoise">
           Admin
          </strong>
          </h3>

          <ul class="govuk-list govuk-list--bullet">
            <li>
              <a href="add-a-member">Add an admin user (scenario: admin user)  </a>
            </li>
            <li>
              <a href="add-a-member-error">Add an admin user - error summary and messages </a>
            </li>
            <li>
              <a href="check-member-details">Check admin users details  </a>
            </li>
            <li>
              <a href="confirmation-member-added">Confirmation admin user added</a>  <strong class="govuk-tag govuk-tag--turquoise">
             Content TBC
            </strong>
            </li>

            <li>
              <a href="member-home-member-added">Manage users - admin user added</a> 
            </li>

           

            <li>
              <a href="add-a-member-2">Add a standard user </a>
            </li>
            <li>
              <a href="check-member-details-2">Check standard users details </a>
            </li>




            <li>
              <a href="confirmation-member-added-2">Confirmation standard user added</a> <strong class="govuk-tag govuk-tag--turquoise">
                Content TBC
               </strong>
            </li>

            <li>
              <a href="member-home-member-added-2">Manage users - standard user added</a> 
            </li>


            </ul>


          <!-- Confirm or decline authorised member email request -->
          <h3 class="govuk-heading-s">Add user - signs in to view agent account
          </h3>

          {{ govukButton({
            text: "Sign in to view agent account",
            href:"create-or-sign-in-invite"
          }) }}

          <ul class="govuk-list govuk-list--bullet">
           <!-- <li>
              <a href="email-confirm-you-are-a-member">Email - You have been added as a standard user for an authorised agent</a>
            </li>

          -->
            <li>
              <a href="create-or-sign-in-invite">Create or sign in to GOV.UK One Login (follow the sign in journey)</a> 
            </li>
            <li>
              <a href="create-enter-email-invite">Enter email address </a> 
            </li>
            <li>
              <a href="create-enter-password-invite">Enter password</a> 
            </li>

            <!--
           
            <li>
              <a href="member-invite-confirm"> Confirm you want to be added as a member </a>
            </li>
            <li>
              <a href="member-invitations-accept"> Accept - becoming a member </a>
            </li>
            <li>
              <a href="member-invitations-decline"> Decline - becoming a member </a>
            </li> -->
            <li> 
              <a href="member-home-dylan-accept"> Standard user view of manage people </a>
            </li>
          </ul>

          <!-- Confirm or decline authorised member email request -->
          <h3 class="govuk-heading-s">Remove a user
           <strong class="govuk-tag">
            Account owner
          </strong>
          <strong class="govuk-tag govuk-tag--turquoise">
           Admin
          </strong></h3>

           

           {{ govukButton({
            text: "Cancel admin user and then remove standard user",
            href:"../authorised-agent/member-home-remove-cancel"
          }) }}
 
           <ul class="govuk-list govuk-list--bullet">
            <li>
              <a href="remove-member">Remove a user (email address) </a>
            </li>
            <li>
              <a href="remove-member-name">Remove a user (display name) </a> <strong class="govuk-tag govuk-tag--turquoise">Content TBC
              </strong>
            </li>
            <li>
              <a href="confirmation-member-removed">Confirmation a person has been removed </a> <strong class="govuk-tag govuk-tag--turquoise">Content TBC
              </strong>
            </li>

            <li>
              <a href="remove-yourself">Remove yourself </a> <strong class="govuk-tag govuk-tag--turquoise">Content TBC
              </strong>
            </li>
            <li>
              <a href="confirmation-you-are-removed">Confirmation you have been removed </a> <strong class="govuk-tag govuk-tag--turquoise">Content TBC
              </strong>
            </li>


           <!--  <li>
              <a href="remove-authorised-person-email-address">Remove a person's authorisation to file online for this company - email address </a>
            </li>-->
            
           

            <li>
              <a href="member-home-member-removed">Manage users - member removed</a>
            </li>

            <li>
              <a href="stop-screen-remove-relevant-officer">Stop screen - You need to add an Account owner before removing the current Account owner </a> <strong class="govuk-tag">In progress
              </strong> <strong class="govuk-tag govuk-tag--turquoise">Content TBC
               </strong>
            </li>
          
          
          </ul>

           <!-- Confirm or decline authorised member email request -->
         <!--  <h3 class="govuk-heading-s">Cancel a member
           </h3>
 
           <ul class="govuk-list govuk-list--bullet">
            <li>
              <a href="cancel-member">Cancel a members invitation   </a>
            </li>
            <li>
              <a href="confirmation-cancel-member">Confirmation the  person's authorisation to file online for this company has been cancelled  </a>
            </li>
          </ul> -->

           <!-- Confirm or decline authorised member email request -->
         <!--  <h3 class="govuk-heading-s">Resend email to an authoirsed person
           </h3>
 
           <ul class="govuk-list govuk-list--bullet">
             <li>
               <a href="email-invite-resent"> Email sent confirmation </a>
             </li>
           </ul>

        
          <h3 class="govuk-heading-s">Email to notify all/Super admin/admin when:<strong class="govuk-tag govuk-tag--red">
            Confirm scenarios
           </strong>
           </h3>
 
           <ul class="govuk-list govuk-list--bullet">
             <li>
               <a href=""> TBC </a>
             </li>
           </ul> 

              
          <h3 class="govuk-heading-s">Notifications shown within the account after sign in<strong class="govuk-tag govuk-tag--red">
            Confirm scenarios
           </strong>
           </h3>
 
           <ul class="govuk-list govuk-list--bullet">
             <li>
               <a href=""> TBC </a>
             </li>
           </ul>


          </div>-->


    </div>
  </div>
</div>

{% endblock %}
