{% extends "layouts/layout_unbranded-with-banner.html" %}

{% block pageTitle %}
  You’ve signed in to your GOV.UK One Login – GOV.UK One Login prototype
{% endblock %}
{% set serviceName %}
  
{% endset%}

{% block beforeContent %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      
      <h1 class="govuk-heading-l">What would you like to do next?</h1>

      
      <ul class="govuk-list govuk-list--spaced">
        <li>
          <a class="govuk-link" href="https://find-and-update.company-information.service.gov.uk/">Search for a company and order a certificate</a>
        </li>

        <li>
          <a class="govuk-link" href="https://find-and-update.company-information.service.gov.uk/close-a-company">Apply to strike off and dissolve a company</a>
        </li>
      </ul>



    </div>
  </div>

{% endblock %}
