{% extends "layouts/layout_unbranded-with-banner.html" %}

{% block pageTitle %}
  You’ve signed in to your GOV.UK One Login – GOV.UK One Login prototype
{% endblock %}
{% set serviceName %}
  
{% endset%}

{% block beforeContent %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      
      <h1 class="govuk-heading-l govuk-!-padding-bottom-4">You've signed in successfully</h1>


      <p class="govuk-body">You can now continue to the service you were using.</p>

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
      </button>









    </div>
  </div>

{% endblock %}
