{% extends "layouts/main.html" %}

{% block pageTitle %}
  Shortcuts – {{ serviceName }} - GOV.UK
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
      {{serviceName}}
      <span class="govuk-caption-xl">Dev ready version</span>
    </h1>

    {{ govukWarningText({
      html: "This prototype is being actively worked on so things might break or change very quickly. Some of the pages are dynamic based on the journey you select. Walk through the journey from the start to view accurate page designs. ", iconFallbackText: "Warning" })
    }}

  </div>
</div>

<h2 class="govuk-heading-m">Choose a journey <strong class="govuk-tag govuk-tag--red">
  Page not for development
</strong></h2>

<ul class="govuk-list govuk-list--bullet">
  <li>
    <a href="prototype-set-up">Select from the following journey options</a> 
  </li>
</ul>

{{ govukButton({
  text: "Choose a journey",
  href:"prototype-set-up"
}) }}

<h2 class="govuk-heading-m">Private and public beta flows</h2>

<ul class="govuk-list govuk-list--bullet govuk-!-padding-bottom-5">
  <li>
<a href="" target="blank">Private beta flow
</a> </li>

</ul>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    {# ENTRY POINTS AND LINKS TAB #}
    <div class="govuk-tabs" data-module="govuk-tabs">
      <h4 class="govuk-tabs__title">Contents</h4>
      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#CH-sign-in"> Sign in to Companies House </a>
        </li>
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#manage-account"> Manage account</a>
        </li>
      </ul>

      <!--Sign in to Companies House (account migration approach) -->

      <div class="govuk-tabs__panel" id="CH-sign-in">

        


        <h2 class="govuk-heading-m">Private beta sign in</h2>



        <h3 class="govuk-heading-s">CHS account is not linked to a GOV.UK One login</h3>

      <!--  <p class="govuk-body"></p> --> 


        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="chs-sign-in">Sign in to Companies House
            </a> <strong class="govuk-tag govuk-tag--grey">
              Existing page
            </strong> 
          </li>
          <li>
            <a href="chs-sign-in">Sign in to Companies House (private beta users)
            </a> <strong class="govuk-tag govuk-tag--blue">
              New
            </strong> 
          </li>

          <li>
            <a href="start-page">We are changing the way you sign in to some of our services
            </a> <strong class="govuk-tag govuk-tag">
              dev-ready
            </strong> 
          </li>

          <li>
            <a href="private-beta">Your details tab (account is not linked)</a> <strong class="govuk-tag govuk-tag">
              dev-ready
             </strong> 
          </li>

        </ul>

        <h3 class="govuk-heading-s">Create a GOV.UK One login <strong class="govuk-tag govuk-tag--grey">
          Not for development
         </strong> </h3> 

        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="create-or-sign-in">Create a GOV.UK One Login or sign in
            </a>
          </li>
          <li>
            <a href="create-enter-email">Enter your email address
            </a>
          </li>
          <li>
            <a href="create-check-your-email">Check your email
            </a>
          </li>
          <li>
            <a href="create-enter-password">Create your password
            </a>
          </li>
          <li>
            <a href="create-choose-security-type">Choose how to get security
            </a>
          </li>
          <li>
            <a href="create-enter-mobile-number">Text message - Enter your mobile phone number
            </a>
          </li>
          <li>
            <a href="create-check-your-phone">Text message - Check your phone
            </a>
          </li>
          <li>
            <a href="create-enter-mobile-number">Set up an authenticator app
            </a>
          </li>
          <li>
            <a href="create-complete">You've created your GOV.UK One login
            </a>
          </li>

        </ul>

        <h3 class="govuk-heading-s">GOV.UK One login sign in <strong class="govuk-tag govuk-tag--grey">
          Not for development
         </strong></h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="one-login-sign-in">Enter your email address to sign in to your GOV.UK One Login
            </a>
          </li>
          <li>
            <a href="one-login-enter-password"> Enter your password to sign in to your GOV.UK One Login
            </a>
          </li>
          <li>
            <a href="enter-code">Check your phone</a>
          </li>
        </ul>

        <h3 class="govuk-heading-s"> We have saved your information </h3>
        <ul class="govuk-list govuk-list--bullet">


             <!--  <li>
            <a href="private-beta-banner">Banner - Your details (account not linked)</a> <strong class="govuk-tag govuk-tag--turquoise">
              Review design and content 
            </strong> 
          </li>
          <li>
            <a href="private-beta-account-linked">Your details (account linked)  </a> <strong class="govuk-tag govuk-tag--turquoise">
              Review design and content 
            </strong> 
          </li>-->
          
          <li>
            <a href="end-linking-private-beta">Use your GOV.UK One Login details next time you sign in (private beta URL)</a> <strong class="govuk-tag govuk-tag--red">
              Awaiting requirements
             </strong> 
          </li>

        </ul>

        <h3 class="govuk-heading-s">Interrupt pages for private beta sign in</h3>
        <ul class="govuk-list govuk-list--bullet">

          <li>
            <a href="sign-in-details-do-not-match.html">You need to use your Companies House account email address <strong class="govuk-tag govuk-tag--turquoise">
              NEW
            </strong> 
            </a> 
          </li>
          <li>
            <a href="stop-screen-use-url-sign-in">Interrupt screen - You need to use this link to sign in during private beta </a> <strong class="govuk-tag govuk-tag--turquoise">
              NEW
            </strong> 
          </li>
        </ul>

        <h3 class="govuk-heading-s">CHS account linked to a GOV.UK One login </h3>

        <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="private-beta-account-linked-banner">Your details (account linked)  </a> <strong class="govuk-tag govuk-tag--red">
           Awaiting requirements
          </strong> 
        </li> 
        </ul>

        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">









    
       

        <h2 class="govuk-heading-m">Public beta sign in shortcuts </h2>


        <h3 class="govuk-heading-s">Sign in pages</h3>

        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="choose-sign-in">Choose how to sign in to Companies House account</a> <strong class="govuk-tag govuk-tag--turquoise">
              Content TBC
             </strong> 
          </li>
          <li>
            <a href="chs-sign-in-email">Companies House account email address</a> <strong class="govuk-tag govuk-tag">
              dev-ready
             </strong> 
          </li>
          <li>
            <a href="chs-sign-in-password">Companies House account password </a> <strong class="govuk-tag govuk-tag--turquoise">
              Content TBC
             </strong> 
          </li>
          <li>
            <a href="chs-sign-in-password-error-message">Companies House account password (with example error summary and message) </a> <strong class="govuk-tag govuk-tag--turquoise">
              Content TBC
             </strong> 
          </li>

          
        </ul>


        <h3 class="govuk-heading-s">Interrupt pages</h3>
        <ul class="govuk-list govuk-list--bullet">
        
          <li>
            <a href="sign-in-using-one-login">You have a GOV.UK One Login</a> <strong class="govuk-tag govuk-tag--turquoise">
              Content TBC
             </strong> 
          </li>
          </ul>



          <h3 class="govuk-heading-s">Account display name and email preferences</h3>
          <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="name"> How do you want us to display your name? <strong class="govuk-tag govuk-tag">
              dev-ready
             </strong> 
            </a>
          </li>
          <li>
            <a href="email-preferences">Email preferences <strong class="govuk-tag govuk-tag">
              dev-ready
             </strong> 
            </a>
          </li>
          </ul>

          <h3 class="govuk-heading-s">We have saved your Companies House account information</h3>
          <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="end-linking">Use your GOV.UK One Login details to sign in from now on <strong class="govuk-tag govuk-tag--red">
              Awaiting requirements
             </strong> 
            </a>
          </li>
          </ul>


          <h3 class="govuk-heading-s">Emails <strong class="govuk-tag govuk-tag--red">
            Review currrent
          </strong></h3> 
          <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="">Account created
            </a>
          </li>
          </ul>

       <!--   <h3 class="govuk-heading-s">Forgotten password <strong class="govuk-tag govuk-tag--red">
            Review currrent
          </strong></h3> 
          <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="">Forgotten password
            </a>
          </li>
          </ul>--> 


          <h3 class="govuk-heading-s">Stop screens <strong class="govuk-tag govuk-tag">
            In progress
          </strong></h3> 
          <ul class="govuk-list govuk-list--bullet">
            <li>
              <a href="stop-screen-sign-in">GOV.UK One Login unavailable
              </a> <strong class="govuk-tag govuk-tag--turquoise">
               Review the service unavailable options 
              </strong>
            </li>

            <li>
              <a href="stop-screen-problem-with-service">Sorry, there is a problem with the service
              </a>
            </li>
            
          <li>
            <a href="new-user-interrupt">No Companies House account found (no longer required)
            </a>
          </li>
          <li>
            <a href="use-ch-sign-in-interrupt">You need to use Companies House sign in (no longer required) 
            </a>
          </li>
          </ul>

          </div>

        <!-- Manage account -->

        <div class="govuk-tabs__panel" id="manage-account">

        
          <h2 class="govuk-heading-m">Shortcuts for manage account</h2>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              <a href="chs-one-login-settings">Manage account</a> 
            </li>
            <li>
              <a href="name-account">Update how we display your name</a> 
            </li>
            <li>
              <a href="email-preferences-ch">Can we send you emails related to Companies House?</a>
            </li>
            <li>
              <a href="email-preferences-ur">Can we send you emails to invite you to take part in user research?</a>
            </li>
          </ul>

          <h2 class="govuk-heading-m">Shortcuts for identity verification flows  <strong class="govuk-tag govuk-tag">
            Not started
          </strong> </h2>

        </div>





    </div>
  </div>
</div>

{% endblock %}
