{% extends "layouts/layout_unbranded-with-banner.html" %}
<!-- Overwrite suerfice name -->


{% block pageTitle %}
  {{ serviceName }} – Prototype
{% endblock %}

{% block beforeContent %}


{% endblock %}

{% set serviceName %}
 
{% endset %}


{% block content %}

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds ">

  <form action="stop-screen-use-url-sign-in" method="post" novalidate="">

  
    <h1 class="govuk-heading-l">Save this link for next time </h1> 

    <!--   <p class="govuk-body"> There is no Companies House account for <span class="govuk-body govuk-!-font-weight-bold"> {{ data['chs-email'] }}</span> </p>

   <div class="govuk-inset-text">
      
    </div> -->

    <p class="govuk-body">Save the following link to your device for the next time you sign in:</p>

    <div class="govuk-inset-text">
      https://find-and-update.company-information.service.gov.uk/shdbfeuhgbuhfbsjhb
    </div>
    
    <p class="govuk-body govuk-!-padding-bottom-3">As you are currently trying out the new way to sign in using GOV.UK One Login, this link will enable you to sign in to it directly. You no longer need to use the Companies House sign in screen. </p>


    {{ govukButton({
      text: "Sign in with GOV.UK One Login",
      href:""
    }) }} 
    
   <!--  <p class="govuk-body">
      <a href="" class="govuk-link">Try another email address</a>
    </p> ---->


  
  <!-- <p class="govuk-body"><a href="#" class="govuk-link">Register</a></p>
  
  <p class="govuk-body"><a href="#" class="govuk-link">I've forgotten my password</a></p> -->
  
  </form>

            </div>
          </div>

{% endblock %}
