{% extends "layouts/layout_unbranded-with-banner.html" %}
<!-- Overwrite suerfice name -->


{% block pageTitle %}
  {{ serviceName }} – Prototype
{% endblock %}


{% set serviceName %}
 
{% endset %}

{% block beforeContent %}


{% endblock %}


{% block content %}

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds ">

  <form action="email-address-do-not-match" method="post" novalidate="">

    <strong class='govuk-tag govuk-tag--red'>Content TBC </strong>
    <br><br>
  
    <h1 class="govuk-heading-l">You used a different email address for GOV.UK One Login</h1> 

    
      <p class="govuk-body">You need to sign in to or create a GOV.UK One Login using <span class="govuk-body govuk-!-font-weight-bold">example@gmail.com</span>.</p>


    

      




<!--       {{ govukRadios({
        name: "email-does-not-match",
        fieldset: {
          legend: {
            text: "Choose an option: ",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "sameas-chs",
            text: "Create or sign in to a GOV.UK One Login with   'example@gmail.com'"
          },
          {
            value: "no",
            text: "I have a GOV.UK One Login, but it not using the email addres 'example@gmail.com'"
          }
        ]
      }) }} -->



     {{ govukButton({
      text: "Continue"
    }) }}  
    
   <p class="govuk-body"><a href="email-address-do-not-match-2" class="govuk-link">I do not want to use this email address for GOV.UK One Login</a></p>
  
  
  
  </form>

            </div>
          </div>

{% endblock %}
