{% extends "layouts/layout_unbranded-with-banner.html" %}
<!-- Overwrite suerfice name -->


{% block pageTitle %}
  {{ serviceName }} – Prototype
{% endblock %}


{% set serviceName %}
 
{% endset %}

{% block beforeContent %}


{% endblock %}


{% block content %}

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds ">

  <form action="email-address-do-not-match-2" method="post" novalidate="">

  
    <h1 class="govuk-heading-l">You need to update your email address in your Companies House account</h1> 


    <p class="govuk-body"> You need to update your email address so that it matches the email address you use for GOV.UK One Login. </p> 

    <ol class="govuk-list govuk-list--number">
      <li>Go to the 'Manage account' section.</li>
      <li>Select 'Change email address'.</li>
      <li>Update the email address to match the one you use for GOV.UK One Login.</li>
      <li>Go back to 'Manage account' and select continue to sign back in to your GOV.UK One Login.</li>
    </ol>



     {{ govukButton({
      text: "Go to 'Manage account'",
      href:"your-details-public-beta"
    }) }}  
    
    <p class="govuk-body">
      <a href="email-address-do-not-match" class="govuk-link">I want to use my Companies House account email address - email123@email.com</a>
    </p> 


  
  <!-- <p class="govuk-body"><a href="#" class="govuk-link">Register</a></p>
  
  <p class="govuk-body"><a href="#" class="govuk-link">I've forgotten my password</a></p> -->
  
  </form>

            </div>
          </div>

{% endblock %}
