{% extends "layouts/layout_unbranded-with-banner.html" %}
<!-- Overwrite suerfice name -->
{% set serviceName %}
  
{% endset%}

{% block pageTitle %}
  GOV.UK One Login  – Prototype
{% endblock %}

{% block beforeContent %}

{% endblock %}



{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds ">
      <form action="end-linking" method="post" novalidate>

        {% set html %}
          

        {% endset %}

     

    <h1 class="govuk-heading-l">Sign in with GOV.UK One Login the next time you sign in</h1>
    
    <p class="govuk-body">In the future, use the email address and password you used to create your GOV.UK One Login when you sign in. </p>


    <!--
    <p class="govuk-body">If your email address is for a shared inbox, you may want to update your sign in details with an email address only you can access. You can do this in the ‘Your details’ section when you sign in to Companies House.
       </p>-->
    
       <p class="govuk-body">Now continue to the service you were using.
      </p>

    <button type="Submit" class="govuk-button" data-module="govuk-button">
        Continue
    </button>

    </form>
    </div>
</div>

{% endblock %}
