{% extends "layouts/main.html" %}
<!-- Overwrite suerfice name -->


{% block pageTitle %}
  {{ serviceName }} – Prototype
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds ">

  <form action="one-login-email-address-updated" method="post" novalidate="">

    <h1 class="govuk-heading-l">We've noticed you have updated your email address with GOV.UK One Login</h1>


    <p> If your happy for Companies House to update your email address to <span class="govuk-body govuk-!-font-weight-bold">'account-books@example.com'</span>, select continue. </p>








  <!--   {{ govukRadios({
      name: "changeOfEmail",
      fieldset: {
        legend: {
          text: "   Do you want to use 'accounting-books@example.com' email address with Companies House?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      hint: {
        text: "Your GOV.UK One Login email address has been updated since you last used Companies House."
      },
      items: [
        {
          value: "yes",
          text: "Yes",
          hint: {
            text: "Use 'accounting-books@example.com' email address"
          }
        },
        {
          value: "no",
          text: "No",
          hint: {
            html: "Use my previous email address 'example@gmail.com' "
          }
        }
      ]
    }) }} -->

    

  
    {{ govukButton({
      text: "Continue"
    }) }}  
    
    
    <p class="govuk-body"><a href="change-email-address-in-one-login" class="govuk-link">Change email address to something else in GOV.UK One Login</a></p>
  
  
  </form>

            </div>
          </div>

{% endblock %}
