{% extends "layouts/main.html" %}
<!-- Overwrite suerfice name -->
{% set serviceName %}
  
{% endset%}


{% block pageTitle %}
  {{ serviceName }} – Prototype
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds ">

  <form action="sign-in-using-one-login" method="post" novalidate="">


    <h1 class="govuk-heading-l">We found a GOV.UK One Login that matches your email address</h1> 

    <p class="govuk-body"> You've already created a GOV.UK One Login using <br> <span class="govuk-body govuk-!-font-weight-bold"> {{ data['chs-email'] }}</span>. </p>

    <p class="govuk-body">You must sign in with GOV.UK One Login to use this service.</p>

    {{ govukButton({
      text: "Continue",
      href:"create-or-sign-in"
    }) }}   
  
  <!-- <p class="govuk-body"><a href="#" class="govuk-link">Register</a></p>
  
  <p class="govuk-body"><a href="#" class="govuk-link">I've forgotten my password</a></p> -->
  
  </form>

            </div>
          </div>

{% endblock %}
