{% extends "layouts/layout_unbranded-with-banner.html" %}



{% block pageTitle %}
We are changing the way you sign in to some of our services – {{ serviceName }} - GOV.UK
{% endblock %}

{% set serviceName %}
 
{% endset %}

{% block beforeContent %}
<a href="#" class="govuk-back-link govuk-!-padding-top-0">Back</a>
{% endblock %}





{% block content %}
<div class="govuk-width-container">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
      <form action="start-page" method="post" novalidate>
      <h1 class="govuk-heading-xl">We're taking you to GOV.UK One Login</h1>
     
     <p class="govuk-body">A GOV.UK One Login will allow you to access many government services using the same email address and password.</p>


      <h2 class="govuk-heading-m">How to save your existing information</h2>
      <p class="govuk-body">You must use the same email address as your existing Companies House account to save any information stored, such as:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>your filing history</li>
        <li>companies you follow</li>
      </ul>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
           What is a Companies House account?
          </span>
        </summary>
        <div class="govuk-details__text">
          <p class="govuk-body">This is the account you can use to sign in to:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>the Companies House register - sometimes known as 'Companies House service' or 'Find and update company information'</li>
            <li>some of our online services - for example, 'Register your company' or 'Upload a document to Companies House'</li>
          </ul>
          <p class="govuk-body">A Companies House account is not the same as WebFiling.</p>
        </div>
      </details>

   
      {{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-top-4 govuk-!-margin-bottom-8"
      }) }}

    </form>
  </div>
</div>

</div>
{% endblock %}
