
{% extends "layouts/layout_unbranded-with-banner.html" %}




{% set serviceName %}
 
{% endset %}
{% block beforeContent %}

{% endblock %}


{% block pageTitle %}
Add your display name  – {{ serviceName }} - GOV.UK
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="re-authentication" method="post" novalidate>
        
    
      <div class="govuk-form-group">
      
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l" for="display-name">
            Sorry, there is a problem with this service
          </label>
        </h1>
      <br>
        <p class="govuk-body">Go back to GOV.UK One Login to try again.</p>


     <button type="submit" class="govuk-button" data-module="govuk-button">
  Go to GOV.UK One Login
</button>
        
       

      </div>
     
      
      </div>

    </form>
  </div>
</div>
{% endblock %}
