
{% extends "layouts/layout_unbranded-with-banner.html" %}




{% set serviceName %}
 
{% endset %}
{% block beforeContent %}

{% endblock %}


{% block pageTitle %}
Add your display name  – {{ serviceName }} - GOV.UK
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="re-authentication" method="post" novalidate>
        
    
      <div class="govuk-form-group">
      
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l" for="display-name">
            Sorry, there is a problem with GOV.UK One Login
          </label>
        </h1>
      <br>
        <p class="govuk-body">We are trying to get access again.</p>


      <p> You can:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>wait a few moments, then refresh this screen to see if the problem is fixed</li>
          <li><a href="#" class="govuk-link">go to your Companies House account</a> and try again later</li>
          
        </ul>
        
       

      </div>
     
      
      </div>

    </form>
  </div>
</div>
{% endblock %}
