
{% extends "layouts/layout_unbranded-with-banner.html" %}




{% set serviceName %}
 
{% endset %}
{% block beforeContent %}

{% endblock %}


{% block pageTitle %}
Add your display name  – {{ serviceName }} - GOV.UK
{% endblock %}




{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="re-authentication" method="post" novalidate>
    
      <div class="govuk-form-group">
      
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l" for="display-name">
            You cannot sign in at the moment
          </label>
        </h1>
      
        <p class="govuk-body">This is because you entered the wrong password too many times the last time you tried to sign in. This is to keep your Companies House account secure.</p>

        <h2 class="govuk-heading-m">What you can do</h2>

        <p class="govuk-body">You can:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="#" class="govuk-link">reset your password</a></li>
          <li>wait 5 minutes, then go back to the service you were trying to use and start again</li>
        </ul>


      </div>
     
      
      </div>

    </form>
  </div>
</div>
{% endblock %}
