{% extends "layouts/main.html" %}

{% block pageTitle %}
  Manage account - Companies House - GOV.UK
{% endblock %}

{% set serviceName %}
  
{% endset%}


{% block beforeContent %}

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds ">

  <form action="change-password" method="post" novalidate="">

<fieldset class="govuk-fieldset">

  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    <h1 class="govuk-fieldset__heading">
      Change password
    </h1>
  </legend>

  <p class="govuk-body govuk-!-padding-top-5 govuk-body govuk-!-padding-bottom-3">Change password for <span class="govuk-!-font-weight-bold">example@gmail.com</span> </p>
        

</p>

  <div class="govuk-form-group govuk-password-input" data-module="govuk-password-input">
  <label class="govuk-label" for="password-input">
    Current password
  </label>

  <div class="govuk-input__wrapper govuk-password-input__wrapper">
    <input class="govuk-input govuk-password-input__input govuk-js-password-input-input" id="password-input" name="password" type="password" spellcheck="false" autocomplete="current-password" autocapitalize="none">
    <button type="button" class="govuk-button govuk-button--secondary govuk-password-input__toggle govuk-js-password-input-toggle" data-module="govuk-button" aria-controls="password-input" aria-label="Show password" hidden>
      Show
    </button>
  </div>
</div>

  <div class="govuk-form-group govuk-password-input" data-module="govuk-password-input">
  <label class="govuk-label" for="password-input">
    Choose a new password
  </label>
    <div id="password-input-hint" class="govuk-hint">
     Password must be at least 14 characters, and contain at least 1 upper case letter, 1 lower case letter, 1 number and 1 symbol.

  </div>
  <div class="govuk-input__wrapper govuk-password-input__wrapper">
    <input class="govuk-input govuk-password-input__input govuk-js-password-input-input" id="password-input" name="password" type="password" spellcheck="false" autocomplete="new-password" autocapitalize="none">
    <button type="button" class="govuk-button govuk-button--secondary govuk-password-input__toggle govuk-js-password-input-toggle" data-module="govuk-button" aria-controls="password-input" aria-label="Show password" hidden>
      Show
    </button>
  </div>
</div>
  
  
 
 </fieldset>

 {{ govukButton({
  text: "Continue",
  href:""
}) }}




  </form>

            </div>
          </div>

{% endblock %}
