{% extends "layouts/layout-chs-signed-out-r1.html" %}

{% block pageTitle %}
  Manage account - Companies House - GOV.UK
{% endblock %}

{% set serviceName %}
  
{% endset%}


{% block beforeContent %}

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds ">

  <form action="change-email-address" method="post" novalidate="">



  <h1 class="govuk-heading-l">Change email address</h1>

  <p class="govuk-body">Current email address is <br>{% if (data['chs-email'] === "") %}
        
    <strong> email111@example.com </strong> 

    {% else %}

    <strong> {{data['chs-email']}} </strong>

    {% endif %}
</p>

  {{ govukInput({
    label: {
      text: "Enter new email address",
      classes:"govuk-!-font-weight-bold"
    },
    id: "chs-email-new",
    name: "chs-email-new",
    type: "email",
    autocomplete: "email",
    spellcheck: false
  }) }}       

  {{ govukInput({
    label: {
      text: "Re-enter new email address",
      classes:"govuk-!-font-weight-bold"
    },
    id: "chs-email-new-2",
    name: "chs-email-new-2",
    type: "email",
    autocomplete: "email",
    spellcheck: false
  }) }}       



  {{ govukInput({
    label: {
      text: "Enter password",
      classes:"govuk-!-font-weight-bold"
    }, 
    id: "password",
    name: "password",
    type: "password",
    spellcheck: false
  }) }}
            
     
<!--   <details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
       What is a Companies House account?
      </span>
    </summary>
    <div class="govuk-details__text">
      <p class="govuk-body">This is the account you can use to sign in to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>the Companies House register - sometimes known as 'Companies House service'     
   or 'Find and update company information'</li>
        <li>some of our online services - for example, 'Register your company' or 'Upload a document to Companies House'</li>
      </ul>
        <p class="govuk-body">A Companies House account is not the same as WebFiling.</p>

        
    
    </div>
  </details>

 -->

 {{ govukButton({
  text: "Continue",
  href:"verify-email-address-2"
}) }}


<p class="govuk-body"> <a href="" class="govuk-link" rel="noreferrer noopener">I do not want to change my email address</a></p>


  </form>

            </div>
          </div>

{% endblock %}
