{% extends "layouts/layout_unbranded-with-banner.html" %}
<!-- Overwrite suerfice name -->


{% block pageTitle %}
  GOV.UK One Login  – Prototype
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="create-enter-password" method="post" novalidate>
        <h1 class="govuk-label-wrapper govuk-!-padding-bottom-3">
        <label class="govuk-label govuk-label--l" for="email">
         Choose a password
        </label>
        </h1>


        <p class="govuk-body">
            Choose a password for
            <span class="govuk-!-font-weight-bold"> email@example.com</span>
        </p>

        {{ govukInput({
          label: {
            text: "Choose a password"
          },
          hint: {
            text: "Password must be at least 14 characters, and contain at least 1 upper case letter, 1 lower case latter, 1 number and 1 symbol."
          },
          id: "password-1",
          name: "password",
          type: "password",
          autocomplete: new-password,
          spellcheck: false
        }) }}

        {{ govukPasswordInput({
          label: {
            text: "Password"
          },
          id: "password-input",
          name: "password"
        }) }}
        

        {{ govukInput({
          label: {
            text: "Re-enter the password"
          },
          id: "password-2",
          name: "password-2",
          type: "password",
          autocomplete: new-password,
          spellcheck: false
        }) }}

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
