{% extends "layouts/layout-chs-signed-in.html" %}

{% block pageTitle %}
  Manage account - Companies House - GOV.UK
{% endblock %}

{% set serviceName %}
  
{% endset%}


{% block beforeContent %}

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds ">

  <form action="email-address-changed" method="post" novalidate="">



  <h1 class="govuk-heading-l">Email address changed</h1>

<p class="govuk-body">You've updated your email address to <strong>email@example.com</strong>.</p>

<!--
  <p class="govuk-body">Your email address has been changed to<br>
    {% if (data['chs-email-new'] === "") %}
            
    <strong> emailnew@example.com </strong> 
            
                  {% else %}
            
                  <strong> {{data['chs-email-new']}} </strong>
            
                  {% endif %}
    </p>-->

  <p class="govuk-body">We've sent an email to your old and new email addresses to confirm this change.</p>

  <p>For your security, you are now signed out.</p>

  <p><a href="#" class="govuk-link">Sign back in</a> using your new email address.</p>

 

  </form>

            </div>
          </div>

{% endblock %}
