{% extends "layouts/main.html" %}

{% block pageTitle %}
  Shortcuts – {{ serviceName }} - GOV.UK
{% endblock %}


{% set serviceName = "Find and update company information" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
    
    Find and update company information prototype
    </h1>

    {{ govukWarningText({
      html: "This prototype is being actively worked on so things might break or change very quickly. Some of the pages are dynamic based on the journey you select. Walk through the journey from the start to view accurate page designs.", iconFallbackText: "Warning" })
    }}

  </div>
</div>

<h2 class="govuk-heading-m">Search the register </h2>



{{ govukButton({
  text: "Start the journey",
  href:"sign-in-get-information"
}) }}



    </div>
  </div>
</div>

{% endblock %}
