{% extends "layouts/main.html" %}
<!-- Overwrite suerfice name -->


{% block pageTitle %}
  {{ serviceName }} – Prototype
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds ">

  <form action="one-login-email-matches-different-chs-account" method="post" novalidate="">




<!--
    <p class="govuk-body govuk-!-font-weight-bold">Option 1 </p>
    <p>Change your GOV.UK One Login email address back to <span class="govuk-body govuk-!-font-weight-bold">emailaddress1@example.com</span>.</p>

    <p class="govuk-body govuk-!-font-weight-bold">Option 2 </p>
    <p>Change your GOV.UK One Login email address to something else. It must not be an email address that's already in use for any other Companies House account. </p> -->


    
    



  <!--   {{ govukRadios({
      name: "changeOfEmail",
      fieldset: {
        legend: {
          text: "   Do you want to use 'accounting-books@example.com' email address with Companies House?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      hint: {
        text: "Your GOV.UK One Login email address has been updated since you last used Companies House."
      },
      items: [
        {
          value: "yes",
          text: "Yes",
          hint: {
            text: "Use 'accounting-books@example.com' email address"
          }
        },
        {
          value: "no",
          text: "No",
          hint: {
            html: "Use my previous email address 'example@gmail.com' "
          }
        }
      ]
    }) }} -->

    

    <h1 class="govuk-heading-l">Your GOV.UK One Login email address matches a different Companies House account email address </h1>
    

   <!--  <p>You updated your email address to <span class="govuk-body govuk-!-font-weight-bold">emailaddress2@example.com</span> with GOV.UK One Login.</p>
 -->
    <p>
      You previously updated your GOV.UK One Login email address to <span class="govuk-body govuk-!-font-weight-bold">emailaddress2@example.com</span>. However, another Companies House account already exists which uses this email address. This means you have 2 options:
    </p>


    <h3 class="govuk-heading-s">Option 1</h3>

<p>Change your GOV.UK One Login email address back to <span class="govuk-body govuk-!-font-weight-bold">emailaddress1@example.com</span></p>

<h3 class="govuk-heading-s">Option 2</h3>

<p>Change your GOV.UK One Login email address to any other email address, as long as it's not already in use for another Companies House account.</p>

<br>

<p class="govuk-body">After you've changed your email address, you can come back to sign in.</p>

  
    {{ govukButton({
      text: "Go to GOV.UK One Login"
    }) }}  
    
    

  
  </form>

            </div>
          </div>

{% endblock %}
