{% extends "layouts/layout_unbranded-with-banner.html" %}



{% block pageTitle %}
We've sent you a security code to verify your email address for Companies House - GOV.UK
{% endblock %}

{% set serviceName %}
 
{% endset %}

{% block beforeContent %}

{% endblock %}





{% block content %}

<a href="#" class="govuk-back-link">Back</a>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
      <form action="verify-email-address-4" method="post" novalidate>


 


      <h1 class="govuk-heading-l">We've sent you a security code to verify your email address for Companies House</h1>
     
      <p class="govuk-body">We've sent the security code to  <span class="govuk-!-font-weight-bold">example@gmail.com</p>




  
      <p class="govuk-body"> It might take a few minutes to arrive. The code will expire after 30 minutes.</p>
      

          {{ govukInput({
            label: {
              text: "Enter your 6 digit security code"
            },
            classes: "govuk-input--width-10",
            id: "otp",
            name: "otp",
            spellcheck: false,
            inputmode: "numeric"
          }) }}


          {{ govukButton({
            text: "Continue"
          }) }}
    
    


      {{ govukDetails({
        summaryText: "Problems with the code",
        html: "If you have not received the email yet, wait a few minutes for it to arrive. Its subject line is 'Companies House security code'. You could also check your spam folder.</br> </br> If it still has not arrived, you can <a href='' class='govuk-link'>request a new security code</a> or you can <a href='' class='govuk-link'>use a different email address</a>."
      }) }}
     
  


    

 
     </form>
   </div>
 </div>
 

 {% endblock %}
