
{% extends "layouts/layout_unbranded-with-banner.html" %}




{% set serviceName %}
 
{% endset %}
{% block beforeContent %}

{% endblock %}


{% block pageTitle %}
Add your display name  – {{ serviceName }} - GOV.UK
{% endblock %}




{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="password-reset" method="post" novalidate>
    
      <h1 class="govuk-heading-l">Reset your password</h1>
      
        <p class="govuk-body">We'll send an email which contains a link to <span class="govuk-!-font-weight-bold">example@gmail.com</span>, so that you can reset your password.</p>

       <p class="govuk-body">If this email address is incorrect, <a href="#" class="govuk-link">go back</a> to change it.</p>

      {{ govukButton({
        text: "Send email"
      }) }}
          
    
    </form>
  </div>
</div>
{% endblock %}
