
{% extends "layouts/layout_unbranded-with-banner.html" %}




{% set serviceName %}
 
{% endset %}
{% block beforeContent %}

{% endblock %}


{% block pageTitle %}
Add your display name  – {{ serviceName }} - GOV.UK
{% endblock %}




{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="re-authentication" method="post" novalidate>
    
      <div class="govuk-form-group">
      
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l" for="display-name">
            You need to sign back in to GOV.UK One Login
          </label>
        </h1>
      


        <p class="govuk-body">You have been signed out, you will need to log back in to GOV.UK One Login.</p>

     

      </div>

    

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Go to GOV.UK One Login"
        }) }}
      
      </div>

    </form>
  </div>
</div>
{% endblock %}
