{% extends "layouts/layout_unbranded-with-banner.html" %}
<!-- Overwrite suerfice name -->
{% set serviceName %}
  
{% endset%}

{% block pageTitle %}
  GOV.UK One Login  – Prototype
{% endblock %}

{% block beforeContent %}

{% endblock %}



{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="end-linking" method="post" novalidate>

 

      <h1 class="govuk-heading-l">Enter your Companies House password</h1>



      <p class="govuk-body">You have been logged out. Enter the password for {% if (data['one-login-email'] === "")%}

        <strong>email111@example.com</strong>.
      
      {% else %}

        <strong>{{ data['one-login-email'] }}</strong> to continue to the digital service you were using.
      
      {% endif %}
                
      </p>


        <div class="govuk-form-group govuk-password-input" data-module="govuk-password-input">
          <label class="govuk-label" for="password-input">
            Companies House account password
          </label>
          <div class="govuk-input__wrapper govuk-password-input__wrapper">
            <input class="govuk-input govuk-password-input__input govuk-js-password-input-input govuk-!-width-two-thirds" id="password-input" name="password" type="password" spellcheck="false" autocomplete="current-password" autocapitalize="none">
          
          </div>
        </div>  

        <p class="govuk-body"><a href="#" class="govuk-link">I've forgotten my password</a></p>
         
        


         {{ govukButton({
           text: "Continue"
         }) }}   

         
         <p class="govuk-body"><a href="#" class="govuk-link">I want to sign in to a different Companies House account </a></p>


    </form>
    </div>
</div>

{% endblock %}
