{% extends "layouts/layout_rebrand.html" %}


{% set serviceName %}
  
{% endset%}


{% block beforeContent %}


{% if data['signIn'] == true %}

<!-- not signed in -->
<a class="govuk-link govuk-link--no-visited-state" href="https://resources.companieshouse.gov.uk/serviceInformation.shtml#compInfo">Companies House does not verify the accuracy of the information filed</a> 
<div class="govuk-!-margin-top-4 account-banner">
  <a class=" govuk-link--no-visited-state" href="sign-in-one-login-only">Sign in/Register</a>
</div>



{% else %}
  

       
<!-- signed in -->
<p> <a class="govuk-link govuk-link--no-visited-state" href="https://resources.companieshouse.gov.uk/serviceInformation.shtml#compInfo">Companies House does not verify the accuracy of the information filed</a> 
</p>
<div class="govuk-!-margin-top-4 account-banner">
  <span style="padding-right: 20px;">{{ data['emailAddress'] }}</span>
  <span style="padding-right: 20px;"><a href="" id="your-details">Your details</a></span>
  <span style="padding-right: 20px;"><a href="" id="your-filings">Your filings</a></span>
  <span style="padding-right: 20px;"><a href="" id="companies-you-follow">Companies you follow</a></span>
  <span style="padding-right: 20px;"><a href="" id="your-basket">Basket(0)</a></span>
  <a href="../sign-out">Sign out</a>
</div>





{% endif %}

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds ">



  <form action="choose-sign-in" method="post" novalidate="">




    
    {% set html %}
sign-in-one-login-only copy    
  {% endset %}
<br>


  <h1 class="govuk-heading-xl">Follow a company</h1>

    <h2 class="govuk-heading-l">BIG SHOP LTD (12345678)</h2>


  <p class="govuk-body">The email address we'll use to send notifications of the company activity is <strong>johnsmith@gmail.com</strong></p>

 <p class="govuk-body govuk-!-margin-bottom-0">Are you sure you want to follow this company?</p>

<p class="govuk-body">You can unfollow this company at any time</p>
 
<div class="govuk-button-group">

  {{ govukButton({
  text: "Follow this company",
  href: "sign-in-company-info-3"

}) }}

  <a class="govuk-link" href="">Cancel</a>
</div>
  

{% endblock %}
