{% extends "layouts/layout_rebrand.html" %}


{% set serviceName %}
  
{% endset%}

{% block pageTitle %}
Sign in to Companies House - Find and update company information - GOV.UK
{% endblock %}

{% block beforeContent %}

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds ">

  <form action="choose-sign-in" method="post" novalidate="">




    
    {% set html %}
    
  {% endset %}


  <h1 class="govuk-heading-l">You are not registered for managed access</h1>

   <p class="govuk-body">As you are not registered you need to sign in to your account using GOV.UK One Login from the sign in start page.</p>

  <p class="govuk-body">If you have reason to believe you should be able to enter using Entra ID then contact..... (?) </p>




<div class="govuk-button-group">
  {{ govukButton({
    text: "Return to start page",
    href:"sign-in-one-login-only-v2"
  }) }}

</div>
 


  </form>

 
          

{% endblock %}
