{% extends "layouts/main.html" %}
<!-- Overwrite suerfice name -->


{% block pageTitle %}
  {{ serviceName }} – Prototype
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds ">
  <h1 class="govuk-heading-l">Your Companies House account sign in details</h1>

  <p class="govuk-body">We need to know your sign in details so that we can access your stored information. This will allow you to save your information to your GOV.UK One Login. </p>


  <form action="chs-sign-in" method="post" novalidate="">

              
  {% set emailHtml %}
  {{ govukInput({
    id: "chs-email",
    name: "chs-email",
    type: "email",
    autocomplete: "email",
    spellcheck: false,
    classes: "govuk-!-width-three-quarters",
    label: {
      text: "Email address"
    }
  }) }}
  {% endset -%}

  
  {% if (data['email'] === "")%}

  
  {{ govukRadios({
    name: "chs-sign-in-details",
    fieldset: {
      legend: {
        text: "Which email address do you use to sign in to your Companies House account?",
        isPageHeading: false,
        classes: "govuk-!-padding-top-3"
      }
    },
    items: [
      {
        value: "email-entered-chs",
        text: "example@gmail.com"
      },
      {
        value: "chs-email",
        text: "A different email address",
        conditional: {
          html: emailHtml
        }
      }
    ]
  }) }}

  {% else %}

  {{ govukRadios({
    name: "chs-sign-in-details",
    fieldset: {
      legend: {
        text: "Which email address do you use to sign in to your Companies House account?",
        isPageHeading: false,
        classes: "govuk-!-padding-top-3"
      }
    },
    items: [
      {
        value: "email-entered-chs",
        text: data['email']
      },
      {
        value: "chs-email",
        text: "A different email address",
        conditional: {
          html: emailHtml
        }
      }
    ]
  }) }}

  {% endif %}



  {{ govukInput({
    label: {
      text: "Which password do you use to sign in to Companies House account?",
      isPageHeading: false
    },
    classes: "govuk-!-width-three-quarters",
    id: "password",
    name: "password"
  }) }}

  {{ govukButton({
    text: "Continue"
  }) }}    
  
  <p class="govuk-body"><a href="#" class="govuk-link">I've forgotten my password</a></p>
  
  </form>

            </div>
          </div>

{% endblock %}
