{% extends "layout_unbranded-with-banner.html" %}
{% block pageTitle %}
  {{serviceName}} - GOV.UK
{% endblock %}
{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "/"
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-l">Your Companies House account sign in details</h1>

      <p class="govuk-body"> We need to know your sign in details so that we can access your stored information. This will allow you to save your information to your GOV.UK One Login. </p>

 
      <form action="chs-sign-in" method="post" novalidate="">

        {% set emailHtml %}
        {{ govukInput({
          id: "chs-email",
          name: "chs-email",
          type: "email",
          autocomplete: "email",
          spellcheck: false,
          label: {
            text: "Email address"
          }
        }) }}
        {% endset -%}

        {{ govukRadios({
          name: "chs-sign-in-details",
          fieldset: {
            legend: {
              text: "Which email address do you use to sign in to your Companies House account?",
              isPageHeading: false,
              classes: "govuk-!-padding-top-3"
            }
          },
          items: [
            {
              value: "email",
              text: "example@gmail.com"
            },
            {
              value: "phone",
              text: "A different email address",
              conditional: {
                html: emailHtml
              }
            }
          ]
        }) }}


        {{ govukInput({
          label: {
            text: "Which password do you use to sign in to your Companies House account?",
            isPageHeading: false
          },
          classes: "govuk-!-width-three-quarters",
          id: "password",
          name: "password"
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
        
      </form>
     <!-- No needed --> 
     <!-- <p class="govuk-body"><a href="#" class="govuk-link">Create an account</a></p> -->
      <p class="govuk-body"><a href="#" class="govuk-link">I've forgotten my password</a></p>
     
    </div>
  </div>
{% endblock %}