{% extends "layouts/main.html" %}

{% block pageTitle %}
  You’ve signed in to your GOV.UK One Login – GOV.UK One Login prototype
{% endblock %}


{% block beforeContent %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <form action="existing-webfiling-account" method="post" novalidate>

    <!-- {% set html %}
        <h3 class="govuk-notification-banner__heading">
          We have saved your Companies House account information.
        </h3>
      {% endset %}

      {{ govukNotificationBanner({
        html: html,
        type: 'success'
      }) }} -->

      {{ govukRadios({
        name: "existing-webfiling-account",
        fieldset: {
          legend: {
            text: "Do you have an existing WebFiling account?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "yes",
            text: "Yes",
            hint: {
              text: "We'll ask if you want to save any stored information to your GOV.UK One Login."
            }
          },
          {
            value: "no",
            text: "No"     
          }
        ]
      }) }}

      <!--
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
           What is a WebFiling account?
          </span>
        </summary>
        <div class="govuk-details__text">
          <p class="govuk-body">This is the account used to sign in to:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>tbc</li>
            <li>tbc</li>
          </ul>
        </div>
      </details>
-->

<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
     What is WebFiling?
    </span>
  </summary>
  <div class="govuk-details__text">
    <p class="govuk-body">This is an online service you can use to submit certain filings digitally, such as dormant accounts. </p>
      <p class="govuk-body">In WebFiling, you can also:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>sign up for email reminders</li>
      <li>request or change your authentication code</li>
    </ul>
  </div>
</details>

      {{ govukButton({
        text: "Continue"
      }) }}
    

    </form>

    </div>
  </div>

{% endblock %}
