{% extends "layout_unbranded-with-banner.html" %}

{% block pageTitle %}
  You’ve signed in to your GOV.UK One Login – GOV.UK One Login prototype
{% endblock %}


{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <form action="existing-account" method="post" novalidate>


      {% set html %}
      <h3 class="govuk-notification-banner__heading">
        We have saved your WebFiling information.
      </h3>
    {% endset %}

    {{ govukNotificationBanner({
      html: html,
      type: 'success'
    }) }}


   



      {{ govukRadios({
        name: "existing-chs-account",
        fieldset: {
          legend: {
            text: "Do you have an existing Companies House account?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "yes",
            text: "Yes",
            hint: {
              text: "We'll ask if you want to save any stored information to your GOV.UK One Login."
            }
          },
          {
            value: "no",
            text: "No"     
          }
        ]
      }) }}

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
           What is a Companies House account?
          </span>
        </summary>
        <div class="govuk-details__text">
          <p class="govuk-body">This is the account you can use to sign in to:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>the Companies House register - sometimes known as 'Companies House service' or 'Find and update company information'</li>
            <li>some of our online services - for example, 'Register your company' or 'Upload a document to Companies House'</li>
          </ul>
        </div>
      </details>

      {{ govukButton({
        text: "Continue"
      }) }}
    

    </form>

    </div>
  </div>

{% endblock %}
