{% extends "layout-signed-out.html" %}

{% block pageTitle %}
  You’ve signed in to your GOV.UK One Login – GOV.UK One Login prototype
{% endblock %}


{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <form action="existing-webfiling-account" method="post" novalidate>

    <!-- {% set html %}
        <h3 class="govuk-notification-banner__heading">
          We have saved your Companies House account information.
        </h3>
      {% endset %}

      {{ govukNotificationBanner({
        html: html,
        type: 'success'
      }) }} -->

      {{ govukRadios({
        name: "existing-webfiling-account",
        fieldset: {
          legend: {
            text: "Do you have an existing WebFiling account?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "yes",
            text: "Yes",
            hint: {
              text: "We'll ask if you want to save any stored information in your GOV.UK One Login account."
            }
          },
          {
            value: "no",
            text: "No"     
          }
        ]
      }) }}

      <!--
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
           What is a WebFiling account?
          </span>
        </summary>
        <div class="govuk-details__text">
          <p class="govuk-body">This is the account used to sign in to:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>tbc</li>
            <li>tbc</li>
          </ul>
        </div>
      </details>
-->

      {{ govukButton({
        text: "Continue"
      }) }}
    

    </form>

    </div>
  </div>

{% endblock %}
