{% extends "layouts/layout-chs-signed-out.html" %}

{% block pageTitle %}
  Your companies - Companies House WebFiling account - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back to your companies",
    href:""
  }) }}
{% endblock %}


{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-xl">Invitations to be digitally authorised</h1>


    <div class="govuk-inset-text">
      Expired inviations will not appear. You need to ask to be added again. 
    </div>



        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">



              <table class="govuk-table">
                <caption class="govuk-table__caption govuk-table__caption--m visuallyhidden">Invitations to be digitally authorised for a company</caption>


                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Company name</th>
                    <th scope="col" class="govuk-table__header">Company number</th>
                    <th scope="col" class="govuk-table__header">Invited by </th>
                    <th scope="col" class="govuk-table__header"></th>
                    <th scope="col" class="govuk-table__header"></th>
                  </tr>
                </thead>
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">ANDROID TECHNOLOGY LTD</th>
                    <td class="govuk-table__cell">10866549</td>
                    <td scope="col" class="govuk-table__cell">j.example@gmail.com</td>
                    <td class="govuk-table__cell"><a href="company-invitations-accept" class="govuk-link govuk-link--no-visited-state">Accept</a></td>
                    <td class="govuk-table__cell"><a href="company-invitations-decline" class="govuk-link govuk-link--no-visited-state">Decline</a></td>
                  </tr>

                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">BROWN AND SALTER LIMITED</th>
                    <td class="govuk-table__cell">08449801</td>
                    <td scope="col" class="govuk-table__cell">james-morris@accounting.com</td>
                    <td class="govuk-table__cell"><a href="company-invitations-accept" class="govuk-link govuk-link--no-visited-state">Accept</a></td>
                    <td class="govuk-table__cell"><a href="company-invitations-decline" class="govuk-link govuk-link--no-visited-state">Decline</a></td>
                  </tr>

                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">FLOWERS LIMITED</th>
                      <td class="govuk-table__cell">18882777</td>
                      <td scope="col" class="govuk-table__cell">hannah.salt@gmail.com</td>
                      <td class="govuk-table__cell"><a href="company-invitations-accept" class="govuk-link govuk-link--no-visited-state">Accept</a></td>
                      <td class="govuk-table__cell"><a href="company-invitations-decline" class="govuk-link govuk-link--no-visited-state">Decline</a></td>
                    </tr>

                 <!--  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Next 33 weeks</th>
                    <td class="govuk-table__cell">£109.80 per week</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Total estimated pay</th>
                    <td class="govuk-table__cell">£4,282.20</td>
                  </tr> -->
                </tbody>
              </table>





            
                  <!--  <p class="govuk-body govuk-!-font-weight-bold">
                        <span class="govuk-body">Correspondence address</span><br>
              2nd Floor Red House, 17 London Road, London  SA73 8PH </p>--> 


                  <!--<div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                    <table class="govuk-table govuk-!-margin-top-2">
                        <caption class="govuk-table__caption govuk-table__caption--m govuk-!-margin-bottom-1">
                          People digitally authorised to file online for this company
                          <p class="govuk-hint govuk-!-margin-bottom-0 govuk-!-margin-top-1">Anyone with access to the current authentication code can also file online for this company</p>
                        </caption>

                      <thead class="govuk-table__head">

                        <tr class="govuk-table__row">
                          <th class="govuk-table__header" scope="col"> Name

                          <th class="govuk-table__header" scope="col"> Authorisation status </th>
                          <th class="govuk-table__header" scope="col">  </th>

                        </tr>


                      </thead>
                      <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell">
                            <p class="govuk-body govuk-!-margin-bottom-1 govuk-!-margin-top-1"> Hannah Salt (you)</p>
                          </td>
                          <td class="govuk-table__cell">
                            {{govukTag({
                              text: "CONFIRMED",
                              classes: "govuk-tag--green"
                            })}}
                          </td>
                          <td class="govuk-table__cell">
                          <a href="authorised-persons-details" class="govuk-link">View details</a>
                          </td>
                        </tr>

                      </tbody>
                    </table> -->
                    <!--<p> <a href="company-overview-flowers-ltd" class="govuk-link govuk-link--no-visited-state">File for this company</a></p>-->

                    
                    
                    <!-- <p> <a href="add-presenter" class="govuk-link govuk-link--no-visited-state">Digitally authorise a person to file online for this company</a></p> -->
       

                

            

</div>
</div>
</div>


{% endblock %}
