{% extends "layouts/layout_unbranded-with-banner.html" %}

{% block pageTitle %}

{% endblock %}

{% block header %}
    {{ govukHeader({ serviceName: "" }) }}
{% endblock %}



{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

     

    <h1 class="govuk-heading-l">Companies House: <br>
Header 1
</h1>


<p class="govuk-body">Content of the email. </p>


<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<td colspan="2" style="padding:10px">
  <!--<p style="font-family: Helvetica, Arial, sans-serif; font-size: 17px; color: #6F777B; line-height: 1.315789474; margin: 0 0 15px 0;"> All documents filed online are available from 'Your filings' for 30 days after submission: <a
  href="https://beta.companieshouse.gov.uk/user/transactions" style="color: #005ea5;">https://beta.companieshouse.gov.uk/user/transactions</a> </p>-->
  <p style="font-family: Helvetica, Arial, sans-serif; font-size: 17px; color: #6F777B; line-height: 1.315789474; margin: 15px 0 15px 0;">
    Help us improve your online filing experience by completing our quick survey:
    <a href="" style="color: #005ea5;">https://www.survey.com/examplesurveylink</a>
  </p>
  <p style="font-family: Helvetica, Arial, sans-serif; font-size: 17px; color: #6F777B; line-height: 1.315789474; margin: 0 0 20px 0;">
    Contact Centre tel +44 (0)303 1234 500<br>
    or email
    <a href="mailto:enquiries@companieshouse.gov.uk" style="color: #005ea5;">enquiries@companieshouse.gov.uk</a>.
  </p>
  <p style="font-family: Helvetica, Arial, sans-serif; font-size: 17px; color: #6F777B; line-height: 1.315789474; margin: 0 0 30px 0;">
    This email was sent from a notification-only email address which cannot accept incoming mail. Please do not reply directly to this message.
  </p>
</td>
</tr>







  </div>
  </div>
{% endblock %}


{% block footer %}

{% endblock %}


