{% extends "layouts/main.html" %}
<!-- Overwrite suerfice name -->


{% block pageTitle %}
  {{ serviceName }} – Prototype
{% endblock %}

{% block beforeContent %}


{% endblock %}


{% block content %}

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds ">

  <form action="sign-in-details-do-not-match" method="post" novalidate="">

    <strong class="govuk-tag--turquoise">
      Content TBC
    </strong>
    <h1 class="govuk-heading-l">You need to use the same email address </h1> 

    <!--   <p class="govuk-body"> There is no Companies House account for <span class="govuk-body govuk-!-font-weight-bold"> {{ data['chs-email'] }}</span> </p>

   <div class="govuk-inset-text">
      
    </div> -->

    <p class="govuk-body">You must use the same email address for Companies House account and GOV.UK One login to use this service.</p>

    {{ govukButton({
      text: "Sign in again",
      href:"create-or-sign-in"
    }) }} 
    
   <!--  <p class="govuk-body">
      <a href="" class="govuk-link">Try another email address</a>
    </p> ---->


  
  <!-- <p class="govuk-body"><a href="#" class="govuk-link">Register</a></p>
  
  <p class="govuk-body"><a href="#" class="govuk-link">I've forgotten my password</a></p> -->
  
  </form>

            </div>
          </div>

{% endblock %}
