{% extends "layouts/main.html" %}
<!-- Overwrite suerfice name -->


{% block pageTitle %}
  {{ serviceName }} – Prototype
{% endblock %}

{% block beforeContent %}


{% endblock %}


{% block content %}

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds ">

  <form action="stop-screen-use-url-sign-in" method="post" novalidate="">

  
    <h1 class="govuk-heading-l">Page not found </h1> 

    <p class="govuk-body">If you selected the back button in the browser, you cannot go back to the previous page because of the changes made.</p>

    <p class="govuk-body">If you typed the web address, check it is correct.</p>

    <p class="govuk-body">If you pasted the web address, check you copied the entire address.</p>

    <p class="govuk-body">
      To view the companies you've added to your account, go to <a href="#" class="govuk-link">Your companies</a>.
    </p>

  




  
    
 
  </form>

            </div>
          </div>

{% endblock %}
