{% extends "layouts/layout-signed-out-agent.html" %}


{% block pageTitle %}
Authorised agent account
{% endblock %}

{% set serviceName %}
Find and update company information
{% endset %}

{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">

     <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l govuk-!-margin-bottom-3">Authorised agent account</h1> 
      <div class="govuk-hint">
        This is also known as an Authorised Corporate Service Provider (ACSP).

      </div>
      <div>

      <style>
          dt {
            float: left;
            margin-right: 10px;
          }
        </style> 



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">



        <dl class="govuk-list">
          <dt class="govuk-!-font-weight-bold"> 
            ACSP name:
          </dt>
          <dd>
              MORRIS ACCOUNTING LTD
             
          </dd>
          <dt class="govuk-!-font-weight-bold"> 
            ACSP status:
          </dt>
          <dd>
            <span class="govuk-tag govuk-tag--green">
              Active
            </span> 
          </dd>
          <dt class="govuk-!-font-weight-bold"> 
            ACSP number: 
          </dt>
          <dd class="govuk-!-margin-left-2">
           06254821
          </dd>
          <dt class="govuk-!-font-weight-bold"> 
            Your role:
          </dt>
          <dd>
            account owner
          </dd>

        </dl>

        <div class="govuk-inset-text"> <p><a href="">Add or remove the ACSP's details from the public list</a>.</p>
        </div>


        <h2 class="govuk-heading-m govuk-!-margin-bottom-3">Manage account</h2> 


        <ul class="govuk-list">
          <li class="gem-c-cards__list-item">
              <h3 class="govuk-heading-s">
                <a href="/browse/benefits">View and update details</a>
  </h3>              <p class="govuk-body ">You’ll need to tell us about any changes to the details about the business or Anti-Money Laundering (AML) registration within 14 days. </p>
          </li>

          <li class="gem-c-cards__list-item">
            <h3 class="govuk-heading-s">
              <a href="/browse/benefits">Manage users</a>
</h3>              <p class="govuk-body gem-c-cards__description">You can view, add and remove users for the ACSP. Users can access the account and use services for the ACSP. </p>
        </li>

        <li class="gem-c-cards__list-item">
          <h3 class="govuk-heading-s">
            <a href="/browse/benefits">Close account</a>
</h3>              <p class="govuk-body gem-c-cards__description">If you close this account, MORRIS ACCOUNTING LTD will no longer be registered as an ACSP.  </p>
        </div>
      </li>

  </ul>

</div>
</div>

   


      
            
  
  <!-- Agent services  -->


      <h2 class="govuk-heading-m govuk-!-margin-bottom-3">Services and information
      </h2>


      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

      <ul class="govuk-list">
        <li class="gem-c-cards__list-item">
            <h3 class="govuk-heading-s">
              <a href="/browse/benefits">Tell Companies House you have verified someone's identity</a>
</h3>              <p class="govuk-body gem-c-cards__description">Use our service to tell us if you've verified a client's identity. You have completed checks that meet our identity verification standard.</p>
        </li>

        <li class="gem-c-cards__list-item">
          <h3 class="govuk-heading-s">
            <a href="/browse/benefits">Change identity verification details            </a>
</h3>              <p class="govuk-body gem-c-cards__description">You can change the details for a person you've verified if you entered their details incorrectly, or if they have changed their name or email address. </p>
      </li>

      <li class="gem-c-cards__list-item">
        <h3 class="govuk-heading-s">
          <a href="/browse/benefits">Being an ACSP            </a>
</h3>              <p class="govuk-body gem-c-cards__description">Read the guidance on being an ACSP for information on your legal responsilibities and using this account. </p>
    </li>


</ul>

</div>
</div>






</div>

</div>
</div>

      
      
   
          

{% endblock %}
