{% extends "layouts/layout-signed-out-agent.html" %}


{% block pageTitle %}
Check the details before we send the email  – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back"
  }) }}
{% endblock %}


{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">

     <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">MORRIS ACCOUNTING LTD</span>
          <h1 class="govuk-heading-l">Check the details</h1> 

          {{ govukSummaryList({
            rows: [
              {
                key: {
                  text: "Email address"
                },
                value: {
                  text: "k.williams@example.com"
                }
              },
              {
                key: {
                  text: "Role"
                },
                value: {
                  html: "<strong class='govuk-tag govuk-tag--turquoise'>Administrator</strong>"
                }
              }
            ]
          }) }}

            {{ govukButton({
              text: "Confirm and change users role",
              href:"confirmation-edit-role-member-updated"
            }) }}
          
            <p class="govuk-body"> <a class="govuk-link" href="add-a-member">Change details</a> </p>

        
          

          

</div>
</div>


{% endblock %}
