{% extends "layouts/layout-signed-out-agent.html" %}

{% block pageTitle %}
  Your companies
{% endblock %}

{% set serviceName %}
 
{% endset %}


{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    {% set html %}
    <h3 class="govuk-notification-banner__heading">
      User added
    </h3>
    <p class="govuk-body">You have added <strong>l.williams@example.com</strong> as an account owner for MORRIS ACCOUNTING LTD.</p>

    <p>We've sent them an email to tell them you've added them.</p>
  {% endset %}

    {{ govukNotificationBanner({
      html: html,
      type: 'success'
    }) }}



       <span class="govuk-caption-l">MORRIS ACCOUNTING LTD</span>
          <h1 class="govuk-heading-l">What an account owner can do</h1> 



  <p class="govuk-body">An account owner can access services for the authorised agent.</p>

    <p>They can also:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>make changes to the authorised agent's details</li>
      <li>view all users who have been added to this account</li>
      <li>add and remove all users</li>
      <li>close the account</li>

    </ul>




           {{ govukButton({
              text: "Go to manage users",
              href:"member-home-member-added",
              classes:"govuk-!-margin-top-3"
            }) }}





</div>
</div>


{% endblock %}
