{% extends "layouts/layout-signed-out-agent.html" %}

{% block pageTitle %}
  Your companies
{% endblock %}

{% set serviceName %}
 
{% endset %}


{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    {% set html %}
    <h3 class="govuk-notification-banner__heading">
      User's role changed
    </h3>

    <!-- FOR ACC OWNERS-->
    <p class="govuk-body">James Morris is now an account owner for MORRIS ACCOUNTING LTD.</p><p>We've sent an email to <strong>james.morris@gmail.com</strong> to tell them you've changed their role.</p>
    
    <!--  FOR ADMIN
        <p class="govuk-body"><strong>l.williams@example.com</strong> is now an administrator for MORRIS ACCOUNTING LTD.</p>
    -->

    <!--  FOR STANDARD
        <p class="govuk-body"><strong>l.williams@example.com</strong> is now a standard user for MORRIS ACCOUNTING LTD.</p>
    -->    
  {% endset %}

    {{ govukNotificationBanner({
      html: html,
      type: 'success'
    }) }}



       <span class="govuk-caption-l">MORRIS ACCOUNTING LTD</span>
          <h1 class="govuk-heading-l">What an account owner can do</h1> 

  <p class="govuk-body">An account owner can access services for the authorised agent. </p>

    <!-- FOR ACC OWNERS-->

  <p class="govuk-body">They can also:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>update the authorised agent's details</li>
    <li>view all users who have been added to this account</li>
    <li>add and remove all users</li>
    <li>close the account</li>

    </ul>

    <p>If any of the details we hold about the authorised agent change, an account owner must update the account details. They must do this within 14 days.</p>

    <!--  FOR ADMIN
  <p class="govuk-body">They can also view all users who have been added to this account. They can add and remove: </p>

  <ul class="govuk-list govuk-list--bullet">
    <li>administrators</li>
    <li>standard users </li>
    </ul>    -->


    <!--  FOR STANDARD USERS
  <p class="govuk-body">They can also view all users who have been added to this account, but cannot add or remove users. </p>
  -->


           {{ govukButton({
              text: "Go to manage users",
              href:"member-home-member-added",
              classes:"govuk-!-margin-top-3"
            }) }}





</div>
</div>


{% endblock %}
