{% extends "layouts/layout-signed-out-agent.html" %}
{% block pageTitle %}
You cannot use this service
  -
  {{serviceName}}
  - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href:""
  }) }}
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      
      <h1 class="govuk-heading-l">You need to add an account owner</h1>
     <!-- {{ govukButton({
        text: "Appoint new director",
        href: "add/name?type=add"
      }) }} -->
       <p class="govuk-body">Authorised agents must have at least one account owner.</p>

       <p>You need to add an account owner to MORRIS ACCOUNTING LTD before you remove yourself from the account. </p>



  <details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Why authorised agents must have an account owner
    </span>
  </summary>
  <div class="govuk-details__text">
       <p>The authorised agent is legally required tell us if there is a change to any of the details we hold about the business within 14 days. </p>

              <p>If there are changes, an account owner must <a href="">update the details in the authorised agent account</a>. </p>
      
              <p>Account owners are also the only users who can:</p>
                 <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
                    <li>close the authorised agent account, if the business is no longer an authorised agent</li>
                    <li>add and remove other account owners</li>
                  </ul>
       
  </div>
</details>

       <button type="submit" class="govuk-button govuk-!-margin-top-3" data-module="govuk-button">
        Add an account owner 
      </button>

       <p><a href="">Manage users for MORRIS ACCOUNTING LTD</a></p>

      
    </div>
  </div>
{% endblock %}
