{% extends "layouts/layout_unbranded-with-banner.html" %}

{% block pageTitle %}

{% endblock %}

{% block header %}
    {{ govukHeader({ serviceName: "" }) }}
{% endblock %}



{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/sign-in" method="post" novalidate>

    <h1 class="govuk-heading-l">Companies House: <br>Jill Edwards is now authorised to file online for FLOWERS LIMITED</h1>

<p class="govuk-body">Jill Edwards is now digitally authorised to file online for FLOWERS LIMITED. They used the current authentication code to become authorised.</p>

<p class="govuk-body">If you were not expecting Jill Edwards to be digitally authorised, you should try to resolve this within the company.</p>


</form>

  </div>
  </div>
{% endblock %}
