{% extends "layout-signed-out.html" %}
{% block pageTitle %}
  {{serviceName}}
  - GOV.UK
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="start-page" method="post" novalidate>
      <h1 class="govuk-heading-xl">We have changed the way you sign in to Companies House</h1>
     
     <p class="govuk-body">We’ll ask you to create a GOV.UK One Login, which is the new way to sign in to government services. In the future, it will allow you to access any government service using the same email address and password. </p>
      
      <p class="govuk-body">If you already have a GOV.UK One Login, you’ll be able to sign in. </p>

      {{ govukButton({
        text: "Continue ",
        classes: "govuk-!-margin-top-4 govuk-!-margin-bottom-8",
        isStartButton: true
      }) }}

    </form>
    </div>
  </div>
{% endblock %}
