{% extends "layouts/layout_unbranded-with-banner.html" %}
<!-- Overwrite suerfice name -->


{% block pageTitle %}
  {{ serviceName }} – Prototype
{% endblock %}


{% set serviceName %}
 
{% endset %}

{% block beforeContent %}


{% endblock %}


{% block content %}

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds ">

  <form action="email-address-do-not-match-2" method="post" novalidate="">

  
    <h1 class="govuk-heading-l">What to do if you already have a GOV.UK One Login that uses a different email address</h1> 


    <p class="govuk-body">To connect your account with GOV.UK One Login, you must use the same email address for both.</p> 
    <div class="govuk-inset-text">

    <p class="govuk-body">The GOV.UK One Login <strong>email222@example.com</strong>, does not match your Companies House account email address, which is <strong>email111@example.com</strong>.</p>
  </div>


  <h2 class="govuk-heading-m"></h2> 


        
           <p class="govuk-body">If you want to connect this Companies House account to a GOV.UK One Login that uses a different email address, you have 2 options:</p>
           <h3 class="govuk-heading-s">Option 1</h3>
           <p class="govuk-body"><a href="#" class="govuk-link">Change your Companies House account email address</a> to match your GOV.UK One Login email address. Then go back to the ‘Manage account’ section and select continue.</p>
           <h3 class="govuk-heading-s">Option 2</h3>
           <p class="govuk-body"><a href="#" class="govuk-link" rel="noreferrer noopener" target="_blank">Sign in to GOV.UK One Login and change the email address to email111@example.com (opens in new tab)</a>, which is your Companies House account email address. Then go back to the ‘Manage account’ section and select continue.</p>
  


    
           <button type="submit" href="your-details-public-beta" class="govuk-button govuk-button--secondary govuk-!-margin-top-3 " data-module="govuk-button">
            Go back to 'Manage account'
          </button>
    
<!--     <p class="govuk-body">
      <a href="your-details-public-beta" class="govuk-link">Go back to 'Manage account'</a>
    </p>  -->



  
  </form>

            </div>
          </div>

{% endblock %}
