{% extends "layouts/layout_unbranded-with-banner.html" %}
<!-- Overwrite suerfice name -->


{% block pageTitle %}
  {{ serviceName }} – Prototype
{% endblock %}


{% set serviceName %}
 
{% endset %}

{% block beforeContent %}


{% endblock %}


{% block content %}

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds ">

  <form action="email-address-do-not-match" method="post" novalidate="">

  
    <h1 class="govuk-heading-l">Email addresses must match to connect your account to your GOV.UK One Login</h1> 

   
    <div class="govuk-inset-text">


      <!-- <p class="govuk-body">The GOV.UK One Login <strong>email222@example.com</strong>, does not match your Companies House account email address, which is <strong>email111@example.com</strong>.</p>
 -->


      <p class="govuk-body">The email address you entered for GOV.UK One Login is <strong>email222@example.com</strong>.</p> 
      
      <p class="govuk-body">This does not match your Companies House account email address, which is <strong>email111@example.com</strong>.</p>


    </div>

    <p class="govuk-body">To connect your Companies House account to your GOV.UK One Login, you must use the same email address for both.</p> 
    <!-- <p class="govuk-body">If you want to connect this Companies House account to a GOV.UK One Login that uses a different email address, you have 2 options:</p> -->

      {{ govukRadios({
        name: "email-does-not-match",
        fieldset: {
          legend: {
            text: "What do you want to do? ",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--m govuk-!-static-padding-top-4"
          }
        },
        items: [

        {
          value: "yes",
          classes: "govuk-!-static-padding-top-5",
          html: "Change your Companies House account email address to match your GOV.UK One Login email address",
       
          hint: { 
            text: ""
          }
          
        },

          {
            value: "no",
            text: "Change your GOV.UK One Login email address to email111@example.com, to match your Companies House account email address",
            hint: { 
              text: ""
            }
          }
         
          
          
        ]
      }) }}

<p>Once you've changed one of these email addresses, go back to 'Manage account' and select continue to connect your account to your GOV.UK One Login.</p>

<!--

    <h2 class="govuk-heading-s"> Create or sign in to a GOV.UK One Login with {{ data['chs-email'] }} </h2> 

    <div class="govuk-inset-text">
    <p class="govuk-body">Companies House email address is: <br> 
      <span class="govuk-body govuk-!-font-weight-bold"> {{ data['chs-email'] }} </span></p>
      </div>
    <h2 class="govuk-heading-s"> I already have a GOV.UK One Login but the email address is different to {{ data['chs-email'] }} </h2> 


    <p class="govuk-body">You need to change the email address in your Companies House account, to match the email address you use with GOV.UK One Login. <a href="your-details-public-beta" class="govuk-link">You need to go to the 'your details' page and change the email address to match the one you use for GOV.UK One Login.</a> </p> -->


 

     {{ govukButton({
      text: "Continue"
    }) }}  
    
   <!--  <p class="govuk-body">
      <a href="" class="govuk-link">Try another email address</a>
    </p> ---->


  
  <!-- <p class="govuk-body"><a href="#" class="govuk-link">Register</a></p>
  
  <p class="govuk-body"><a href="#" class="govuk-link">I've forgotten my password</a></p> -->
  
  </form>

            </div>
          </div>

{% endblock %}
