{% extends "layouts/layout_unbranded-with-banner.html" %}
<!-- Overwrite suerfice name -->


{% block pageTitle %}
  {{ serviceName }} – Prototype
{% endblock %}


{% set serviceName %}
 
{% endset %}

{% block beforeContent %}


{% endblock %}


{% block content %}

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds ">

  <form action="email-address-do-not-match" method="post" novalidate="">

  
    <h1 class="govuk-heading-l">Email address does not match</h1> 

    <p class="govuk-body">To connect your account with GOV.UK One Login, you must use the same email address for both.</p> 
    <div class="govuk-inset-text">


      <p class="govuk-body">The email address you entered for GOV.UK One Login is <strong>email222@example.com</strong>.</p> 
      
      <p class="govuk-body">This does not match your Companies House account email address, which is <strong>email111@example.com</strong>.</p>
  
    </div>
      {{ govukRadios({
        name: "email-does-not-match",
        fieldset: {
          legend: {
            text: "Choose an option: ",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [

        {
          value: "sameas-chs",
          html: "Change your Companies House account email address to match your GOV.UK One Login email address "
        },

          {
            value: "no",
            text: "Sign in to GOV.UK One Login and change the email address to email111@example.com"
          },
          {
            divider: "or"
          },
          {
            value: "abroad",
            text: "I do not want to change either of my email addresses",
            hint: {
              text: "This means we cannot connect your account to your GOV.UK One Login and your account information will not be saved"
            }
            
          }
        ]
      }) }}



<!--

    <h2 class="govuk-heading-s"> Create or sign in to a GOV.UK One Login with {{ data['chs-email'] }} </h2> 

    <div class="govuk-inset-text">
    <p class="govuk-body">Companies House email address is: <br> 
      <span class="govuk-body govuk-!-font-weight-bold"> {{ data['chs-email'] }} </span></p>
      </div>
    <h2 class="govuk-heading-s"> I already have a GOV.UK One Login but the email address is different to {{ data['chs-email'] }} </h2> 


    <p class="govuk-body">You need to change the email address in your Companies House account, to match the email address you use with GOV.UK One Login. <a href="your-details-public-beta" class="govuk-link">You need to go to the 'your details' page and change the email address to match the one you use for GOV.UK One Login.</a> </p> -->




     {{ govukButton({
      text: "Continue"
    }) }}  
    
   <!--  <p class="govuk-body">
      <a href="" class="govuk-link">Try another email address</a>
    </p> ---->


  
  <!-- <p class="govuk-body"><a href="#" class="govuk-link">Register</a></p>
  
  <p class="govuk-body"><a href="#" class="govuk-link">I've forgotten my password</a></p> -->
  
  </form>

            </div>
          </div>

{% endblock %}
