{% extends "layouts/layout-chs-signed-out.html" %}

{% block pageTitle %}
  {{ serviceName }} - GOV.UK
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <!-- Note: GOV.UK One Login uses Security as the title for this page -->
    <h1 class="govuk-heading-xl">
      Manage account
    
    </h1>

    <p class="govuk-body">You can change your sign in details for this service in your GOV.UK One Login.</p>
    
    <p class="govuk-body"> You'll be able to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>change your email address</li>
      <li>change your password</li>
      <li>change how you get security codes to sign in</li>
      <li>delete your GOV.UK One Login</li>
    </ul>

    <p class="govuk-body">
      <a href="#" class="govuk-link" rel="noreferrer noopener" target="_blank">Go to your GOV.UK One Login to change your sign in details (opens in a new tab) </a>
    </p>
    
    <p class="govuk-body govuk-!-margin-top-8 govuk-!-margin-bottom-8"> <a href="#" class="govuk-link govuk-link--no-visited-state">Manage third party applications</a></p>
<!--
    {{ govukButton({
      text: "Go to search for a company",
      classes: "govuk-button--secondary"
    }) }}
-->

  </div>
</div>

{% endblock %}
