{% extends "layouts/layout-chs-signed-out.html" %}

{% block pageTitle %}
  {{ serviceName }} - GOV.UK
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <!-- Note: GOV.UK One Login uses Security as the title for this page -->
    <h1 class="govuk-heading-xl">
      Your details
    </h1>

    <h2 class="govuk-heading-m ">Change your sign in details</h2>

    <p class="govuk-body">You use your GOV.UK One Login to sign into Companies House. </p>
    
    <p class="govuk-body"> You can change these details in your GOV.UK One Login.</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>email address</li>
      <li>password</li>
      <li>how you get security codes to sign in</li>
      <li>delete your GOV.UK One Login </li>
    </ul>

    <p class="govuk-body">
      <a href="#" class="govuk-link">Change your sign in details in your GOV.UK One Login </a>
    </p>



   






   
   
    <p class="govuk-body govuk-!-margin-top-8 govuk-!-margin-bottom-8"> <a href="#" class="govuk-link govuk-link--no-visited-state">Third party applications</a></p>

    {{ govukButton({
      text: "Go to search for a company",
      classes: "govuk-button--secondary"
    }) }}


  </div>
</div>

{% endblock %}
