{% extends "layout-search.html" %}
{% block pageTitle %}
  FlOWERS LTD - {{serviceName}} - GOV.UK
{% endblock %}

{% block content %}
  <!-- Filing history for the single company view -->
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <!-- Search bar -->
          <form action="/results" method="post">
            <div class="govuk-form-group">
              <label class="govuk-label" for="weight">
                Search
              </label>
              <div class="govuk-input__wrapper">
                <input class="govuk-input govuk-input--width-520" id="weight" name="weight" type="text" spellcheck="false" value="{{search}}">
                <div class="govuk-input__suffix" aria-hidden="true">            
                  <button style="background: none;border: none;" class="govuk-link">
                  <svg class="gem-c-search__icon" width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
                  <circle cx="12.0161" cy="11.0161" r="8.51613" stroke="currentColor" stroke-width="3"></circle>
                  <line x1="17.8668" y1="17.3587" x2="26.4475" y2="25.9393" stroke="currentColor" stroke-width="3"></line>
                  </svg>
                  </button>
                </div>
          </form>
        </div>
      </div>
      <span class="govuk-caption-l">Company number 00447790</span>
      <h1 class="govuk-heading-l">FLOWERS LTD</h1>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      {% include "includes/company_sidebar_links.html" %}
    </div>
    <div class="govuk-grid-column-three-quarters">
      <h2 class="govuk-heading-m">Filing history</h2>
      {{ govukButton({
        text: "File for this company"
      }) }}
      <h2 class="govuk-heading-s">Filter by category</h2>
      {{ govukTable({
        head: [
          {
            text: "Date",
            classes: 'govuk-!-width-one-quarter'
          },
          {
            text: "Description",
            classes: 'govuk-!-width-one-half'
          },
          {
            text: "View and download",
            classes: 'govuk-!-width-one-quarter'
          }
        ],
        rows: [
          [
            {
              text: "12 Jul 2021"
            },
            {
              text: "Purchase of own shares."
            },
            {
              text: "View PDF (5 pages)"
            }
         ],
         [
          {
            text: "11 Jul 2021"
          },
          {
            text: "Purchase of own shares."
          },
          {
            text: "View PDF (220 pages)"
          }
         ],
        [
          {
            text: "09 Jul 2021"
          },
          {
            text: "Director's details changed for Mrs Lindsey Jane Pownall on 9 December 2021"
          },
          {
            text: "View PDF (76 pages)"
          }
        ]
      ],
      classes: "govuk-table-s"
    }) }}
  </div>
</div>      
{% endblock %}