{% extends "layouts/main.html" %}

{% block pageTitle %}
  Shortcuts – {{ serviceName }} - GOV.UK
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
      {{serviceName}}
      <span class="govuk-caption-xl">Version 3</span>
    </h1>

    {{ govukWarningText({
      text: "This prototype is being actively worked on - things might break or change very quickly", iconFallbackText: "Warning" })
    }}
    
    {{ govukButton({
      text: "Start prototype",
      href:"chs-home"
    }) }}


    {# ENTRY POINTS AND LINKS TAB #}
    <div class="govuk-tabs" data-module="govuk-tabs">
      <h4 class="govuk-tabs__title">Contents</h4>
      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#code"> Entry points and links </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#form-versions">
            Previous versions
          </a>
        </li>
      </ul>

      <div class="govuk-tabs__panel" id="code">
        <h2 class="govuk-heading-m">Moving CHS accounts over to GOV.UK One login </h2>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="chs-home">Companies House Service Home</a>
          </li>
          <li>
            <a href="start-page">Start page - Changing the way you log in to Companies House</a>
          </li>
          <li>
            <a href="create-or-sign-in">Create a GOV.UK One Login or sign in
            </a>
          </li>
          <li>
            <a href="create-enter-email">Enter your email address
            </a>
          </li>
          <li>
            <a href="create-check-your-email">Check your email
            </a>
          </li>
          <li>
            <a href="create-enter-password">Create your password
            </a>
          </li>
          <li>
            <a href="create-choose-security-type">Choose how to get security
            </a>
          </li>
          <li>
            <a href="create-enter-mobile-number">Text message - Enter your mobile phone number
            </a>
          </li>
          <li>
            <a href="create-check-your-phone">Text message - Check your phone
            </a>
          </li>
          <li>
            <a href="create-enter-mobile-number">Set up an authenticator app
            </a>
          </li>
          <li>
            <a href="enter-email">Sign in - Enter email address
            </a>
          </li>
          <li>
            <a href="enter-password">Sign in - Enter password
            </a>
          </li>
          <li>
            <a href="create-complete">You've created your GOV.UK One login
            </a>
          </li>
          <li>
            <a href="one-login-sign-in">Enter your email address to sign in to your GOV.UK One Login
            </a>
          </li>
          <li>
            <a href="one-login-enter-password">  Enter your password
            </a>
          </li>
          <li>
            <a href="enter-code">Sign in - Check your phone
            </a>
          </li>
          </ul>

        <h2 class="govuk-heading-m">Linking to an existing Companies House account </h2>
        <ul class="govuk-list govuk-list--bullet">
        
          <li>
            <a href="existing-account">Do you have an existing Companies House account?
            </a>
          </li>
          <li>
            <a href="link-accounts">Linking your GOV.UK One login to your Companies House account
            </a>
          </li>
          <li>
            <a href="chs-sign-in">Sign in
            </a>
          </li>
          <li>
            <a href="accounts-linked">We have matched your GOV.UK One login to you Companies House account
            </a>
          </li>
          <li>
            <a href="chs-home-signed-in">Signed in to Companies House Service account
            </a>
          </li>
          </ul>

          <h2 class="govuk-heading-m">Manage account settings for CHS with GOV.UK One Login</h2>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              <a href="chs-one-login-settings">* New * Your details - Managing your details through GOV.UK One Login</a>
            </li>
            <li>
              <a href="chs-your-companies">* In progress * Your companies</a>
            </li>
          </ul>
          
          
          <h2 class="govuk-heading-m">Re-design of Companies House service</h2>
          <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="home-chs">Redesign of Companies House search the register</a>
          </li>
          <li>
            <a href="filing-history">Filing history</a>
          </li>
          <li>
            <a href="officers">Officers</a>
          </li>
          <li>
            <a href="results">Search results</a>
          </li>
        </ul>

        <h2 class="govuk-heading-m">Adding companies to your  of Companies House Service account</h2>
        <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="">* New Companies House Service account *</a>
        </li>
      </ul>
     
      <!-- <h2 class="govuk-heading-m">Existing Companies House service</h2>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="search">Search the register</a>
          </li>
          <li>
            <a href="search-results">Search results</a>
          </li>
        </ul>-->
      </div> 


      {# PREVIOUS VERSIONS TAB #}
      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="form-versions">
        <table class="govuk-table version-history">
          <caption class="govuk-table__caption govuk-heading-l">
            Previous versions
          </caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">
                Version
              </th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">
                Tested on
              </th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-half">
                Changes
              </th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">
                Status
              </th>
            </tr>
          </thead>

          <tbody class="govuk-table__body">
           <!-- <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">
                <a href="javascript: void(0)">Version X</a>
              </th>
              <td class="govuk-table__cell">TBA</td>
              <td class="govuk-table__cell">
                <p><a href="#">Feature</a></p>
                <p></p>
                <ul class="govuk-list govuk-list--bullet">
                  <li>Feature description</li>
                </ul>
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--red">
                  Not ready for user testing
                </strong>
              </td>
            </tr>

            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">
                <a href="">Version X</a>
              </th>
              <td class="govuk-table__cell">June 2022</td>
              <td class="govuk-table__cell">
                <p><a href="#">Feature</a></p>
                <p></p>
                <ul class="govuk-list govuk-list--bullet">
                  <li>Feature description</li>
                </ul>
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--green">
                  Ready for user testing
                </strong>
              </td>
            </tr> -->

            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">
                <a href="">Version 1</a>
              </th>
              <td class="govuk-table__cell">June 2023</td>
              <td class="govuk-table__cell">
                <p><a href="#">Feature</a></p>
                <p></p>
                <ul class="govuk-list govuk-list--bullet">
                  <li>Add feature description</li>
                </ul>
              </td>

              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--green">
                  In progress 
                </strong>
              </td>
            </tr>

          </tbody>

        </table>
      </div>
    </div>
  </div>
</div>

{% endblock %}
