{% extends "layouts/layout.html" %}

{% block pageTitle %}
  You’ve successfully proved your identity – GOV.UK One Login prototype
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        You’ve successfully proved your identity
      </h1>

        <p>You can now continue to the service you want to use.</p>

        <p>Some of the information you already shared when you proved your identity might be used to automatically fill in forms within the service.</p>

        <a href="returning">
        <button class="govuk-button" data-module="govuk-button">Continue</button>
        </a>

    </div>
  </div>




  <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
    <div class="govuk-accordion__section">
      <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
            Writing well for the web
          </span>
        </h2>
      </div>
      <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
        <p class="govuk-body">This is the content for Writing well for the web.</p>
      </div>
    </div>
    <div class="govuk-accordion__section">
      <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
            Writing well for specialists
          </span>
        </h2>
      </div>
      <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
        <p class="govuk-body">This is the content for Writing well for specialists.</p>
      </div>
    </div>
    <div class="govuk-accordion__section">
      <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
            Know your audience
          </span>
        </h2>
      </div>
      <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
        <p class="govuk-body">This is the content for Know your audience.</p>
      </div>
    </div>
    <div class="govuk-accordion__section">
      <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
            How people read
          </span>
        </h2>
      </div>
      <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
        <p class="govuk-body">This is the content for How people read.</p>
      </div>
    </div>
  </div>





{% endblock %}
