{% extends "layouts/main.html" %}
<!-- Overwrite suerfice name -->


{% block pageTitle %}
  {{ serviceName }} – Prototype
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds ">
  <h1 class="govuk-heading-l">Check your email</h1>

  <p class="govuk-body"> We've sent an email to <span class="govuk-!-font-weight-bold"> {{data['email']}}</span> which contains a security code. </p>


  <form action="webfiling-mfa" method="post" novalidate="">


      {{ govukInput({
              label: {
                text: "Security code"
              },
              classes: "govuk-input--width-10",
              id: "width-3",
              name: "width-3"
            }) }}
    
            {{ govukDetails({
              summaryText: "I have not received an email",
              html: "The email may take a few minutes to arrive. Its subject line is 'Companies House WebFiling account: security code'. <br>

              Check your junk folder. If it has not arrived, you can <a href='' class='govuk-link'> ask us to send you another email</a>.<br>

              If you still have not recieved the email, we can <a href='' class='govuk-link'> send the security code to your mobile phone instead.</a>"
            }) }}
  

            {{ govukButton({
              text: "Continue"
            }) }}        
  
  </form>

</div>
</div>

{% endblock %}
