{% extends "layouts/layout-signed-out-agent.html" %}


{% block pageTitle %}
Check the details before we send the email  – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back"
  }) }}
{% endblock %}


{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">

     <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">MORRIS ACCOUNTING LTD</span>
          <h1 class="govuk-heading-l">Check the details</h1> 

          {{ govukSummaryList({
            rows: [
              {
                key: {
                  text: "User"
                },
                value: {
                  text: "	James Morris"
                }
              },
              {
                key: {
                  text: "Role"
                },
                value: {
                  text: "Administrator"
                },
                actions: {
                  items: [
                    {
                      href: "edit-member-role-admin",
                      text: "Change",
                      visuallyHiddenText: "change role"
                    }
                  ]
                }
              }
            ]
          }) }}


<div class="govuk-inset-text">
  We'll send an email to <strong>james.morris@gmail.com</strong> to tell them you've changed their role.
</div>
    

            {{ govukButton({
              text: "Confirm",
              href:"stop-screen-edit-role-removing-relevant-officer"
            }) }}
          


        
          

          

</div>
</div>


{% endblock %}
