{% extends "layouts/layout-signed-out-agent.html" %}
{% block pageTitle %}
You cannot use this service
  -
  {{serviceName}}
  - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href:""
  }) }}
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <h1 class="govuk-heading-l">You need to be added to an authorised agent account to view this page</h1>
     <!-- {{ govukButton({
        text: "Appoint new director",
        href: "add/name?type=add"
      }) }} -->
       <p class="govuk-body">You’ll need to ask to be added to an authorised agent account to view its users. </p>

       <p>If there's not an existing account for your business, you can <a href="link-to-registration-service">apply to register as an authorised agent with Companies House</a>. </p>




      
    </div>
  </div>
{% endblock %}
