{% extends "layout-signed-out.html" %}

{% block pageTitle %}
{{ serviceName }} – GOV.UK One Login prototype
{% endblock %}

{% set serviceName %}
  
{% endset%}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {% from "govuk/components/input/macro.njk" import govukInput %}


        <h1 class="govuk-heading-l">Check your phone</h1>

        <div class="govuk-inset-text">
          We have sent a code to your phone number ending with <p class="govuk-body govuk-!-font-weight-bold"> 896</p>
        </div>
    
        <p class="govuk-body"> It might take a few minutes to arrive. The code will expire after 15 minutes.
        </p>
    
            {{ govukInput({
              label: {
                text: "Enter the 6 digit code."
              },
              classes: "govuk-input--width-10",
              id: "width-3",
              name: "width-3"
            }) }}
    
            <a href="signed-in">
              <button class="govuk-button">Continue</button>
              </a>
    
            {{ govukDetails({
              summaryText: "Problems with the code",
              html: "<p> We can <a href='' class='govuk-link'>send the code again </a> or you can <a href='' class='govuk-link'>use a different number</a>.</p>
              <p> <a href='' class='govuk-link'>Get a code another way</a>.</p>"
            }) }}


    </div>
  </div>

{% endblock %}
