{% extends "layout-no-header.html" %}

{% block pageTitle %}
  Shortcuts – {{ serviceName }} - GOV.UK
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
      {{serviceName}}
      <span class="govuk-caption-xl">Version 1</span>
    </h1>

    {{ govukWarningText({
      text: "This prototype is being actively worked on - things might break or change very quickly", iconFallbackText: "Warning" })
    }}
    
    {# ENTRY POINTS AND LINKS TAB #}
    <div class="govuk-tabs" data-module="govuk-tabs">
      <h4 class="govuk-tabs__title">Contents</h4>
      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#code"> Entry points and links </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#form-versions">
            Previous versions
          </a>
        </li>
      </ul>

      <div class="govuk-tabs__panel" id="code">
        <h2 class="govuk-heading-m">Moving CHS accounts over to GOV.UK One login </h2>
        <ul class="govuk-list govuk-list--bullet">

          <li>
            <a href="start-page">Start page - Changing the way you log in to Companies House</a>
          </li>
          <li>
            <a href="sign-in-or-create">Create a GOV.UK One Login or sign in
            </a>
          </li>

          

          <li>
            <a href="search-register">Search the register</a>
          </li>
           <li>
            <a href="sign-in">Sign in</a>
          </li>
          <li>
            <a href="filing-history">Filing history</a>
          </li>
          <li>
            <a href="officers">Officers</a>
          </li>
          <li>
            <a href="results">Search results</a>
          </li>
        </ul>
     
      <h2 class="govuk-heading-m">Existing CHS screens</h2>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="search">Search the register</a>
          </li>
          <li>
            <a href="search-results">Search results</a>
          </li>
        </ul>
      </div>


      {# PREVIOUS VERSIONS TAB #}
      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="form-versions">
        <table class="govuk-table version-history">
          <caption class="govuk-table__caption govuk-heading-l">
            Previous versions
          </caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">
                Version
              </th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">
                Tested on
              </th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-half">
                Changes
              </th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">
                Status
              </th>
            </tr>
          </thead>

          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">
                <a href="javascript: void(0)">Version X</a>
              </th>
              <td class="govuk-table__cell">TBA</td>
              <td class="govuk-table__cell">
                <p><a href="#">Feature</a></p>
                <p></p>
                <ul class="govuk-list govuk-list--bullet">
                  <li>Feature description</li>
                </ul>
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--red">
                  Not ready for user testing
                </strong>
              </td>
            </tr>

            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">
                <a href="">Version X</a>
              </th>
              <td class="govuk-table__cell">June 2022</td>
              <td class="govuk-table__cell">
                <p><a href="#">Feature</a></p>
                <p></p>
                <ul class="govuk-list govuk-list--bullet">
                  <li>Feature description</li>
                </ul>
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--green">
                  Ready for user testing
                </strong>
              </td>
            </tr>

            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">
                <a href="">Version X</a>
              </th>
              <td class="govuk-table__cell">May 2022</td>
              <td class="govuk-table__cell">
                <p><a href="#">Feature</a></p>
                <p></p>
                <ul class="govuk-list govuk-list--bullet">
                  <li>Feature description</li>
                </ul>
              </td>

              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--green">
                  User tested
                </strong>
              </td>
            </tr>

          </tbody>

        </table>
      </div>
    </div>
  </div>
</div>

{% endblock %}
