{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  
    <h1 class="govuk-heading-l">
      Account prototype
    </h1>


    {{ govukWarningText({
      text: "This prototype is being actively worked on - things might break or change very quickly",
      iconFallbackText: "Warning"
    }) }}




    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <h2 class="govuk-heading-m govuk-!-padding-top-4">
      GOV.UK One login prototype flow
    </h2>

    {{ govukButton({
      text: "Start prototype",
      href:"/v3/create-or-sign-in"
    }) }}


  </div>
</div>

{% endblock %}
