{% extends "layout-signed-out.html" %}

{% block pageTitle %}
  You’ve signed in to your GOV.UK One Login – GOV.UK One Login prototype
{% endblock %}
{% set serviceName %}
  
{% endset%}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      
      <h1 class="govuk-heading-l">Save your Companies House information</h1>
      
      <p class="govuk-body">You may have information currently stored in your Companies House account, such as:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>a record of your filing history</li>
        <li>companies you follow</li>
      </ul>

              {{ govukRadios({
                name: "link-accounts",
                fieldset: {
                  legend: {
                    text: "Do you want us to save your existing Companies House information?",
                    isPageHeading: false,
                    classes: "govuk-fieldset__legend--m"
                  }
                },
                items: [
                  {
                    value: "yes",
                    text: "Yes"
                  },
                  {
                    value: "no",
                    text: "No",
                    
  hint: {
    text: "You will lose this information if you select ‘no’."
  }
                  }
                ]
              }) }}

              {{ govukButton({
                href:"sign-in",
                text: "Continue"
              }) }}


    </div>
  </div>

{% endblock %}
