{% extends "layout-signed-out.html" %}

{% block pageTitle %}
  You’ve signed in to your GOV.UK One Login – GOV.UK One Login prototype
{% endblock %}
{% set serviceName %}
  
{% endset%}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Do you have an existing Companies House account? </h1>


      {{ govukRadios({
        name: "where-do-you-live",
        fieldset: {
          legend: {
            text: "",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "yes",
            text: "Yes"
          },
          {
            value: "no",
            text: "No"
          }
        ]
      }) }}

      

        <a href="link-accounts">
        <button class="govuk-button">Continue</button>
        </a>

    </div>
  </div>

{% endblock %}
