{% extends "layout-signed-out.html" %}
{% block pageTitle %}
  {{serviceName}}
  - GOV.UK
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-xl">We have changed the way you sign in to Companies House</h1>
     
     <p class="govuk-body">From now on, you need to sign in to Companies House using GOV.UK One Login. </p>

     {{ govukDetails({
      summaryText: "What is GOV.UK One Login",
      text: "This is the new way for you to sign in to GOV.UK services. In the future, you’ll be able to use it to access all services, using the same email address and password."
    }) }}

    <div class="govuk-inset-text">
      <p class="govuk-body"> If you have a <a href="https://idam-ui.company-information.service.gov.uk/" class="govuk-link">WebFiling</a> account, your sign in details will not change for that account. </p>
    </div>
   
      {{ govukButton({
        text: "Continue ",
        href: "create-or-sign-in",
        classes: "govuk-!-margin-top-4 govuk-!-margin-bottom-8",
        isStartButton: true
      }) }}

    </div>
  </div>
{% endblock %}
