{% extends "layout-signed-out.html" %}
{% block pageTitle %}
  {{serviceName}}
  - GOV.UK
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-xl">We have changed the way you sign in to Companies House</h1>
     
     <p class="govuk-body">From now on, you'll need to sign in to Companies House using a GOV.UK One Login. 
      
      <p class="govuk-body"></p>We'll ask you to create a GOV.UK One Login, or you can sign in if you already have one. </p>

     {{ govukDetails({
      summaryText: "What is a GOV.UK One Login",
      text: "This is the new way to sign in to government services. In the future, it will allow you to access any government service using the same email address and password."
    }) }}
   
      {{ govukButton({
        text: "Continue ",
        href: "create-or-sign-in",
        classes: "govuk-!-margin-top-4 govuk-!-margin-bottom-8",
        isStartButton: true
      }) }}

    </div>
  </div>
{% endblock %}
