{% extends "layouts/layout-signed-out-agent.html" %}


{% block pageTitle %}
 Manage members 
{% endblock %}

{% set serviceName %}
 
{% endset %}

{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">

     <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">MORRIS ACCOUNTING LTD<h1 class="govuk-heading-l">Authorised agent services </h1></span>

      <!-- Filing summary  -->


      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">File on behalf of Authorised agent </h2>
          <!-- <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">Delete choice<span class="govuk-visually-hidden"> of University of Gloucestershire (University of Gloucestershire)</span></a>
            </li>
            <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">Withdraw<span class="govuk-visually-hidden"> from University of Gloucestershire (University of Gloucestershire)</span></a>
            </li>
          </ul> -->
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">

              <p class="govuk-body">You are authorised to file on behalf of MORRIS ACCOUNTING LTD. </p>

              <p class="govuk-body">  Authorised agent number  06254821 </p>





     <!-- <p class="govuk-body">
        Continue to <a href="#" class="govuk-link">WebFiling</a> to file for a company.
      </p>

      <p class="govuk-body">
        Continue to <a href="#" class="govuk-link">Companies House service</a> to file or search the register.
      </p> --> 
              
            </div>
          </dl>
        </div>
      </div>

      <!-- Managing members  -->


      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">Manage people </h2>
           <ul class="govuk-summary-card__actions">
           <!-- <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">Manage members<span class="govuk-visually-hidden"> of MORRIS ACCOUNTING LTD (0122239)</span></a>
            </li>
            <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">Withdraw<span class="govuk-visually-hidden"> from University of Gloucestershire (University of Gloucestershire)</span></a>
            </li>-->
          </ul>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">

              <p class="govuk-body">Add or remove people who work for the authorised agent.
              </p>

              <p class="govuk-body">
                 <a href="member-home" class="govuk-link">Add or remove a person</a>
              </p>
              
            </div>
          </dl>
        </div>
      </div>

      <!-- Verify someone identity -->

      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">Verify someone's identity <strong class="govuk-tag govuk-tag--blue">
            Coming soon
          </strong> </h2>
          <!-- <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">Delete choice<span class="govuk-visually-hidden"> of University of Gloucestershire (University of Gloucestershire)</span></a>
            </li>
            <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">Withdraw<span class="govuk-visually-hidden"> from University of Gloucestershire (University of Gloucestershire)</span></a>
            </li>
          </ul> -->
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">

              <p class="govuk-body">Use this service to tell us about a person whose identity you have verified.

              </p>

              <p class="govuk-body">
                 <a href="#" class="govuk-link">Tell Companies House you have verified someone's identity</a>
              </p>
              
            </div>
          </dl>
        </div>
      </div>

      <!-- Update authorised agent details -->

      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">Update authorised agent's details </h2>
          <!-- <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">Delete choice<span class="govuk-visually-hidden"> of University of Gloucestershire (University of Gloucestershire)</span></a>
            </li>
            <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">Withdraw<span class="govuk-visually-hidden"> from University of Gloucestershire (University of Gloucestershire)</span></a>
            </li>
          </ul> -->
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">

              <p class="govuk-body">Use this service to tell us about any changes to the agent's details. You must tell us about any changes to the Anti-Money-Laundering (AML) registration details within 14 days. 
              </p>

            <!--  {{ govukWarningText({
                text: "You must tell us about any changes to the Anti-Money-Laundering (AML) registration details within 14 days. ",
                iconFallbackText: "Warning"
              }) }} -->

              <p class="govuk-body">
                 <a href="#" class="govuk-link">Update the authorised agent's details</a>
              </p>
              
            </div>
          </dl>
        </div>
      </div>

      
      
    

{% endblock %}
