{% extends "layouts/layout-signed-out-agent.html" %}


{% block pageTitle %}
 Manage members 
{% endblock %}

{% set serviceName %}
 
{% endset %}

{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">

     <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">MORRIS ACCOUNTING LTD (0122239)<h1 class="govuk-heading-l">Authorised agent services</h1></span>

      <!-- Managing members  -->

      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">Manage members </h2>
           <ul class="govuk-summary-card__actions">
           <!-- <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">Manage members<span class="govuk-visually-hidden"> of MORRIS ACCOUNTING LTD (0122239)</span></a>
            </li>
            <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">Withdraw<span class="govuk-visually-hidden"> from University of Gloucestershire (University of Gloucestershire)</span></a>
            </li>-->
          </ul>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">

              <p class="govuk-body">Add or remove members who work for the authorised agent.
              </p>

              <p class="govuk-body">
                 <a href="member-home" class="govuk-link">Manage authorised agent members</a>
              </p>
              
            </div>
          </dl>
        </div>
      </div>

      <!-- Verify someone identity -->

      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">Verified someone's identity <strong class="govuk-tag govuk-tag--blue">
            Coming soon
          </strong> </h2>
          <!-- <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">Delete choice<span class="govuk-visually-hidden"> of University of Gloucestershire (University of Gloucestershire)</span></a>
            </li>
            <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">Withdraw<span class="govuk-visually-hidden"> from University of Gloucestershire (University of Gloucestershire)</span></a>
            </li>
          </ul> -->
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">

              <p class="govuk-body">Use this service to tell us about a person whose identity you have verified.

              </p>

              <p class="govuk-body">
                 <a href="#" class="govuk-link">Tell Companies House about a person whose identity you have verified</a>
              </p>
              
            </div>
          </dl>
        </div>
      </div>

      

{% endblock %}
