{% extends "layouts/layout-signed-out-agent.html" %}

{% block pageTitle %}
  Your companies
{% endblock %}

{% set serviceName %}
 
{% endset %}


{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">

     <div class="govuk-grid-column-two-thirds">
       <span class="govuk-caption-l">MORRIS ACCOUNTING LTD (0122239)</span>
          <h1 class="govuk-heading-l">Add a person</h1> 

          {{ govukInput({
            label: {
              text: "Full name"
            },
            id: "full-name",
            name: "full-name",
            autocomplete: "name",
            spellcheck: false
          }) }}

          {{ govukInput({
            label: {
              text: "Email address"
            },
            hint: {
              text: "We'll send an email to tell them you've added them."
            },
            id: "email",
            name: "email",
            type: "email",
            autocomplete: "email",
            spellcheck: false
          }) }}

          {{ govukRadios({
            name: "role",
            fieldset: {
              legend: {
                text: "What is their role?",
                classes: "govuk-fieldset__legend--m govuk-!-static-padding-top-3"
              }
            },
            items: [
              {
                value: "super-admin",
                text: "Account owner",
                hint: {
                  text: "Can make changes to the authorised agent's details, add or remove other account owners and users, and file as an authorised agent. You can choose if you want them to be able to verify people's identity."
                }
              },
              {
                value: "admin",
                text: "Admin user",
                hint: {
                  text: "Can add or remove admin and standard users, and file as an authorised agent. You can choose if you want them to verify people's identity. "
                }
              },
              {
                value: "standard-user",
                text: "Standard user",
                hint: {
                  text: "Can file as an authorised agent. You can choose if you want them to verify people's identity. "
                }
              }
            ]
          }) }}

         <!--- <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                What services can members access?
              </span>
            </summary>
            <div class="govuk-details__text">
              <p>Members of an authorised agent can:</p>
          
          <ul class="govuk-list govuk-list--bullet">
            <li>form companies and registrable partnerships for clients </li>
            <li>file on behalf of clients </li>
            <li>verify someone’s identity </li>
          </ul>
            <p>They will only be able to add or remove other members if you add them as an admin. </p>
            </div>
          </details> -->


          <!-- form companies and registrable partnerships for clients -->
       <!--   {{ govukCheckboxes({
            name: "service-access",
            fieldset: {
              legend: {
                text: "What services do they need to use?",
                classes: "govuk-fieldset__legend--m govuk-!-static-padding-top-3"
              }
            },
            hint: {
              text: "Select all that apply."
            },
            items: [
              {
                value: "filings",
                text: "File on behalf of clients"
              },
              {
                value: "farm",
                text: "Verify someone’s identity"
              }
            ]
          }) }} -->

          {{ govukRadios({
  name: "service-access",
  fieldset: {
    legend: {
      text: "Do they need to verify people's identity for Companies House?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "yes",
      text: "Yes"
    },
    {
      value: "no",
      text: "No"
    }
  ]
}) }}





           {{ govukButton({
              text: "Continue",
              href:"check-member-details"
            }) }}





</div>
</div>


{% endblock %}
