{% extends "layouts/layout-signed-out-agent.html" %}


{% block pageTitle %}
Check the details before we send the email  – {{ serviceName }} – GOV.UK
{% endblock %}


{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">

     <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">MORRIS ACCOUNTING LTD (0122239)</span>
          <h1 class="govuk-heading-l">Check the details before we send the email</h1> 

          {{ govukSummaryList({
            rows: [
              {
                key: {
                  text: "Name"
                },
                value: {
                  text: "Dylan Jones "
                }
              },
              {
                key: {
                  text: "Email address"
                },
                value: {
                  text: "d.jones@example.com"
                }
              },
              {
                key: {
                  text: "Role"
                },
                value: {
                  html: "<strong class='govuk-tag govuk-tag--yellow'>Standard</strong>"
                }
              },
              {
                key: {
                  text: "Can they verify someone's identity?"
                },
                value: {
                  html: "No"
                }
              }
            ]
          }) }}

            {{ govukButton({
              text: "Confirm and send email",
              href:"member-home-member-added-2"
            }) }}
          
            <p class="govuk-body"> <a class="govuk-link" href="account-add-acsp-members">Change details</a> </p>

        
          

          

</div>
</div>


{% endblock %}
