{% extends "layouts/layout-signed-out-agent.html" %}

{% block pageTitle %}
  Your companies
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href:""
  }) }}
{% endblock %}


{% block content %}

<div class="govuk-width-container">


<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

    <form action="/remove-authorised-person" method="post" novalidate>


    <span class="govuk-caption-xl" >MORRIS ACCOUNTING LTD</span>

    <h1 class="govuk-heading-xl">Remove d.jones@example.com</h1>

    <p class="govuk-body">
      If you remove d.jones@example.com, they will not be able to use authorised agent services for MORRIS ACCOUNTING LTD. </p>




  <p class="govuk-body">
    We’ll email d.jones@example.com to let them know you have removed them.</p>


<!--
  {{ govukCheckboxes({
    idPrefix: "waste",
    name: "waste",
    fieldset: {
      legend: {
        text: "",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
      }
    },

    items: [

      {
        value: "mines",
        text: "I confirm that I have read and understood this information."
      }
    ] 
  }) }}  -->



  <div class="govuk-button-group">
    {{ govukButton({
      text: "Remove person",
      classes: "govuk-button--warning",
      href:"confirmation-member-removed"
    }) }}
  
    <a class="govuk-link" href="manage-authorised-people">Cancel</a>
  </div>



     


      </div>
    </div>
  </form>
</div>
</div>
</div>


{% endblock %}
